
a {
	color: #00019b;
	font-weight: bold;
}

a:visited {
	color: #006;
}

a:hover {
	color: #069;
}

body	{
	background-color: #fff;
	margin: 0px;
}

body, td {
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
}

form {
	margin: 0;
	padding: 0; /* thanks #mozilla */
}

h2 {
	border-bottom: 2px solid #333;
	color: #333;
	margin: 0 5px 2px 5px;
	padding: 3px;
}

label {
	font-weight: bold;
}

p {
	line-height: 130%;
}

textarea, input, select {
	background-color: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 1px;
	padding: 2px;
}

.checkbox {
	background-color: #fff;
	border-width: 0px;
	margin: 0px;
	padding: 0px;
}


.quicktags, .search {
	background-color: #ccc;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
}

.wrap {
	border: 1px solid #ccc;
	margin: 20px auto 10px auto;
	padding: 10px;
	width: 85%;
}

#adminmenu {
	list-style: none outside;
	margin: 5px 0 0 0;
	margin-left: 40px;
	padding: 0;
}

#adminmenu #last {
	border-right: none;
}

#adminmenu a {
	border: 1px solid #fff;
	color: #333;
	padding: 3px 8px 3px 7px;
	text-decoration: none;
}

#adminmenu a:hover, #current {
	background-color: #e9e9e9;
	border: 1px solid #808080;
	color: #333;
}

#adminmenu li {
	border-right: 1px solid #ccc;
	display: block;
	float: left;
	padding: 4px;
	text-align: center;
}

#login {
	background: url(http://wordpress.org/images/wp-small.png) #fff no-repeat top center;
	border: 2px solid #333;
	color: #333;
	padding: 40px 5px 5px 5px;
	text-align: right;
	width: 210px;
}

#wphead {
	background-image: url(http://wordpress.org/images/wp-small.png);
	background-repeat: no-repeat;
	border-bottom: 4px solid #333;
	height: 42px;
	margin: 5px;
}

#wphead a {
	display: block;
	height: 30px;
}

#wphead a span {
	display: none;
}
