html { background: #eee; }

body {
	background: #fff;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin-left: 20%;
	margin-right: 20%;
	padding: .2em 2em;
}

h1 {
	color: #006;
	font-size: 18px;
	font-weight: lighter;
}

h2 { font-size: 16px; }

p, li, dt {
	line-height: 140%;
	padding-bottom: 2px;
}

ul, ol { padding: 5px 5px 5px 20px; }

#logo { margin-bottom: 2em; }

.step a, .step input { font-size: 2em; }

td input { font-size: 1.5em; }

.step, th { text-align: right; }

#footer {
	text-align: center; 
	border-top: 1px solid #ccc; 
	padding-top: 1em; 
	font-style: italic;
}