html,
.dbx-handle,
#post_name,
input[name=link_url],
input[name=link_image],
input[name=opml_url],
input[name=file],
input#rss_uri,
#template #newcontent,
#devnews,
#planetnews,
#content,
body.login #login a,
#newcomment_author_url,
#email {
	direction: ltr;
	}
#adminmenu,
#submenu,
#minisub,
.wrap,
.updated,
.confirm,
#devnews h3,
#planetnews h3,
#wphead,
#user_info,
body.login,
#login_error {
	direction: rtl;
	}
p.submit,
.dbx-handle {
	text-align: left;
	}
html *,
select,
input,
table * {
	font-family: tahoma, Tahoma, "Times New Roman", Times, serif;
	}
#wphead {
	padding: .8em 2em .8em 19em;
	}
#user_info {
	right: auto;
	left: 1em;
	}
#adminmenu {
	padding: .2em 2em .3em .2em;
	height: 28px;
	}
* html #adminmenu {
	padding-bottom: 0;
	}
#adminmenu a {
	margin: 0 0 0 10px;
	display: block;
	float: right;
	font: 700 16px/130% "Times New Roman", Times, serif;
	}
#adminmenu a.current {
	border-right: 0;
	border-left: 2px solid #4f96c8;
	}
#submenu, #minisub {
	padding: 1px 3em 0 2em;
	}
#submenu {
	height: 28px;
	}
#submenu a {
	margin: 0 0 0 10px;
	display: block;
	float: right;
	line-height: 155%;
	}
#submenu .current {
	border-right: 0;
	border-left: 2px solid #045290;
	}
.dbx-content input, .dbx-content select {
	margin-right: 8px;
	}
#newcat {
	width: 100px;
	}
.updated, .confirm {
	background-position: 98.5%;
	padding: 0 3em 0 1em;
	}
.page-numbers {
	margin-right: auto;
	margin-left: 3px;
	}
.wrap ul {
	margin-right: 45%;
	margin-left: 0;
	}
* html .wrap ul {
	margin-right: 50%;
	}
.wrap h2 {
	font-family: "Times New Roman", Times, serif;
	}
#zeitgeist {
	margin-right: 1em;
	}
#zeitgeist ul {
	margin: 0 .6em .3em 0;
	padding: 0 .6em 0 0;
	}
#categorydiv ul {
	margin-left: auto;
	margin-right: 10px;
	}
a.view-link {
	left: 6%;
	right: auto;
	margin-right: auto;
	}
#postdiv #quicktags {
	padding-right: 0;
	padding-left: 6px;
	margin-right: 0;
	}
.options ul {
	margin-right: 0;
	}
*form#template > div > textarea#newcontent {
	margin-right: -300px;
	width: 107%;
	}