#viewarc, #viewcat, #namediv, #emaildiv, #uridiv, #planetnews li, #login ul li, #your-profile fieldset, .alignleft .available-theme {
	float: right
}

#templateside, .alignright {
	float: left;
}

#login, #send, .widefat th {
	text-align: right
}

#postcustomsubmit, form#upload th, .submit, .editform th {
	text-align: left
}

body, td {
	font: 13px Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana;
}

fieldset.options legend {
	font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
}

textarea, input, select {
	font:  13px Tahoma, Verdana, Arial, Helvetica, sans-serif;
}

.quicktags, .search {
	font: 12px Tahoma, Georgia, "Times New Roman", Times, serif;
}

.submit input, .submit input:focus, .button {
	border-right-color: #ccc;
}

.submit input:active, .button:active {
	border-right-color: #999;
}

.updated, .confirm {
	padding: 0 3em 0 1em;
}

#adminmenu {
	padding: .2em 2em .3em .2em;
	height: 30px;
}

#adminmenu a {
	margin: 0 0 0 10px;
	display: block;
	float: right;
}

#submenu {
	height: 21px;
	padding: 3px 3em 0 2em;
}

#submenu .current {
	border-left: 2px solid #045290;
}

#submenu a {
	padding: .3em .4em .33em .4em;
	margin: 0 0 0 10px;
	display: block;
	float: right;
}

#submenu li {
	line-height: 100%;
}

#postdiv , #titlediv, #guiddiv {
	margin: 0 0 0 8px;
}

#currenttheme img {
	float: right;
	margin-right: auto;
	margin-left: 1em;
}

#postdiv #quicktags {
	padding-right: auto;
	padding-left: 6px;
}

#quicktags #ed_toolbar {
	padding: 0px 0 0 2px;
}

#ed_toolbar input {
	margin: 3px 0 2px 2px;
}

* html #postexcerpt .dbx-toggle-open, * html #postexcerpt .dbx-toggle-open, #postexcerpt div, #attachmentlinks div {
	padding-right: auto;
	padding-left: 8px;
}

#login h1 {
	left: auto;
	right: 137px;
}

#login h1 a {
	display: none;
}

#searchform {
	float: right;
	margin-right: auto;
	margin-left: 3em;
}

#poststuff {
	margin-right: auto;
	margin-left: 16em;
}

#template div {
	margin-right: auto;
	margin-left: 190px;
}

* html #template div {
	margin-right: auto;
	margin-left: 0px;
}

#user_info {
	right: auto;
	left: 1em;
}

#wphead {
	padding: .8em 2em .8em 19em;
}

#wphead h1 {
	font-size: 2.4em;
	font-family: Tahoma, Georgia, "Times New Roman", Times, serif
}

#zeitgeist {
	float: left;
	margin-left: auto;
	margin-right: 1em;
}

#zeitgeist ul {
	margin: 0 .6em .3em 0;
	padding: 0 .6em 0 0;
}

#moremeta fieldset div {
	margin: 2px 0px 0 0;
}
#moremeta {
	margin-right: auto;
	margin-left: 15px;
	right: auto;
	left: 5%;
}
#categorydiv ul {
	margin-left: auto;
	margin-right: 10px;
}

#your-profile legend {
	font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
}

#moremeta .dbx-content {
	background: url(images/box-butt.gif) no-repeat bottom left;
	padding-right: auto;
	padding-left: 2px;
}

#moremeta .dbx-handle {
	background: #2685af url(images/box-head.gif) no-repeat left;
}

#moremeta .dbx-box {
	background: url(images/box-bg.gif) repeat-y left;
}

a.dbx-toggle, a.dbx-toggle:visited {
	right: auto;
	left: 2px;
}

#advancedstuff a.dbx-toggle, #advancedstuff a.dbx-toggle-open:visited {
	right: auto;
	left: 5px;
}

#advancedstuff a.dbx-toggle-open, #advancedstuff a.dbx-toggle-open:visited {
	right: auto;
	left: 5px;
}

#categorychecklist {
	margin-right: auto;
	margin-left: 6px;
}

#ajax-response.alignleft {
	margin-left: auto;
	margin-right: 2em;
}

#postdivrich #edButtons {
	padding-left: auto;
	padding-right: 3px;
}

#edButtons input, #edButtons input:active {
	margin: 0px 0 -1px 2px;
}
