/* 0 - 200
=================================== */
form#upload th {
	text-align: left;
}
td.available-theme {
	text-align: right;
}
#current-theme img {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}
.quicktags, .search {
	font-family: Tahoma, Arial;
}
/* 200 - 500
=================================== */
#save-post {
	float: left;
}
.preview {
	float: right;
}
#post-body .misc-pub-section {
	border-right: 0 none;
	border-left: 1px solid #eee;
	float: right;
}
#post-body .misc-pub-section-last {
	border-left: 0;
}
#delete-action {
	text-align: right;
	float: right;
}
#publishing-action {
	text-align: left;
	float: left;
}
.side-info ul {
	padding-left: 0;
	padding-right: 18px;
}
.submit input,
.button,
.button-primary,
.button-secondary,
.button-highlighted {
	font-family: Tahoma, Arial;
}
#wpcontent select {
	font-family: Tahoma, Arial;
}
#quicktags {
	background-position: right top;
}
/* 500 - 700
=================================== */
#searchform fieldset {
	float: right;
	margin: 0 0 1em 1.5ex;
}
#searchform fieldset legend {
	padding: 0 1px .2em 0;
}
#searchform #post-query-submit {
	float: right;
}
#template div {
	margin-right: 0;
	margin-left: 190px;
}
* html #template div {
	margin-left: 0;
}
#your-profile legend {
	font-family: Arial, Tahoma;
}
#ajax-response.alignleft {
	margin-left: 0;
	margin-right: 2em;
}
.page-numbers {
	margin-right: 0;
	margin-left: 5px;
}
.column-author img, .column-username img {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}
.tablenav a.button-secondary {
	margin: 8px 0 0 8px;
}
.tablenav .tablenav-pages {
	float: left;
}
/* 700 - 1000
=================================== */
#pass-strength-result {
	float: right;
	margin: 12px 1px 5px 5px;
}
/* Admin Header */
#user_info {
	float: left;
}
#logo50 {
	float: right;
	margin: 9px 20px 0 0;
}
ul#adminmenu li.write-new-button a {
	font-family: Tahoma, Arial;
}
#wphead h1 {
	font-family: Arial, Tahoma;
	float: right;
}
#adminmenu {
	font-family: Tahoma, Arial;
}
#adminmenu .wp-submenu a {
	padding-left: 0;
	padding-right: 12px;
	border-width: 0 0 0 1px;
	border-style: none none none solid;
}
#adminmenu .wp-menu-image {
	float: right;
}
#adminmenu.folded .wp-menu-image {
	padding: 7px 6px 0 0;
}
#adminmenu .wp-submenu li.wp-submenu-head {
	padding: 6px 10px 6px 4px;
}
#adminmenu.folded .wp-submenu {
	margin: -1px 33px 0 0;
}
#adminmenu.folded .wp-submenu a {
	padding-left: 0;
	padding-right: 10px;
}
#adminmenu.folded a.wp-has-submenu {
	margin-left: 0;
	margin-right: 40px;
}
#adminmenu .wp-menu-toggle {
	float: left;
	padding: 1px 0 0 2px;
}
/* end side admin menu */
/* 1000 - 1300
=================================== */
#adminmenu a #awaiting-mod,
#sidemenu li a #update-plugins {
	background-position: -240px top;
}
#adminmenu li a:hover #awaiting-mod, #sidemenu li a:hover #update-plugins {
	background-position: -160px top;
}
#adminmenu li a #awaiting-mod span, #sidemenu li a #update-plugins span {
	right:auto;
	left:0;
}
#footer #footer-thankyou, #footer #footer-upgrade {
	font-family: Tahoma, Arial;
}
#footer #footer-upgrade {
	right: auto;
	left: 15px;
}
/* Tables used on comment.php and option/setting pages */
.form-table th,
#wpbody-content .describe th {
	text-align: right;
}
.form-table input.tog {
	margin-right: 0;
	margin-left: 2px;
	float: right;
}
.form-table table.color-palette {
	float: right;
}
#profile-page .form-table #rich_editing {
	margin-right: 0;
	margin-left: 5px;
}
/* Post Screen */
/* 1300 - 1500
=================================== */
#normal-sortables .postbox .submit {
	float: left;
}
#mediadiv img {
	float: right;
	margin-right: 0;
	margin-left: 1em;
}
#post-body #tagsdiv #newtag {
	margin-right: 0;
	margin-left: 5px;
}
#post-status-info {
	padding: 0 7px 0 15px;
}
#comment-status-radio input {
	margin: 2px 0 5px 3px;
}
#tagchecklist {
	margin-left: 0;
	margin-right: 10px;
}
#tagchecklist strong {
	margin-left: 0;
	margin-right: -8px;
}
#tagchecklist span {
	float: right;
}
#tagchecklist span a {
	margin: 6px -9px 0 0;
	float: right;
}
.ac_results li {
	text-align: right;
}
#poststuff h2 {
	clear: right;
}
/* 1500 - 1800
=================================== */
.metabox-holder .postbox h3,
#poststuff .postbox h3,
#poststuff .stuffbox h3 {
	background-position: right top;
}
#edit-slug-buttons a.save {
	margin-right: 0;
	margin-left: 4px;
}
.postarea h3 label {
	float: right;
}
.postarea #add-media-button {
	float: left;
	right: auto;
	left: 10px;
}
.wp_themeSkin tr.mceFirst {
	background-position: right top;
}
#poststuff #edButtonPreview,
#poststuff #edButtonHTML {
	margin: 5px 0 0 5px;
	float: left;
}
#poststuff #edButtonHTML {
	margin-right: 0;
	margin-left: 15px;
}
#media-buttons a {
	padding: 0 10px 5px 0;
}
.submitbox .submit {
	text-align: right;
}
.submitbox .inside-submitbox #deletebutton {
	padding: 0 17px 1px 0;
	background-position: right bottom;
}
.inside-submitbox #post_status {
	margin: 2px -2px 2px 0;
}
.submitbox .submit input {
	margin-right: 0;
	margin-left: 4px;
}
/* Categories */
#category-adder {
	margin-left: 0;
	margin-right: 120px;
}
#post-body ul#category-tabs li.ui-tabs-selected {
	-moz-border-radius: 0 3px 3px 0;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 3px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 3px;
}
#post-body ul#category-tabs {
	float: right;
	text-align: left;
	margin: 0 0 0 -120px;
}
#post-body #categorydiv div.ui-tabs-panel,
#post-body #linkcategorydiv div.ui-tabs-panel {
	margin: 0 120px 0 5px;
}
/* 1800 - 2000
=================================== */
#side-info-column #category-tabs li {
	padding-right: 0;
	padding-left: 8px;
}
#categorydiv ul.categorychecklist ul,
#linkcategorydiv ul.categorychecklist ul {
	margin-left: 0;
	margin-right: 18px;
}
/* positioning etc. */
p#big-add-button {
	right: auto;
	left: 0;
}
p.search-box {
	float: left;
}
#posts-filter fieldset {
	float: right;
	margin: 0 0 1em 1.5ex;
}
#posts-filter fieldset legend {
	padding: 0 1px .2em 0;
}
.view-switch {
	float: left;
}
.filter {
	float: right;
	margin: -5px 10px 0 0;
}
#the-comment-list td.comment p.comment-author {
	margin-right: 0;
}
#the-comment-list p.comment-author img {
	float: right;
	margin-right: 0;
	margin-left: 8px;
}
.tablenav .delete {
	margin-right: 0;
	margin-left: 20px;
}
td.action-links, th.action-links {
	text-align: left;
}
/* 2000 - 2300
=================================== */
#gears-info-box .gears-img {
	float: left;
}
#wp-word-count {
	margin-right: 10px;
}
.info-box-title {
	font-family: Arial, Tahoma;
}
.settings-toggle {
	text-align: left;
	margin: 5px 0 15px 7px;
}
.curtime #timestamp {
	background-position: right top;
	padding-left: 0;
	padding-right: 18px;
}
#inbox-filter .actions {
	margin-left: 0;
	margin-right: 6px;
	padding-left: 0;
	padding-right: 16px;
}
#inbox-filter ul input.checkbox {
	float: right;
}
#inbox-filter ul p {
	float: right;
	margin-left: 0;
	margin-right: -40px;
	left: auto;
	right: 50px;
}
#inbox-message {
	margin: 0 7.5em 0 0;
}
/* media popup 0819 */
#sidemenu {
	margin: -30px 315px 0 15px;
	float: left;
	padding-left: 0;
	padding-right: 10px;
}
#sidemenu a {
	float: right;
}
#previewview {
	float: left;
}
#replysubmit .button {
	margin-right: 0;
	margin-left: 5px;
}
/* 2300 - 2500
=================================== */
#edithead #edittitle {
	float: right;
	margin: 0 0 0 4px;
}
#edithead .inside {
	float: right;
	margin: 0 0 2px 4px;
}
#replyrow #ed_reply_toolbar input {
	margin: 1px 1px 1px 2px;
}
/* show/hide settings */
#screen-meta-links {
	margin: 0 0 0 20px;
}
#screen-options-link-wrap,
#contextual-help-link-wrap {
	float: left;
	font-family: Tahoma, Arial;
	margin: -1px 0 0 10px;
}
#screen-options-wrap h5,
#contextual-help-wrap h5 {
	padding: 10px 15px 0 0;
}
.metabox-prefs label {
	float: right;
}
.metabox-prefs label input {
	margin: 0 2px 0 5px;
}
.inline-editor .save,
.inline-editor .cancel {
	margin-right: 0;
	margin-left: 5px;
}
.inline-editor .quick-edit-div {
	float: right;
	margin: 0 0 3px 5px;
}
/* 2500 - 2700
=================================== */
.inline-editor .post-title .slug,
.inline-editor .page-title .slug {
	text-align: left;
}
.inline-editor .categories ul.cat-checklist {
	padding: 0 4px 0 0;
}
.inline-editor .categories ul.children {
	padding-left: 0;
	padding-right: 15px;
}
.inline-editor .comments {
	text-align: right;
}
#bulk-titles div a {
	float: right;
	margin: 3px -2px 0 3px;
}
#wpbody-content .filename {
	margin-left: 0;
	margin-right: 10px;
}
/* 2700 - 3000
=================================== */
.describe-toggle-on, .describe-toggle-off {
	float: left;
	margin-right: 0;
	margin-left: 20px;
}
#wpbody-content #media-items .filename {
	float: right;
	margin-left: 0;
	margin-right: 10px;
}
.media-item .pinkynail {
	float: right;
}
#find-posts-response .found-radio {
	padding: 8px 8px 0 0;
}
.find-box-buttons {
	left: auto;
	right: 12px;
}
.find-box-search label {
	padding-right: 0;
	padding-left: 6px;
}
/* favorite-actions */
#favorite-actions {
	float: left;
}
#favorite-first {
	padding: 3px 12px 4px 30px;
}
#favorite-inside {
	margin: 0 1px 0 0;
}
#favorite-inside a {
	padding: 3px 10px 3px 5px;
}
#favorite-toggle {
	right: auto;
	left: 0;
	background:transparent url(images/fav-arrow-rtl.png) no-repeat 10px -4px;
}
#utc-time, #local-time {
	padding-left: 0;
	padding-right: 25px;
}
/* TinyMCE
=================================== */
.clearlooks2 .mceTop .mceLeft {
	width:100% !important;
}
