body { background: #f9fcfe; }

.upload-file-data { display: none; }

#upload-menu {
	border-top: 2em solid #247fab;
	margin: 0;
	padding: 0;
	height: 0;
	list-style: none;
	width: 100%;
}

body > #upload-menu { border-bottom: 7px solid #fff; }

#upload-menu li {
	margin: 0;
	position: relative;
	top: -2em;
	padding-bottom: 5px;
	border: none;
	border-top: 3px solid #247fab;
}

#upload-menu li a.upload-tab-link {
	margin-left: 0.75em;
	padding: 5px 5px 0;
	display: block;
	float: left;
	height: 100%;
	text-decoration: none;
	border-bottom: none;
	color: #fff;
}

#upload-menu li.current {
	border-right: 2px solid #448abd;
	color: #000;
}

#upload-menu li.current a.upload-tab-link, #upload-menu li a:hover {
	background: #f9fcfe;
	color: #000;
}

#upload-menu li #current-tab-nav {
	float: left;
	padding: 5px 5px 0 0;
	margin-left: -5px;
}

#upload-menu li span .page-numbers {
	padding: 0;
	border: none;
}

#upload-menu li span a.page-numbers { color: #00019b; }
#upload-menu li span a.page-numbers:hover { text-decoration: underline; }

#upload-content {
	position: relative;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;
	background: none;
}

#upload-file {
	margin: 0 auto;
	top: 0;
	left: 0;
	width: 95%;
	height: 100%;
	background: #f9fcfe;
}

#upload-file th {
	width: 8em;
}

form#upload-file input, form#upload-file textarea, div#upload-content.upload table { width: 100%; }

form#upload-file .submit input { width: auto; }

#upload-file-view { padding: 0 0 0 75px; }

#file-title {
	margin: 0 0 .2em 75px;
	padding: 0;
	display: block;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}

h2 {
	margin: 0 .2em 0 0;
	padding: 0;
	display: inline;
	border: none;
	color: #000;
	font-size: 1.4em;
	line-height: 1.4em;
}

.wrap h2 {
	margin: .4em 0 .5em;
	display: block;
	border-bottom: .5em solid #e5f3ff;
	color: #333;
	font: normal 32px/5px serif;
	clear: both;
}

* html .wrap h2 {
	margin-top: 1em;
}

.back {
	display: block;
	position: absolute;
	left: 14px;
	top: 10px;
}

#upload-files {
	list-style-type: none;
	margin: 0;
	padding: 15px 0 0;
}

#upload-files li { margin: 0 0 15px 15px; }

#upload-files a, #upload-file-view a, a.file-link {
	border: none;
	text-decoration: none;
}

#upload-file-view a img { padding-bottom: .2em; border-bottom: 1px solid #6699CC; }

#upload-files a.file-link {
	display: block;
	width: 130px;
	height: 128px;
	background-color: rgb(209, 226, 239);
	text-align: center;
	overflow: hidden;
}

#upload-files a.text {
	padding-top: 40px;
	height: 88px;
	font-size: 16px;
}

#upload-files a.file-link.image {
	font-size: 2px;
	letter-spacing: 0;
}

#upload-files a.file-link img { vertical-align: middle; }

#the-attachment-links textarea {
	font-size: 10px;
	overflow: hidden;
}

form table { float: none; padding: 0 15px; }

table {
	float: left;
	margin: 0;
	padding: 0;
}

th { text-align: right; vertical-align: text-top; }

tr, td, th {
	margin-top: 0;
	padding-top: 0;
}

#uploadoptions th {
	width: 80px;
}

#uploadoptions p {
	margin: 0;
	padding: 0;
}

#uploadoptions td {
	padding-left: 1em;
	line-height: 140%;
}

#uploadoptions table {
	width: 300px;
}

input.readonly { background-color: #ddd; }
