#upload-menu li a.upload-tab-link {
	float: right;
	margin: 0 .75em 0 0;
}

table { float: right; }

#upload-menu li #current-tab-nav {
	float: right;
	padding: 5px 0 0 5px;
	margin-right: -5px;
}

#upload-file th, #the-attachment-links textarea { text-align: left; }

h2 { margin: 0 0 0 .2em; }

#upload-files li { margin: 0 15px 15px 0; }

#upload-file-view { padding: 0 75px 0 0; }

#upload-menu li {
	display: block;
	float: right;
}

#upload-menu li.current {
	border-right: 0;
	border-left: 2px solid #448abd;
}

#upload-file {
	left: auto;
	right: 0;
}

#file-title {
	margin: 0 75px .2em 0;
	font-family: Tahoma, Georgia, "Times New Roman", Times, serif;
}

.back {
	left: auto;
	right: 14px;
}

#uploadoptions td {
	padding-left: 0;
	padding-right: 1em;
}
