body { background: #dfe8f1; }

.upload-file-data { display: none; }

#upload-menu {
	background: #fff;
	margin: 0px;
	padding: 0;
	list-style: none;
	height: 2em;
	border-bottom: 1px solid #448abd;
	width: 100%;
}

#upload-menu li { margin: 0 0 0 .75em; }

#upload-menu li div {
	color: #000;
	padding: 5px;
	border-top: 3px solid #fff;
}

#upload-menu li a {
	color: #000;
	text-decoration: none;
	border-bottom: none;
}

#upload-menu li span a.page-numbers { color: #00019b; }

#upload-menu .current div {
	background: #dfe8f1;
	border-right: 2px solid #448abd;
}

#upload-menu div:hover {
	background: #dfe8f1;
	color: #000;
}

#upload-content {
	position: relative;
	clear: both;
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;
	background: none;
}

#upload-file {
	position: relative;
	margin: 0;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #dfe8f1;
}

form#upload-file input, form#upload-file textarea, div#upload-content.upload table { width: 100%; }

form#upload-file div.submit input { width: auto; }

#upload-file-view { padding: 0 0 0 15px; }

#file-title {
	margin: 0 0 .2em 15px;
	padding: 0;
	display: block;
}

h2 {
	margin: 0 .2em 0 0;
	padding: 0;
	display: inline;
	border: none;
	color: #000;
	font-weight: bold;
	font-size: 1.4em;
	line-height: 1.4em;
}

#upload-files {
	list-style-type: none;
	margin: 0;
	padding: 15px 0 0;
}

#upload-files li { margin: 0 0 15px 15px; }

#upload-files a, #upload-file-view a, a.file-link {
	border: none;
	text-decoration: none;
}

#upload-file-view a img { padding-bottom: .2em; border-bottom: 1px solid #6699CC; }

#upload-files a.file-link {
	display: block;
	width: 130px;
	height: 128px;
	background-color: rgb(209, 226, 239);
	text-align: center;
	overflow-y: hidden;
}

#upload-files a.file-link.image {
	line-height: 128px;
	font-size: 2px;
	letter-spacing: 0;
}

#upload-files a.file-link img { vertical-align: middle; }

#the-attachment-links { float: right; }

#the-attachment-links textarea {
	font-size: 10px;
	overflow: hidden;
}

form table { float: none; padding: 0 15px; }

table {
	float: left;
	margin: 0;
	padding: 0;
}

th { text-align: right; vertical-align: text-top; }

tr, td, th {
	margin-top: 0;
	padding-top: 0;
}
