body { font: 13px Tahoma, "Lucida Grande", "Lucida Sans Unicode", Verdana; }

#upload-menu li { margin: 0 .75em 0 0; }

#upload-menu .current div {
	border-right: 0;
	border-left: 2px solid #448abd;
}

#upload-file-view { 0 15px 0 0 }

#file-title { margin: 0 15px .2em 0; }

h2 { margin: 0 0 0 .2em; }

#upload-files li { margin: 0 15px 15px 0; }

table { float: right; }

#the-attachment-links { float: left; }
