* html #poststuff {
	height: 100%; /* kill peekaboo bug in IE */
}

a {
	border-bottom: 1px solid #69c;
	color: #00019b;
	text-decoration: none;
}

a.delete:hover {
	background: #c00;
	color: #fff;
}

a.edit, a.delete, a.edit:hover, a.delete:hover {
	border-bottom: none;
	display: block;
	padding: 5px 0;
	text-align: center;
}

a.edit:hover {
	background: #ccc;
	color: #036;
}

a:visited {
	color: #006;
}

a:hover {
	border-bottom: 1px solid #3a75ae;
	color: #069;
}

body	{
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

body, td {
	font: 10pt Georgia, "Times New Roman", Times, serif;
}

fieldset {
	border: 1px solid #ddd;
	padding: 2px;
}

fieldset label.selectit {
	background: #f0f0f0;
	display: block;
	font-size: 11px;
	padding: 0 2px;
}

fieldset label.selectit:hover {
	background: #dadada;
}

fieldset legend {
	padding: .1em .3em;
}

fieldset legend a {
	border-bottom: none;
}

fieldset span.cat-nest {
	display: block;
	margin-left: 10px;
}

fieldset.options {
	padding: 1em;
}

fieldset.options legend {
	font-size: 16px;
}

form, label input {
	margin: 0;
	padding: 0;
}

h2 {
	border-bottom: 2px solid #69c;
	color: #333;
	font: normal 22px/18px normal;
	margin: 5px 10px;
}

input:focus, textarea:focus, label:focus {
	background: #fff;
	border: 1px solid #878787;
}

label {
	cursor: pointer;
}

li, dd {
	margin-bottom: 6px;
}

p, dl, dd, dt {
	line-height: 130%;
}

textarea, input, select {
	background: #f4f4f4;
	border: 1px solid #b2b2b2;
	color: #000;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 1px;
	padding: 3px;
}

.alternate {
	background: #eee;
}

.anchors {
	margin: 10px 20px 10px 20px;
}

.checkbox {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.code {
	font-family: "Courier New", Courier, mono;
}

.ed_button {
	padding: 1px;
}

.post-categories {
	display: inline;
	margin: 0;
	padding: 0;
}

.post-categories li, #ed_toolbar {
	display: inline;
}

.quicktags, .search {
	background: #ccc;
	color: #000;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

.submit, #quicktags, .editform th, #postcustomsubmit {
	text-align: right;
}

.unapproved {
	color: #888;
}

.unapproved a:link {
	color: #b9bcff;
}

.unapproved a:visited {
	color: #696dff;
}

.unapproved a:hover {
	color: #009ef0;
}

.updated {
	background: #f0f8ff;
	border: 1px solid #69c;
	margin: 5px 5% 10px;
	padding: 0 1em 0 1em;
}

.wrap {
	border: 1px solid #ccc;
	margin: 15px 5%;
	padding: .5em 1em;
}

.wrap h2 {
	margin: 6px 0;
}

#adminmenu {
	border-bottom: 2px solid #707070;
	margin: 2px 2px 0 2px;
	padding: 0 2px;
}

#adminmenu .current, #adminmenu2 .current {
	font-weight: bold;
}

#adminmenu a {
	border: 1px solid #fff;
	color: #333;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
}

#adminmenu a:hover, .current {
	background: #eaeaea;
	border: 1px solid #9d9d9d;
	color: #171717;
}

#adminmenu li, #adminmenu2 li {
	display: inline;
	line-height: 2.0em;
	list-style: none;
	text-align: center;
}

#adminmenu2 {
	background: #707070;
	border-bottom: none;
	height: 20px;
	margin: 0 2px;
	padding: 0;
}

#adminmenu2 .current {
	background: #fff;
	color: #000;
}

#adminmenu2 a {
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
}

#adminmenu2 a {
	font-size: 12px;
}

#adminmenu2 a:hover {
	background: #f0f0f0;
	color: #000;
}

#adminmenu2 li {
	line-height: 1.7em;
}

#categorydiv {
	line-height: 130%;
	margin-right: 15px;
	position: absolute;
	right: 5%;
	width: 9em;
}

#categorydiv div {
	height: 27em;
	overflow: auto;
}

#categorydiv input, #poststatusdiv input, #commentstatusdiv input, #pingstatusdiv input {
	border: none;
}

#ed_del {
	text-decoration: line-through;
}

#ed_em {
	font-style: italic;
	width: 25px;
}

#ed_strong {
	font-weight: bold;
	width: 1.9em;
}

#excerpt {
	height: 1.5em;
}

#footer {
	text-align: center;
}

#login {
	background: url(../wp-images/wp-small.png) #fff no-repeat top center;
	border: 2px solid #333;
	color: #333;
	height: 170px;
	left: 50%;
	margin-left: -120px; /* half of width and height */
	margin-top: -85px;
	padding: 40px 5px 5px 5px;
	position: absolute;
	text-align: right;
	top: 45%;
	width: 240px;
}

#login textarea, #login input, #login select {
	background: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
	padding: 2px;
}

#metainfo, #postdiv {
	clear: both;
}

#postcustom {
	border: 1px solid #aaa;
	padding: .5em;
	width: 97%;
}

#postcustom .updatemeta, #postcustom .deletemeta {
	margin: auto;
	width: 5em;
}

#postcustom p {
	margin: 0;
}

#postcustom table {
	border: 1px solid #ccc;
	margin: .5em;
	width: 98%;
}


#postcustom table input, #postcustom table textarea {
	width: 95%;
}

#poststatusdiv {
	width: 6.5em;
}

#poststuff {
	margin-right: 11em;
}

#content {
	margin-left: 1%;
	width: 97%;
}

#profile {
	margin: 10px;
}

#profile .left {
	border-right: 1px dashed #ccc;
	float: left;
	margin-right: 5px;
	padding-right: 5px;
}

#profile label {
	float: left;
	padding-right: 3px;
	text-align: right;
	width: 85px;
}

#profile p {
	margin: 0 0 4px 0;
}

#quicktags {
	margin-right: 1%;
}

#save {
	width: 13em;
}

#slugdiv {
	width: 9.4em;
}

#titlediv, #poststatusdiv, #commentstatusdiv, #slugdiv, #postpassworddiv, #namediv, #uridiv, #emaildiv {
	float: left;
	height: 6em;
	margin-right: 5px;
}

#wphead {
	background: url(../wp-images/header-shadow.png) #f2f2f2 repeat-x bottom;
	padding: 4px 0 0 5px;
}

#wphead a {
	border-bottom: none;
	display: block;
	height: 44px;
	text-decoration: none;
	text-indent: -1000px;
	width: 200px;
}

#wphead h1 {
	background: url(../wp-images/wp-small.png) no-repeat;
	height: 44px;
	margin: 0;
}
