* html #poststuff {
	height: 100%; /* kill peekaboo bug in IE */
}

/* This is the Holly Hack \*/
* html .wrap { height: 1% }
/* For Win IE's eyes only */

a {
	color: #00019b;
	text-decoration: none;
}

a.delete:hover {
	background: #c00;
	color: #fff;
}

.wrap {
	margin: 0;
	padding: 0;
	margin-left: 15px;
	margin-right: 25%;
}

.wrap h2 {
	font: 24px Georgia, "Times New Roman", Times, serif;
	color: #666;
	border-bottom: 1px solid #dadada;
	padding: 0;
	margin: 0 0 0 -5px;
	padding-bottom: 5px;
	clear: both;
}

.widefat {
	width: 100%;
}

.widefat td, .widefat th {
	padding: 5px 6px;
}

.widefat th {
	text-align: left;
}

.plugins p {
	margin: 4px;
	padding: 0;
}

.plugins .name {
	font-size: 16px;
}

.import-system {
	font-size: 16px;
}

thead, .thead {
	background: #dfdfdf
}

#import-upload-form {
	margin: auto;
	background: #eee;
	padding: 1em;
}

a.view, a.edit, a.delete, a.view:hover, a.edit:hover, a.delete:hover {
	border-bottom: none;
	display: block;
	padding: 5px 0;
	text-align: center;
}

a.view:hover, a.edit:hover {
	background: #ccc;
	color: #036;
}

a:visited {
	color: #004;
}

a:hover {
	color: #069;
}

body	{
	background: #fff;
	color: #333;
	margin: 0;
	padding: 0;
}

body, td {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
}

fieldset.options {
	padding: 1em;
}

fieldset.options legend {
	font-size: 1.5em;
	font-weight: bold;
	font-family: Georgia, "Times New Roman", Times, serif;
}

form, label input {
	margin: 0;
	padding: 0;
}

img {
	border: 0;
}

.form-invalid {
	background-color: #FF9999 !important;
}

label {
	cursor: pointer;
}

li, dd {
	margin-bottom: 6px;
}

p, li, dl, dd, dt {
	line-height: 140%;
}

textarea, input, select {
	font: 13px Verdana, Arial, Helvetica, sans-serif;
	margin: 1px;
	padding: 3px;
}

#uploading {
	border-style: none;
	padding: 0;
	margin-bottom: 16px;
	height: 18em;
	width: 100%;
}

form#upload th {
	text-align: right;
}

form#upload #post_content, form#upload #post_title {
	width: 250px;
}

form#upload #post_content {
	height: 50px;
}

.attpreview {
	width: 1px; /* hug */
	text-align: center;
}

.alignleft {
	float: left
}

.alignright {
	float: right;
}

.alternate {
	background: #f1f1f1;
}

.anchors {
	margin: 10px 20px 10px 20px;
}

.available-theme {
	width: 30%;
	margin: 0 1em;
	float: left;
	text-align: center;
	height: 28em;
	overflow: hidden;
}

.available-theme a.screenshot {
	width: 250px;
	height: 200px;
	display: block;
	margin: auto;
	background: #f1f1f1;
	border: 1px solid #ccc;
	margin-bottom: 10px;
	overflow: hidden;
}

.available-theme a.screenshot:hover {
/*	border: 1px solid #666;*/
}

.available-theme img {
	width: 100%;
}

.checkbox {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.code {
	font-family: "Courier New", Courier, monospace;
}

.commentlist li {
	border-bottom: 1px solid #ccc;
	padding: 1em 1em .2em;
	margin: 0;
}

.commentlist li li {
	border-bottom: 0px;
	padding: 0;
}

.commentlist p {
	padding: 0;
	margin: 0 0 .8em;
}

.clear {
	clear: both;
	height: 2px;
}

.hidden {
	display: none;
}

.navigation {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 30px;
}

.post-categories {
	display: inline;
	margin: 0;
	padding: 0;
}

.post-categories li, #ed_toolbar {
	display: inline;
}

.quicktags, .search {
	background: #ccc;
	color: #000;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

.submit input, .submit input:focus, .button, .button:focus {
	color: #246;
	padding: 2px;
}

.submit, .editform th, #postcustomsubmit {
	text-align: right;
}

.unapproved {
	color: #888;
}

.unapproved a:link {
	color: #b9bcff;
}

.unapproved a:visited {
	color: #696dff;
}

.unapproved a:hover {
	color: #009ef0;
}

.approve {
	display: none;
}

.unapproved .approve {
	display: inline;
}

.unapproved .unapprove {
	display: none;
}

.updated, .error {
	margin-left: 15px;
	padding: 0 15px;
	margin-bottom: 20px;
	margin-right: 25%;
}

.updated a, .error a {
	text-decoration: underline;
}

.updated {
	background: #ffffe0;
	border: 1px solid #e6db55;
}

.updated a {
	color: #2583ad;
	text-decoration: none;
	padding-bottom: 2px;
	border-bottom: 1px solid #2583ad;
}

.error {
	background: #FFEFF7;
	border: 1px solid #c69;
}

.narrow {
	width: 70%;
	margin-bottom: 40px;
}

.narrow p {
	line-height: 150%;
}


table .vers {
	text-align: center;
}

textarea.all-options, input.all-options {
	width: 250px;
}

input.disabled, textarea.disabled {
	background: #ccc;
}

#postdiv, #titlediv, #guiddiv {
	margin: 0 8px 0 0;
	padding: 0;
}

#postdivrich {
	margin: 0;
	padding: 0;
}

#content {
	margin: 0;
	width: 100%;
}

#editorcontainer #content {
	padding: 0;
	line-height: 150%;
	border: 0 none;
}

#editorcontainer {
	padding: 6px;
}

#currenttheme img {
	float: left;
	border: 1px solid #666;
	margin-right: 1em;
	margin-bottom: 1.5em;
	width: 300px;
}

input.delete:hover {
	background: #ce0000;
	color: #fff;
}

#deletebookmarks:hover {
	background: #ce0000;
	color: #fff;
}

#postdivrich #quicktags {
	background: #cee1ef;
	padding: 0;
	border: 0 none;
}

#postdiv #quicktags {
	padding-right: 6px;
}

#quicktags #ed_toolbar {
	padding: 0 2px;
}

#ed_toolbar input {
	background: #fff url( images/fade-butt.png ) repeat-x 0 -2px;
	margin: 3px 2px 2px;
}

#quicktags #ed_strong {
	font-weight: bold;
}

#quicktags #ed_link {
	color: blue;
	text-decoration: underline;
}

#quicktags #ed_del {
	text-decoration: line-through;
}

#quicktags #ed_em {
	font-style: italic;
}

#quicktags #ed_code {
	font-family: "Courier New", Courier, mono;
	margin-bottom: 3px;
}


#attachmentlinks textarea {
	width: 100%;
	height: 2.5em;
	margin-bottom: 6px;
}

#excerpt, .attachmentlinks {
	margin: 0;
	height: 4em;
	width: 100%;
}

#login {
	position: relative;
	background: url('images/login-bkg-tile.gif') no-repeat top center;
	color: #fff;
	margin: 5em auto 1em;
	padding: 20px 0 0;
	width: 425px;
	_width: 390px;
}

#login form {
	background: url('images/login-bkg-bottom.gif') no-repeat bottom center;
	padding: 0 50px 25px;
	_width: 325px;
	_margin: 0 auto;
	min-height: 200px;
	height: auto !important; /* min-height fast hack */
	height: 200px;
}

#login #login_error {
	background: #0e3350;
	border: 1px solid #2571ab;
	color: #ebcd4e;
	font-size: 11px;
	font-weight: bold;
	padding: .6em;
	width: 310px;
	margin: 0 50px;
	text-align: center;
}

#login p { 
	font-size: 12px;
}

#login p.message { 
	width: 310px;
	margin: 0 auto 1em;
}

#login #login_error a {
	color: #ebcd4e;
	border-color: #ebcd4e;
}

#login #send {
	color: #fff;
	text-align: left;
	font-weight: normal;
	font-size: 1.1em;
	_width: 325px;
	_margin: 0 auto 15px;
}

#login h1 a {
	margin: 0 auto;
	height: 88px;
	width: 320px;
	display: block;
	border-bottom: none;
	text-indent: -9999px;
}

#login .message {
	font-size: 10pt;
	text-align: center;
}

#login .register {
	font-size: 20px;
}

#login input {
	padding: 4px;
}

.login ul, #protected #login .bottom {
	list-style: none;
	width: 325px;
	margin: 0 auto;
	padding: 0;
	line-height: 1.2;
}

.login ul li {
	font-size: 11px;
}

.login ul li a {
	color: #0d324f;
	border: none;
}

#login ul li a:hover {
	color: #fff;
}

#login .input {
	font-size: 1.8em;
	margin-top: 3px;
	width: 97%;
}

#login p label { 
	font-size: 11px;
}

#login #submit {
	margin: 0;
	font-size: 15px;
}

.plugins p {
}

#login .fullwidth {
	width: 320px;
}

#searchform fieldset {
	float: left;
	margin: 0 1.5ex 1em 0;
	padding: 0;
}

#searchform fieldset legend {
	padding: 0 0 .2em 1px;
}
	
#searchform #s {
	padding: 4px 3px;
}

#searchform #post-query-submit {
	float: left;
	margin: 14px 0 1em;
	position: relative;
	top: .35em;
}

#postcustom .updatemeta, #postcustom .deletemeta {
	margin: auto;
}

#postcustom table {
	border: 1px solid #ccc;
	margin: 0;
	width: 100%;
}

#postcustom table input, #postcustom table textarea {
	width: 95%;
}

#postcustom table #addmetasub {
	width: auto;
}

#poststuff {
	margin-right: 16em;
}

#save {
	width: 15em;
}

#template div {
	margin-right: 190px;
}

* html #template div {
	margin-right: 0;
}

#template, #template div, #editcat, #addcat {
	zoom: 1;
}

#template textarea {
	font: small 'Courier New', Courier, monospace;
	width: 97%;
}

#templateside {
	float: right;
	width: 170px;
	overflow: hidden;
}

#templateside h3, #postcustom p.submit {
	margin: 0;
}

#templateside ol, #templateside ul {
	list-style: none;
	margin: .5em;
	padding: 0;
}

.active td {
	background: #BEB;
}
.active .name {
	background: #9C9;
}
.alternate.active td {
	background: #ADA;
}
.alternate.active .name {
	background: #8B8;
}

#namediv, #emaildiv, #uridiv {
	float: left;
}

#ajax-response {
	padding: .5em;
}

/* A handy div class for hiding controls.
Some browsers will disable them when you
set display:none; */
.zerosize {
	height: 0;
	width: 0;
	margin: 0;
	border: 0;
	padding: 0;
	overflow: hidden;
	position: absolute;
}

* html #themeselect {
	padding: 0 3px;
	height: 22px;
}

#your-profile #rich_editing {
	border: none;
	background: #fff;
}

#your-profile fieldset {
	border: 1px solid #ccc;
	float: left;
	width: 40%;
	padding: .5em 2em 1em;
	margin: 1em 1em 1em 0;
}

#your-profile fieldset input {
	width: 100%;
	font-size: 20px;
	padding: 2px;
}

#your-profile fieldset textarea {
	width: 100%;
	padding: 2px;
}

#your-profile legend {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 22px;
}

#howto {
	font-size: 11px;
	margin: 0 5px;
	display: block;
}

#ajax-response.alignleft {
	margin-left: 2em;
}


.page-numbers {
	padding: 4px 7px;
	border: 1px solid #fff;
	margin-right: 3px;
}

a.page-numbers {
	border: 1px solid #ccc;
}

a.page-numbers:hover {
	border: 1px solid #999;
}

.page-numbers.current {
	border: 1px solid #999;
	font-weight: bold;
}

.pagenav span {
	font-weight: bold;
	margin: 0 6px;
}

#update-nag, .plugin-update {
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	background: #fffeeb;
	line-height: 29px;
	font-size: 12px;
	color: #555;
	text-align: center;
} 

#update-nag a, .plugin-update a {
	font-size: 1.1em;
}
#update-nag a:link, .plugin-update a:link {
	color: #036;
}

#pass-strength-result { 
	padding: 3px 5px 3px 5px;
	margin-top: 3px;
	text-align: center; 
	background-color: #e3e3e3;
	border: 1px solid #000000;
}

#pass-strength-result.short { 
	background-color: #e3e3e3;
	border: 1px solid #000000; 
}

#pass-strength-result.bad { 
	background-color: #ffeff7;
	border: 1px solid #cc6699; 
}

#pass-strength-result.good { 
	background-color: #effff4;
	border: 1px solid #66cc87; 
}

#pass-strength-result.strong { 
	background-color: #59ef86;
	border: 1px solid #319f52;
}

a.view-comment-post-link {
	position: absolute;
	text-decoration:underline;
}

/* Admin Header */

#user_info {
	position: absolute;
	right: 25%;
	top: 9px;
	color: #ccc;
	font-size: 12px;
}

#user_info p {
	margin: 0;
	padding: 0;
}

#user_info a {
	color: #fff;
}

#wphead {
	border-top: 30px solid #464646;
	background: #e4f2fd;
}

#wphead #viewsite {
	position: absolute;
	margin-top: 8px;
	margin-left: 10px;
}
#wphead #viewsite a {
	background-color: #c6d9e9;
	font: 14px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	padding: 6px;
	display: block;
	-moz-border-radius: 2px;
	color: #246;
	letter-spacing: normal;
}
#wphead h1 {
	font: normal 36px Georgia, "Times New Roman", Times, serif;
	color: #555;
	letter-spacing: -.03em;
	padding: 15px 170px 18px 15px;
	margin: 0;
	margin-right: 25%;
}

/* menu stuff */

#dashmenu {
	margin: 0;
	list-style: none;
	position: absolute;
	top: 4px;
	left: 0;
	font-size: 12px;
	padding-left: 12px;
}

#dashmenu a {
	color: #999;
	padding: 4px 6px;
	line-height: 220%;
	margin-right: 8px;
}

#dashmenu a:hover, #dashmenu a.current, #dashmenu a.current:hover {
	background: #e4f2fd;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;		
	color: #555;
}

#adminmenu {
	margin: 0;
	list-style: none;
	background: #e4f2fd;
	border-bottom: 1px solid #c6d9e9;
	padding-left: 10px;
}

#adminmenu a {
	font-size: 16px;
	color: #2583ad;
	padding: 6px;
	line-height: 200%;
	border: 1px solid #e4f2fd;
	border-bottom: 1px solid #c6d9e9;
}

#adminmenu a:hover, #adminmenu a.current, #adminmenu a.current:hover {
	background: #fff;
	color: #d54e21;
	border: 1px solid #c6d9e9;
	font-weight: bold;
	-moz-border-radius-topleft: 3px;
	-moz-border-radius-topright: 3px;
	border-bottom: 1px solid #fff;
}

#adminmenu a:hover {
	border-bottom: 1px solid #c6d9e9;
	font-weight: normal;
}

#sidemenu {
	margin: 0;
	color: #999;
	list-style: none;
	position: absolute;
	right: 25%;
	top: 55px;
	padding-left: 10px;
}

#sidemenu a {
	color: #2583ad;
	padding: 3px;
	line-height: 200%;
}

#sidemenu a:hover, #sidemenu a.current, #sidemenu a.current:hover {
	color: #d54e21;
}

#dashmenu li, #adminmenu li, #submenu li, #sidemenu li {
	display: inline;
	line-height: 200%;
	list-style: none;
	text-align: center;
	white-space: nowrap;
	margin: 0;
	padding: 0;
}

#adminmenu li a #awaiting-mod {
	position: absolute;
	margin-left: -1.2em;
	margin-top: -0.2em;
	font-size: 0.7em;
	background-image: url(images/comment-stalk.gif);
	background-repeat: no-repeat;
	background-position: 0 bottom;
	height: 0.9em;
	width: 1em;
}

#adminmenu li a:hover #awaiting-mod {
	background-position: -80px bottom;
}

#adminmenu li a #awaiting-mod span {
	color: #fff;
	top: -0.8em;
	right: 0;
	position: absolute;
	display: block;
	height: 1.3em;
	line-height: 1.3em;
	padding: 0 0.8em;
	background-color: #d54e21;
	-moz-border-radius: 0.3em;
	-khtml-border-radius: 0.3em;
	border-radius: 0.3em;
}

#adminmenu li a:hover #awaiting-mod span {
	background-color: #264761;
}

#submenu {
	margin: 0;
	list-style: none;
	padding: 12px 0 15px 0;
}

#submenu a {
	font-size: 14px;
	color: #2583ad;
	padding: 0 0 8px 17px;
}

#submenu a.current, #submenu a:hover {
	color: #d54e21;
}

#minisub { /* for empty submenus */
	height: 15px;
}

/* end menu stuff */

/* Admin Footer */

html, body {
	height:100%;
}
#wpwrap { 
	position: relative; 
	min-height: 100%;
}
#wpcontent{
	padding-bottom: 65px;
}
#footer {
	clear: both;
	height: 65px;
	padding: 10px 0 0 65px;
	margin: 0;
	background: #464646 url('images/logo-ghost.png') no-repeat 20px 10px;
	color: #999;
	position: relative; 
// 	margin-top: -75px; 
}

#footer a {
	color: #fff;
}

#footer p {
	margin: 0;
	padding: 5px 0;
}

/* Tables used on comment.php and option/setting pages */

.niceblue {
	border-collapse: collapse;
	margin-top: 1em;
}

.niceblue td {
	margin-bottom: 9px;
	padding: 10px;
	border-bottom: 8px solid #fff;
}

.niceblue th {
	text-align: left;
	padding: 10px;
	border-bottom: 8px solid #fff;
}

.niceblue tr {
	background: #eaf3fa;
}

/* Dashboard stuff, possibly to go in separate file? */

#rightnow {
	border: 1px solid #ccc;
	padding: 2px;
	margin-top: 10px;
}

#rightnow .reallynow {
	background: #d54e21;
	padding: 12px;
	color: #fff;
	font-size: 15px;
	margin: 0;
}

#rightnow .rbutton {
	background: #ebebeb;
	-moz-border-radius: 5px;
	padding: 6px;
	font-weight: normal;
	color: #264761;
	border-bottom: none;
}

#rightnow .reallynow a {
	float: right;
	margin-left: 5px;
	font-size: 14px;
	margin-top: -24px;
}

#rightnow .youhave {
	background: #f0f6fb;
	font-size:  14px;
	padding: 10px;
}

#rightnow p {
	padding: 0 10px;
}

#rightnow a {
	color: #448abd;
	font-weight: bold;
	border-bottom: 1px solid #448abd;
}

/* Post Screen */

#tagchecklist {
	margin-left: 5px;
	padding-bottom: 20px;
	font-size: 12px;
}

#tagchecklist span {
	margin-right: 15px;
	display: block;
	float: left;
	font-size: 11px;
}

#tagchecklist span a {
	margin-top: 5px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	background: url(images/xit.gif) no-repeat;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
}
#tagchecklist span a:hover {
	background: url(images/xit.gif) no-repeat -10px 0;
}

.howto {
	font-style: italic;
	display: block;
	color: #999;
}

.ac_results {
	border: 1px solid gray;
	background-color: white;
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
}

.ac_results li {
	padding: 2px 5px;
	white-space: nowrap;
	color: #101010;
	text-align: left;
}

.ac_over {
	cursor: pointer;
	background-color: #F0F0B8;
}

.ac_match {
	text-decoration: underline;
	color: black;
}

#poststuff h2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

#poststuff h3 {
	background: #eaf3fa;
	font-size: 15px;
	font-weight: bold;
	padding: 10px 5px;
	margin: 0 0 10px;
}

#poststuff fieldset {
	border: 1px solid #ccc;pa
	padding: 2px;
}

#poststuff .postbox, #titlediv, #poststuff .postarea {
	margin-left: 20px;
	border: 1px solid #ebebeb;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding: 2px;
	margin-bottom: 10px;
}

#poststuff .postarea {
	margin-right: 8px;
}

#poststuff .inside {
	margin: 0 12px 15px;
}

#poststuff #title {
	font-size: 1.7em;
	padding: 4px 3px;
	width: 98%;
}
#edit-slug-box {
	margin-top: 8px;
	color: #999;
}
#edit-slug-box strong {color: #777;}
#editable-post-name {background-color: #FFFBCC;}
#editable-post-name input {width: 16em;}
#edit-slug-buttons a.save {
	background-color: #ebebeb;
	-moz-border-raduis: 5px;
	padding: 6px;
}
#edit-slug-buttons a.cancel {font-size: 80%;}

#poststuff #editor-toolbar {
	position: relative;
	height: 30px;
	margin-top: -40px;
}

#poststuff #edButtonPreview, #poststuff #edButtonHTML {
	display: block;
	height: 20px;
	padding: 5px;
	margin-right: 8px;
	float: right;
	cursor: pointer;
	color: #2583ad;
}

#poststuff #editor-toolbar .active {
	background: #cee1ef;
	color: #333;
	font-weight: bold;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-topleft: 2px;
}

#poststuff #media-buttons {
	float: right;
	margin-right: 20px;
	margin-top: 5px;
}

#poststuff .togbox {
	background-color:#b2b2b2;
	background-image:url(images/toggle-arrow.gif);
	background-position:-10px 18px;
	background-repeat:no-repeat;
	display:block;
	height:44px;
	margin-left:-19px;
	margin-top:-13px;
	overflow:hidden;
	position:absolute;
	text-indent:-9999px;
	width:12px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-bottomleft: 3px;
}

#poststuff .closed .inside {
	display: none;
}

#poststuff .closed h3 {
	margin: 0;
}

#poststuff .closed .togbox {
	background-color:#2583ad;
	background-image:url(images/toggle-arrow.gif);
	background-position: 4px 18px;
}

#submitpost {
	position: fixed;
	background-color: #eaf3fa;
	width: 200px;
	top: 194px;
	right: 25%;
	-moz-border-radius: 3px;
}

#submitpost #previewview {
	background-color: #2683ae;
	padding: 15px 10px;
}

#submitpost #previewview a {
	background: #ebebeb;
	-moz-border-radius: 5px;
	padding: 6px;
	font-weight: normal;
	color: #264761;
	border-bottom: none;
	font-size: 14px;

}

#submitpost .submit {
	text-align: left;
	background-color: #464646;
	padding: 15px 10px;
}

/* Categories */

#categorydiv #category-adder {
	margin-left: 120px;
	padding: 4px 0;
}

#category-add input, #category-add select {
	width: 30%;
}

#category-add input#category-add-sumbit {
	width: auto;
}

#categorydiv ul#category-tabs {
	float: left;
	width: 120px;
	text-align: right;
	/* Negative margin for the sake of those without JS: all tabs display */
	margin: 0 -120px 0 0;
	padding: 0;
}

ul#category-tabs li {
	padding: 8px;
}

ul#category-tabs li.ui-tabs-selected {
	background-color: #CEE1EF;
}

div.ui-tabs-panel {
	margin: 0 0 0 120px;
	padding: .5em .9em;
	height: 12em;
	overflow: auto;
	border: 4px solid #CEE1EF;
}

#categorydiv ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#categorydiv ul.categorychecklist ul {
	margin-left: 18px;
}

ul.categorychecklist li {
	margin: 0;
	padding: 0;
}

/* Global classes */
.wp-hidden-children .wp-hidden-child { display: none; }
.wp-no-js-hidden { display: none; }
.ui-tabs-hide { display: none; }
.form-input-tip { color: #999; }



