a {
	border-bottom: 1px solid #69c;
	color: #00019b;
	text-decoration: none;
}

a:visited {
	color: #006;
}

a:hover {
	border-bottom: 1px solid #3a75ae;
	color: #069;
}

body	{
	background: #fff;
	color: #000;
	margin: 0;
	padding: 0;
}

body, td {
	font: 10pt Georgia, "Times New Roman", Times, serif;
}

fieldset {
	border: 1px solid #ccc;
	padding: 2px;
}

fieldset label.selectit {
	background: #f0f0f0;
	display: block;
	font-size: 11px;
	padding: 0 2px;
}

fieldset label.selectit:hover {
	background: #dadada;
}

fieldset legend {
	padding: .1em;
}

fieldset:hover {
	border: 1px solid #999;
}

form, label input {
	margin: 0;
	padding: 0;
}

h2 {
	border-bottom: 2px solid #ccc;
	color: #333;
	font: normal 22px/16px normal;
	margin: 5px 10px;
}

label {
	cursor: pointer;
}

li {
	margin-bottom: 6px;
}

p {
	line-height: 130%;
}

textarea, input, select {
	background: #f0f0f0;
	border: 1px solid #ccc;
	font-family: Georgia, "Times New Roman", Times, serif;
	margin: 1px;
	padding: 2px;
}

.alternate {
	background: #eee;
}

.anchors {
	margin: 10px 20px 10px 20px;
}

.checkbox {
	background: #fff;
	border: none;
	margin: 0;
	padding: 0;
}

.post-categories {
	display: inline;
	margin: 0;
	padding: 0;
}

.post-categories li {
	display: inline;
}

.quicktags, .search {
	background: #ccc;
	color: #000;
	font: 12px Georgia, "Times New Roman", Times, serif;
}

.unapproved {
	color: #888;
}

.unapproved a:link {
	color: #b9bcff;
}

.unapproved a:visited {
	color: #696dff;
}

.unapproved a:hover {
	color: #009ef0;
}

.wrap {
	border: 1px solid #ccc;
	margin: 15px 5%;
	padding: 0 1em;
}

.wrap h2 {
	font-size: 18px;
	margin: 6px 0;
}

#adminmenu .last, #adminmenu2 .last {
	border-right: none;
}

#adminmenu a, #adminmenu2 a {
	border: 1px solid #fff;
	color: #333;
	font-size: 16px;
	font-weight: normal;
	margin: 0;
	padding: 3px 5px;
	text-decoration: none;
}

#adminmenu a:hover, .current, #adminmenu2 a:hover {
	background: #eaeaea;
	border: 1px solid #9d9d9d;
	color: #171717;
}

#adminmenu .current {
	font-weight: bold;
}

#adminmenu li, #adminmenu2 li {
	display: inline;
	line-height: 2.0em;
	list-style: none;
	text-align: center;
}

#adminmenu, #adminmenu2 {
	border-bottom: 2px solid #5a5a5a;
	margin: 2px;
	padding: 0 2px;
}

#adminmenu2 {
	border-bottom: none;
	margin-left: 7px;
}

#adminmenu2 a {
	font-size: 14px;
}

#categorydiv {
	line-height: 130%;
	margin-right: 5px;
	position: absolute;
	right: 5%;
	width: 9em;
}

#categorydiv input, #poststatusdiv input, #commentstatusdiv input, #pingstatusdiv input {
	border: none;
}

#ed_button {
	padding: 1px;
}

#ed_del {
	text-decoration: line-through;
}

#ed_em {
	font-style: italic;
	width: 25px;
}

#ed_strong {
	font-weight: bold;
	width: 25px;
}

#ed_toolbar {
	display: inline;
}

#login {
	background: url(http://wordpress.org/images/wp-small.png) #fff no-repeat top center;
	border: 2px solid #333;
	color: #333;
	height: 170px;
	left: 50%;
	margin-left: -120px; /* half of width and height */
	margin-top: -85px;
	padding: 40px 5px 5px 5px;
	position: absolute;
	text-align: right;
	top: 45%;
	width: 240px;
}

#login textarea, #login input, #login select {
	background: #f0f0f0;
	border-color: #ccc;
	border-style: solid;
	border-width: 1px;
	margin: 1px;
	padding: 2px;
}

#metainfo {
	clear: both;
}

#poststatusdiv, #commentstatusdiv, #pingstatusdiv {
	width: 6.5em;
}

#poststuff {
	margin-right: 11em;
}

#poststuff textarea {
	width: 99%;
}

#profile {
	margin: 10px;
}

#profile .left {
	border-right: 1px dashed #ccc;
	float: left;
	margin-right: 5px;
	padding-right: 5px;
}

#profile label {
	float: left;
	padding-right: 3px;
	text-align: right;
	width: 85px;
}

#profile p {
	margin: 0 0 4px 0;
}

#quicktags {
	text-align: right;
}

#titlediv, #poststatusdiv, #commentstatusdiv, #pingstatusdiv, #postpassworddiv {
	float: left;
	margin-right: 5px;
	height: 6em;
}

#wphead {
	height: 44px;
	margin: 0;
	background: repeat-x url(../wp-images/header-shadow.png) #f2f2f2;
}

#wphead a {
	display: block;
	background: url(../wp-images/wp-small.png) no-repeat;
	height: 44px;
	text-decoration: none;
	text-indent: -1000px;
	width: 200px;
	border-bottom: none;
	margin: 3px 0 0 5px;
}
