.wp-block-social-links .wp-social-link{
  line-height:0;
}
.wp-block-social-links .wp-social-link button{
  color:currentColor;
  font-size:inherit;
  height:auto;
  line-height:0;
  opacity:1;
  padding:.25em;
}

.wp-block-social-links.is-style-pill-shape .wp-social-link button{
  padding-left:.66667em;
  padding-right:.66667em;
}

.wp-block-social-links.is-style-logos-only .wp-social-link button{
  padding:0;
}