.wp-block-post-title {
  word-break: normal;
  overflow-wrap: anywhere;
  box-sizing: border-box;
}
.wp-block-post-title :where(a) {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  line-height: inherit;
  text-decoration: inherit;
}