/**
 * Colors
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * SCSS Variables.
 *
 * Please use variables from this sheet to ensure consistency across the UI.
 * Don't add to this sheet unless you're pretty sure the value will be reused in many places.
 * For example, don't add rules to this sheet that affect block visuals. It's purely for UI.
 */
/**
 * Colors
 */
/**
 * Fonts & basic variables.
 */
/**
 * Grid System.
 * https://make.wordpress.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-wordpress/
 */
/**
 * Dimensions.
 */
/**
 * Shadows.
 */
/**
 * Editor widths.
 */
/**
 * Block & Editor UI.
 */
/**
 * Block paddings.
 */
/**
 * React Native specific.
 * These variables do not appear to be used anywhere else.
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
.wp-block-legacy-widget__edit-form {
  background: #fff;
  border-radius: 2px;
  border: 1px solid #1e1e1e;
  padding: 11px;
}
.wp-block-legacy-widget__edit-form .wp-block-legacy-widget__edit-form-title {
  color: #000;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  font-weight: 600;
  margin: 0 0 12px 0;
}
.wp-block-legacy-widget__edit-form .widget-inside {
  border: none;
  box-shadow: none;
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}
.wp-block-legacy-widget__edit-form .widget-inside label {
  font-size: 13px;
}
.wp-block-legacy-widget__edit-form .widget-inside label + .widefat {
  margin-top: 12px;
}
.wp-block-legacy-widget__edit-form .widget.open {
  z-index: 0;
}

.wp-block-legacy-widget__edit-preview,
.wp-block-legacy-widget__edit-no-preview {
  cursor: pointer;
}
.wp-block-legacy-widget__edit-preview:hover::after,
.wp-block-legacy-widget__edit-no-preview:hover::after {
  border-radius: 2px;
  border: 1px solid #949494;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}

.wp-block-legacy-widget__edit-preview.is-offscreen {
  left: -9999px;
  position: absolute;
  top: 0;
  width: 100%;
}

.wp-block-legacy-widget__edit-preview-iframe {
  overflow: hidden;
  width: 100%;
}

.wp-block-legacy-widget__edit-no-preview {
  background: #f0f0f0;
  padding: 8px 12px;
  font-size: 13px;
}
.wp-block-legacy-widget__edit-no-preview h3 {
  font-size: 14px;
  font-weight: 600;
  margin: 4px 0;
}
.wp-block-legacy-widget__edit-no-preview p {
  margin: 4px 0;
}

.wp-block-legacy-widget-inspector-card {
  padding: 0 16px 16px 52px;
}

.interface-complementary-area .wp-block-legacy-widget-inspector-card__name {
  margin: 0 0 5px;
  font-weight: 500;
}

.is-selected .wp-block-legacy-widget__container {
  padding: 8px 12px;
  min-height: 50px;
}