{% extends '@TagManager/tagmanager.twig' %}

{% set title = 'TagManager_Triggers'|translate %}

{% block content %}
    <div
        vue-entry="TagManager.TriggerManage"
        id-container="{{ container.idcontainer|json_encode }}"
        id-container-version="{{ idcontainerversion|json_encode }}"
        triggers-help-text="{{ triggersHelpText|json_encode }}"
    ></div>
{% endblock %}