{% extends '@TagManager/tagmanager.twig' %}

{% set title = 'TagManager_Variables'|translate %}

{% block content %}
    <div
        vue-entry="TagManager.VariableManage"
        id-container="{{ container.idcontainer|json_encode }}"
        id-container-version="{{ idcontainerversion|json_encode }}"
        variables-help-text="{{ variablesHelpText|json_encode }}"
    ></div>
{% endblock %}