<div
        vue-entry="TagManager.TrackingCodePage"
        current-action="{{ action|json_encode }}"
        show-container-row="{{ showContainerRow|json_encode }}"
        is-js-tracker-install-check-available="{{ isJsTrackerInstallCheckAvailable|json_encode }}"
>
</div>