/* This file contains the CSS data for the editable area(iframe) of TinyMCE */

body.mceContentBody {
	background: #fff;
	color: #000;
	font: 13px/19px "Lucida Grande","Lucida Sans Unicode",Tahoma,Verdana,sans-serif;
	padding: 0.6em;
	margin: 0;
}

body.mceForceColors {
	background:#fff;
	color:#000;
}

h1 {font-size: 2em}
h2 {font-size: 1.5em}
h3 {font-size: 1.17em}
h4 {font-size: 1em}
h5 {font-size: .83em}
h6 {font-size: .75em}

.mceItemTable, .mceItemTable td, .mceItemTable th, .mceItemTable caption, .mceItemVisualAid {
	border: 1px dashed #BBB;
}

img {
	border:0;
}

td {
	font-size: 10px;
}

pre {
	font: 12px/18px "Courier New", monospace;
}

img.mceItemAnchor {
	width: 12px;
	height: 12px;
	background: url(img/items.gif) no-repeat;
}

a.mceItemAnchor {
	width: 12px;
	line-height: 6px;
	overflow: hidden;
	padding-left: 12px;
	background: url(img/items.gif) no-repeat bottom left;
}
