/*
 * Button mixin- creates 3d-ish button effect with correct
 * highlights/shadows, based on a base color.
 */
html {
  background: #f5f5f5; }

/* Links */
a {
  color: #0074a2; }
  a:hover, a:active, a:focus {
    color: #0099d5; }

#media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover {
  color: #0099d5; }

/* Forms */
input[type=checkbox]:checked:before {
  color: #04a4cc; }

input[type=radio]:checked:before {
  background: #04a4cc; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active {
  color: #0099d5; }

/* Core UI */
.wp-core-ui .button-primary {
  background: #04a4cc;
  border-color: #037c9a;
  color: white;
  -webkit-box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15); }
  .wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus {
    background: #0490b3;
    border-color: #036881;
    color: white;
    -webkit-box-shadow: inset 0 1px 0 #09cafa;
    box-shadow: inset 0 1px 0 #09cafa; }
  .wp-core-ui .button-primary:focus {
    -webkit-box-shadow: inset 0 1px 0 #09cafa, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
    box-shadow: inset 0 1px 0 #09cafa, 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .wp-core-ui .button-primary:active {
    background: #037c9a;
    border-color: #036881;
    color: white;
    -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8);
    box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5), 0 0 0 1px #5b9dd9, 0 0 2px 1px rgba(30, 140, 190, 0.8); }
  .wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled {
    color: #c7cfd1 !important;
    background: #0384a4 !important;
    border-color: #036881 !important;
    text-shadow: none !important; }
.wp-core-ui .wp-ui-primary {
  color: #333;
  background-color: #e5e5e5; }
.wp-core-ui .wp-ui-text-primary {
  color: #e5e5e5; }
.wp-core-ui .wp-ui-highlight {
  color: #fff;
  background-color: #888; }
.wp-core-ui .wp-ui-text-highlight {
  color: #888; }
.wp-core-ui .wp-ui-notification {
  color: #fff;
  background-color: #d64e07; }
.wp-core-ui .wp-ui-text-notification {
  color: #d64e07; }
.wp-core-ui .wp-ui-text-icon {
  color: #999; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus {
  color: #333;
  background-color: #e5e5e5; }

.view-switch a.current:before {
  color: #e5e5e5; }

.view-switch a:hover:before {
  color: #d64e07; }

.post-com-count:hover:after {
  border-top-color: #e5e5e5; }

.post-com-count:hover span {
  color: #333;
  background-color: #e5e5e5; }

strong .post-com-count:after {
  border-top-color: #d64e07; }

strong .post-com-count span {
  background-color: #d64e07; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu {
  background: #e5e5e5; }

#adminmenu a {
  color: #333; }

#adminmenu div.wp-menu-image:before {
  color: #999; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus {
  color: #fff;
  background-color: #888; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before {
  color: #ccc; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover {
  background-color: #f5f5f5;
  border-bottom-color: #f5f5f5; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu {
  background: #fff; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after {
  border-right-color: #fff; }

#adminmenu .wp-submenu .wp-submenu-head {
  color: #686868; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a {
  color: #686868; }
  #adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover {
    color: #04a4cc; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a {
  color: #333; }
  #adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus {
    color: #04a4cc; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after {
  border-right-color: #f5f5f5; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top {
  color: #fff;
  background: #888; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before {
  color: #ccc; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins {
  color: #fff;
  background: #d64e07; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins {
  color: #333;
  background: #fff; }

/* Admin Menu: collapse button */
#collapse-menu {
  color: #777; }

#collapse-menu:hover {
  color: #333; }

#collapse-button div:after {
  color: #999; }

#collapse-menu:hover #collapse-button div:after {
  color: #555; }

/* Admin Bar */
#wpadminbar {
  color: #333;
  background: #e5e5e5; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon {
  color: #333; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after {
  color: #999; }

#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #04a4cc;
  background: #fff; }

#wpadminbar > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar a:focus span.ab-label {
  color: #04a4cc; }

#wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
  color: #ccc; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper {
  background: #fff; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu {
  background: #f6f7f7; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a {
  color: #686868; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before {
  color: #999; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li.hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before {
  color: #04a4cc; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before {
  color: #04a4cc; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before {
  color: #999; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus {
  color: #333;
  background: #f7f7f7; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
  color: #333;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
  color: #333;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder {
  color: #333;
  opacity: 0.7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder {
  color: #333;
  opacity: 0.7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
  border-color: #f7f7f7;
  background-color: #f7f7f7; }

#wpadminbar #wp-admin-bar-user-info .display-name {
  color: #333; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name {
  color: #04a4cc; }

#wpadminbar #wp-admin-bar-user-info .username {
  color: #686868; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 {
  background-color: #04a4cc;
  border-color: #0490b3; }

.wp-pointer .wp-pointer-content h3:before {
  color: #04a4cc; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner {
  border-bottom-color: #04a4cc; }

/* Media */
.media-item .bar, .media-progress-bar div {
  background-color: #04a4cc; }

.details.attachment {
  -webkit-box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #04a4cc;
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #04a4cc; }

.attachment.details .check {
  background-color: #04a4cc;
  -webkit-box-shadow: 0 0 0 1px #fff, 0 0 0 2px #04a4cc;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #04a4cc; }

.media-selection .attachment.selection.details .thumbnail {
  -webkit-box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #04a4cc;
  box-shadow: 0px 0px 0px 1px #fff, 0px 0px 0px 3px #04a4cc; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme:hover:after {
  background: #04a4cc; }

.theme-browser .theme.add-new-theme:hover span:after {
  color: #04a4cc; }

.theme-section.current, .theme-filter.current {
  border-bottom-color: #e5e5e5; }

body.more-filters-opened .more-filters {
  color: #333;
  background-color: #e5e5e5; }

body.more-filters-opened .more-filters:before {
  color: #333; }

body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus {
  background-color: #888;
  color: #fff; }

body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before {
  color: #fff; }

/* Widgets */
.widgets-chooser li.widgets-chooser-selected {
  background-color: #888;
  color: #fff; }

.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before {
  color: #fff; }

/* Customize */
#customize-theme-controls .widget-area-select .selected {
  background-color: #888;
  color: #fff; }

/* jQuery UI Slider */
.wp-slider .ui-slider-handle, .wp-slider .ui-slider-handle.ui-state-hover, .wp-slider .ui-slider-handle.focus {
  background: #04a4cc;
  border-color: #037c9a;
  -webkit-box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px 0 #22cffb, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Thickbox: Plugin information */
#sidemenu a.current {
  background: #f5f5f5;
  border-bottom-color: #f5f5f5; }

#plugin-information .action-button {
  background: #04a4cc; }

/* Responsive Component */
div#wp-responsive-toggle a:before {
  color: #999; }

.wp-responsive-open div#wp-responsive-toggle a {
  border-color: transparent;
  background: #888; }

.star-rating .star {
  color: #04a4cc; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a {
  background: #fff; }

/* temporary fix for admin-bar hover color */
#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default li:hover span.ab-label, #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary li.hover span.ab-label, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
  color: #333; }

/* Override the theme filter highlight color for this scheme */
.theme-section.current, .theme-filter.current {
  border-bottom-color: #04a4cc; }
