/* Default WordPress by Dave Shea || http://mezzoblue.com
	Modifications by Matthew Mullenweg || http://photomatt.net
	This is just a basic layout, with only the bare minimum defined.
	Please tweak this and make it your own. :)
*/

a {
	color: #675;
}

a img {
	border: none;
}

a:visited {
	color: #342;
}

a:hover {
	color: #9a8;
}

acronym, abbr {
	border-bottom: 1px dashed #333;
}

acronym, abbr, span.caps {
	cursor: help;
	font-size: 90%;
	letter-spacing: .07em;
}

blockquote {
	border-left: 5px solid #ccc;
	margin-left: 1.5em;
	padding-left: 5px;
}

body {
	border: solid 2px #565;
	border-bottom: solid 1px #565;
	border-top: solid 3px #565;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	margin: 0;
	padding: 0;
	background-color: white;
	color: black;
}

cite {
	font-size: 90%;
	font-style: normal;
}

h2 {
	border-bottom: 1px dotted #ccc;
	font: 80% "Times New Roman", Times, serif;
	letter-spacing: 0.2em;
	margin: 15px 0 2px 0;
	padding-bottom: 2px;
}

h3 {
	border-bottom: dotted 1px #eee;
	font-family: "Times New Roman", Times, serif;
	margin-top: 0;
}

ol#comments li p {
	font-size: 100%;
}

p, li, .feedback {
	font: 90%/175% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: -1px;
}

.credit {
	background: #90a090;
	border-top: double 3px #aba;
	color: #fff;
	font-size: 11px;
	margin: 10px 0 0 0;
	padding: 3px;
	text-align: center;
}

.credit a:link, .credit a:hover {
	color: #fff;
}

.feedback {
	color: #ccc;
	text-align: right;
}

.meta {
	font-size: .75em;
}

.meta, .meta a {
	color: #808080;
	font-weight: normal;
	letter-spacing: 0;
}
.meta ul {
	display: inline;
	margin: 0;
	padding: 0;
	list-style: none;
}

.meta li {
	display: inline;
}

.storytitle {
	margin: 0;
}

.storytitle a {
	text-decoration: none;
}

#commentform input, #commentform textarea {
	background: #fff;
	border: 1px solid #333;
}

#commentform textarea {
	width: 100%;
}

#content {
	margin: 30px 13em 0 3em;
	padding-right: 60px;
}

#header {
	background: #90a090;
	border-bottom: double 3px #aba;
	border-left: solid 1px #9a9;
	border-right: solid 1px #565;
	border-top: solid 1px #9a9;
	font: italic normal 230% 'Times New Roman', Times, serif;
	letter-spacing: 0.2em;
	margin: 0;
	padding: 15px 10px 15px 60px;
}

#header a {
	color: #fff;
	text-decoration: none;
}

#header a:hover {
	text-decoration: underline;
}

#menu {
	background: #fff;
	border-left: 1px dotted #ccc;
	border-top: solid 3px #e0e6e0;
	padding: 20px 0 10px 30px;
	position: absolute;
	right: 2px;
	top: 0;
	width: 11em;
}

#menu form {
	margin: 0 0 0 13px;
}

#menu input {
	background: #eee;
	border: 1px solid #999;
	letter-spacing: -0.05em;
	width: 80%;
}

#menu ul {
	color: #ccc;
	font-weight: bold;
	list-style-type: none;
	margin: 0;
	padding-left: 3px;
	text-transform: lowercase;
}

#menu ul li {
	font: italic normal 110% 'Times New Roman', Times, serif;
	letter-spacing: 0.1em;
	margin-top: 10px;
	padding-bottom: 2px; /*border-bottom: dotted 1px #ccc;*/
}

#menu ul ul {
	list-style-type: none;
	font-variant: normal;
	font-weight: normal;
	line-height: 100%;
	margin: 0;
	padding: 0;
	text-align: left;
}

#menu ul ul li {
	border: 0;
	font: normal normal 70%/115% 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: 0;
	margin-top: 0;
	padding: 0;
	padding-left: 12px;
}

#menu ul ul li a {
	color: #000;
	text-decoration: none;
}

#menu ul ul li a:hover {
	border-bottom: 1px solid #809080;
}

#menu ul ul ul.children {
	padding-left:4px;
	font-size:142%;
}

#wp-calendar {
	border: 1px solid #ddd;
	empty-cells: show;
	font-size: 14px;
	margin: 0;
	width: 90%;
}

#wp-calendar #next a {
	padding-right: 10px;
	text-align: right;
}

#wp-calendar #prev a {
	padding-left: 10px;
	text-align: left;
}

#wp-calendar a {
	display: block;
	text-decoration: none;
}

#wp-calendar a:hover {
	background: #e0e6e0;
	color: #333;
}

#wp-calendar caption {
	color: #999;
	font-size: 16px;
	text-align: left;
}

#wp-calendar td {
	color: #ccc;
	font: normal 12px 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	letter-spacing: normal;
	padding: 2px 0;
	text-align: center;
}

#wp-calendar td.pad:hover {
	background: #fff;
}

#wp-calendar td:hover, #wp-calendar #today {
	background: #eee;
	color: #bbb;
}

#wp-calendar th {
	font-style: normal;
	text-transform: capitalize;
}
