/**
 * Colors
 */
.wp-block-term-template .term-loading .term-loading-placeholder {
  width: 100%;
  height: 1.5em;
  margin-bottom: 0.25em;
  background-color: #f0f0f0;
  border-radius: 2px;
}
@media not (prefers-reduced-motion) {
  .wp-block-term-template .term-loading .term-loading-placeholder {
    animation: loadingpulse 1.5s ease-in-out infinite;
  }
}

@keyframes loadingpulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}