.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem
}
@media (min-width: 640px) {
    .container {
        max-width: 640px;
        padding-right: 2rem;
        padding-left: 2rem
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px
    }
}
@media (min-width: 1024px) {
    .container {
        max-width: 1024px;
        padding-right: 0rem;
        padding-left: 0rem
    }
}
@media (min-width: 1280px) {
    .container {
        max-width: 1280px
    }
}
@media (min-width: 1536px) {
    .container {
        max-width: 1536px
    }
}
.m-8 {
    margin: 2rem
}
.my-3 {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem
}
.my-8 {
    margin-top: 2rem;
    margin-bottom: 2rem
}
.mx-auto {
    margin-left: auto;
    margin-right: auto
}
.my-12 {
    margin-top: 3rem;
    margin-bottom: 3rem
}
.my-4 {
    margin-top: 1rem;
    margin-bottom: 1rem
}
.mb-8 {
    margin-bottom: 2rem
}
.mt-4 {
    margin-top: 1rem
}
.mb-10 {
    margin-bottom: 2.5rem
}
.mb-4 {
    margin-bottom: 1rem
}
.mb-1 {
    margin-bottom: 0.25rem
}
.mb-12 {
    margin-bottom: 3rem
}
.inline-block {
    display: inline-block
}
.flex {
    display: flex
}
.hidden {
    display: none
}
.h-1 {
    height: 0.25rem
}
.h-6 {
    height: 1.5rem
}
.min-h-screen {
    min-height: 100vh
}
.w-full {
    width: 100%
}
.w-16 {
    width: 4rem
}
.w-6 {
    width: 1.5rem
}
.max-w-sm {
    max-width: 24rem
}
.max-w-screen-lg {
    max-width: 1024px
}
.flex-none {
    flex: none
}
.flex-grow {
    flex-grow: 1
}
.cursor-pointer {
    cursor: pointer
}
.flex-col {
    flex-direction: column
}
.items-center {
    align-items: center
}
.justify-center {
    justify-content: center
}
.justify-between {
    justify-content: space-between
}
.rounded {
    border-radius: 0.25rem
}
.rounded-xl {
    border-radius: 0.75rem
}
.border {
    border-width: 1px
}
.border-b {
    border-bottom-width: 1px
}
.border-primary {
    --tw-border-opacity: 1;
    border-color: rgba(14, 165, 233, var(--tw-border-opacity))
}
.border-transparent {
    border-color: transparent
}
.bg-primary {
    --tw-bg-opacity: 1;
    background-color: rgba(14, 165, 233, var(--tw-bg-opacity))
}
.bg-gray-200 {
    --tw-bg-opacity: 1;
    background-color: rgba(229, 231, 235, var(--tw-bg-opacity))
}
.bg-gray-50 {
    --tw-bg-opacity: 1;
    background-color: rgba(249, 250, 251, var(--tw-bg-opacity))
}
.bg-white {
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity))
}
.bg-gray-100 {
    --tw-bg-opacity: 1;
    background-color: rgba(243, 244, 246, var(--tw-bg-opacity))
}
.bg-gray-900 {
    --tw-bg-opacity: 1;
    background-color: rgba(17, 24, 39, var(--tw-bg-opacity))
}
.p-4 {
    padding: 1rem
}
.px-4 {
    padding-left: 1rem;
    padding-right: 1rem
}
.py-2 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem
}
.px-3 {
    padding-left: 0.75rem;
    padding-right: 0.75rem
}
.py-12 {
    padding-top: 3rem;
    padding-bottom: 3rem
}
.py-6 {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem
}
.py-3 {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem
}
.px-6 {
    padding-left: 1.5rem;
    padding-right: 1.5rem
}
.pb-12 {
    padding-bottom: 3rem
}
.text-center {
    text-align: center
}
.text-5xl {
    font-size: 3rem;
    line-height: 1
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem
}
.font-light {
    font-weight: 300
}
.font-bold {
    font-weight: 700
}
.font-extrabold {
    font-weight: 800
}
.font-medium {
    font-weight: 500
}
.font-semibold {
    font-weight: 600
}
.uppercase {
    text-transform: uppercase
}
.leading-6 {
    line-height: 1.5rem
}
.leading-tight {
    line-height: 1.25
}
.tracking-tight {
    letter-spacing: -0.025em
}
.text-black {
    --tw-text-opacity: 1;
    color: rgba(0, 0, 0, var(--tw-text-opacity))
}
.text-gray-800 {
    --tw-text-opacity: 1;
    color: rgba(31, 41, 55, var(--tw-text-opacity))
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255, 255, 255, var(--tw-text-opacity))
}
.text-gray-500 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}
.text-gray-900 {
    --tw-text-opacity: 1;
    color: rgba(17, 24, 39, var(--tw-text-opacity))
}
.text-gray-600 {
    --tw-text-opacity: 1;
    color: rgba(75, 85, 99, var(--tw-text-opacity))
}
.text-secondary {
    --tw-text-opacity: 1;
    color: rgba(20, 184, 166, var(--tw-text-opacity))
}
.text-primary {
    --tw-text-opacity: 1;
    color: rgba(14, 165, 233, var(--tw-text-opacity))
}
.text-gray-700 {
    --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity))
}
.antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.transition-colors {
    transition-property: background-color, border-color, color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms
}
.duration-200 {
    transition-duration: 200ms
}
.has-primary-text-color {
    color: #0EA5E9
}
.has-secondary-text-color {
    color: #14B8A6
}
.has-dark-text-color {
    color: #1F2937
}
.has-light-text-color {
    color: #F9FAFB
}
.has-primary-background-color {
    background-color: #0EA5E9
}
.has-secondary-background-color {
    background-color: #14B8A6
}
.has-dark-background-color {
    background-color: #1F2937
}
.has-light-background-color {
    background-color: #F9FAFB
}
.alignfull {
    margin: 0.5rem calc(50% - 50vw);
    max-width: 100vw;
    width: 100vw
}
.alignwide {
    margin-left: -4rem;
    margin-right: -4rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    max-width: 1280px
}
.alignnone {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
    max-width: 100%
}
.aligncenter {
    margin: 0.5rem auto;
    display: block
}
@media (min-width: 640px) {
    .alignleft:not(.wp-block-button) {
        margin-right: 0.5rem
    }
    .alignleft:not(.wp-block-button) {
        float: left
    }
    .alignright:not(.wp-block-button) {
        margin-left: 0.5rem
    }
    .alignright:not(.wp-block-button) {
        float: right
    }
    .wp-block-button.alignleft a {
        float: left
    }
    .wp-block-button.alignleft a {
        margin-right: 1rem
    }
    .wp-block-button.alignright a {
        float: right
    }
    .wp-block-button.alignright a {
        margin-left: 1rem
    }
}
.has-small-font-size {
    font-size: 14px;
    font-weight: normal
}
.has-regular-font-size {
    font-size: 16px;
    font-weight: normal
}
.has-large-font-size {
    font-size: 18px;
    font-weight: bold
}
.wp-caption {
    display: inline-block
}
.wp-caption img {
    margin-bottom: 0.5rem;
    line-height: 1
}
.wp-caption-text {
    font-size: 0.875rem;
    color: #4b5563
}
.entry-content h1, .block-editor-block-list__layout h1 {
    font-size: 1.5rem;
    line-height: 2rem
}
.entry-content h2, .block-editor-block-list__layout h2 {
    font-size: 1.25rem;
    line-height: 1.75rem
}
.entry-content h3, .block-editor-block-list__layout h3 {
    font-size: 1.125rem;
    line-height: 1.75rem
}
.entry-content p a, .entry-content ul a, .entry-content ol a, .block-editor-block-list__layout p a, .block-editor-block-list__layout ul a, .block-editor-block-list__layout ol a {
    --tw-text-opacity: 1;
    color: rgba(59, 130, 246, var(--tw-text-opacity))
}
.entry-content p a, .entry-content ul a, .entry-content ol a, .block-editor-block-list__layout p a, .block-editor-block-list__layout ul a, .block-editor-block-list__layout ol a {
    text-decoration: underline
}
.entry-content p a:hover, .entry-content ul a:hover, .entry-content ol a:hover, .block-editor-block-list__layout p a:hover, .block-editor-block-list__layout ul a:hover, .block-editor-block-list__layout ol a:hover {
    text-decoration: none
}
.entry-content p, .entry-content ul, .entry-content ol, .block-editor-block-list__layout p, .block-editor-block-list__layout ul, .block-editor-block-list__layout ol {
    margin-bottom: 2rem
}
.entry-content ul li, .block-editor-block-list__layout ul li {
    list-style-position: inside
}
.entry-content ul li, .block-editor-block-list__layout ul li {
    list-style-type: disc
}
.entry-content ol li, .block-editor-block-list__layout ol li {
    list-style-position: inside
}
.entry-content ol li, .block-editor-block-list__layout ol li {
    list-style-type: decimal
}
.block-editor__typewriter {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}
.wp-block {
    max-width: 1024px
}
.wp-block[data-align=wide] {
    max-width: 1280px
}
.wp-block[data-align=full] {
    max-width: 100%
}
.focus\:outline-none:focus {
    outline: 2px solid transparent;
    outline-offset: 2px
}
.focus\:ring-2:focus {
    --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
    --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
    box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000)
}
.focus\:ring-gray-900:focus {
    --tw-ring-opacity: 1;
    --tw-ring-color: rgba(17, 24, 39, var(--tw-ring-opacity))
}
.focus\:ring-offset-2:focus {
    --tw-ring-offset-width: 2px
}
.focus\:ring-offset-white:focus {
    --tw-ring-offset-color: #fff
}
@media (min-width: 640px) {
    .sm\:w-auto {
        width: auto
    }
}
@media (min-width: 768px) {
    .md\:my-6 {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem
    }
    .md\:flex {
        display: flex
    }
    .md\:w-1\/2 {
        width: 50%
    }
    .md\:text-3xl {
        font-size: 1.875rem;
        line-height: 2.25rem
    }
}
@media (min-width: 1024px) {
    .lg\:-mx-4 {
        margin-left: -1rem;
        margin-right: -1rem
    }
    .lg\:mx-4 {
        margin-left: 1rem;
        margin-right: 1rem
    }
    .lg\:mt-0 {
        margin-top: 0px
    }
    .lg\:block {
        display: block
    }
    .lg\:flex {
        display: flex
    }
    .lg\:hidden {
        display: none
    }
    .lg\:items-center {
        align-items: center
    }
    .lg\:justify-between {
        justify-content: space-between
    }
    .lg\:bg-transparent {
        background-color: transparent
    }
    .lg\:p-0 {
        padding: 0px
    }
    .lg\:text-7xl {
        font-size: 4.5rem;
        line-height: 1
    }
    .lg\:text-5xl {
        font-size: 3rem;
        line-height: 1
    }
}
