.wp-block-audio{
  margin-left:0;
  margin-right:0;
  position:relative;
}
.wp-block-audio.is-transient audio{
  opacity:.3;
}
.wp-block-audio .components-spinner{
  margin-right:-9px;
  margin-top:-9px;
  position:absolute;
  right:50%;
  top:50%;
}