/**
 * Dashboard General
 *
 * .howto remove italic property
 * remove italic from p.help, p.description, span.description, .form-wrap p
 * Enlarge font size of dashboard gadgets "configure" link
 */
.howto { font-style: normal; }
p.help, p.description, span.description, .form-wrap p { font-style: normal !important; }
.hndle a { font-size: 12px; }

/**
 * Tables
 *
 * Remove italic property from tablenav
 */
.tablenav .displaying-num { font-style: normal; }

/**
 * update-core page
 *
 * Enlarge font size, set font-size: normal
 */
form.upgrade .hint { font-style: normal; font-size: 100%; }

/**
 * Advanced editor form
 *
 * More beautiful font-family for screen tagline "Just write."
 * Enlarge font-size for fullscreen mode texts
 */
#wp-fullscreen-tagline { font-family: KaiTi, "楷体", sans-serif; }
#wp-fullscreen-modes a { font-size: 12px; }

/**
 * Forms
 *
 * Form placeholder font-style change
 */
.js .input-with-default-title { font-style: normal; }

/**
 * Menu editor
 *
 * Link to original font-style change
 */
.link-to-original { font-style: normal; }

/**
 * Media
 *
 * Enlarge font-size of sorting text
 */
#sort-buttons { font-size: 1em !important; }

/**
 * Inline Editing
 *
 * font-style change
 */
.inline-edit-row fieldset span.title, .inline-edit-row fieldset span.checkbox-title { font-style: normal; }

/**
 * Settings > General
 *
 * local time and UTC time font-style
 */
#utc-time, #local-time { font-style: normal; }

/**
 * plugin-install
 *
 * font-style fix
 */
p.install-help { font-style: normal; }
