#wpadminbar {
	direction:ltr;
	background:#666 url(../images/admin-bar-sprite.png?d=08102010) 0 -222px repeat-x;
	color:#ddd;
	font:12px Arial, Helvetica, sans-serif;
	height:28px;
	left:0;
	margin:0;
	position:fixed;
	top:0;
	width:100%;
	z-index:99999;
	min-width: 960px;
}
#wpadminbar ul, 
#wpadminbar ul li {
	position: relative;
	z-index: 99999;
}
#wpadminbar ul li img {
	vertical-align: middle !important;
	margin-right: 8px !important;
	border: none !important;
	padding: 0 !important;
}
#wpadminbar .quicklinks > ul > li > a {
	border-right: 1px solid #686868;
	border-left: 1px solid #808080;
}
#wpadminbar .quicklinks > ul > li:last-child > a {
	border-right: none;
}
#wpadminbar .quicklinks > ul > li:hover > a {
	border-left-color: #707070;
}
#wpadminbar a {
	outline: none;
}
#wpadminbar .avatar {
	border:1px solid #999 !important;
	padding:0 !important;
	margin:-3px 5px 0 0 !important;
	vertical-align:middle;
	float:none;
	display:inline !important;
}
#wpadminbar li:hover > ul,
#wpadminbar li.hover > ul {
	display:block;
}

#wpadminbar .menupop li:hover > ul,
#wpadminbar .menupop li.hover > ul {
	margin-left:100%;
	margin-top:-28px;
}

#wpadminbar .menupop ul li a {
	color:#555 !important;
	text-shadow:none;
	font-weight:normal;
	white-space:nowrap;
}
#wpadminbar .menupop a > span {
	background:url(../images/admin-bar-sprite.png?d=08102010) 100% 100.4% no-repeat;
	padding-right:.8em;
	line-height: 28px;
}
#wpadminbar .menupop ul li a > span {
	display: block;
	background:url(../images/admin-bar-sprite.png?d=08102010) 100% 97.2% no-repeat;
	padding-right:1.5em;
	line-height: 28px;
}
#wpadminbar ul li a span#ab-awaiting-mod,
#wpadminbar ul li a span#ab-updates {
	display: inline;
	background: #eee;
	color: #333;
	padding: 1px 5px;
	font-size: 10px;
	font-family: verdana;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
#wpadminbar ul li a:hover span#ab-awaiting-mod,
#wpadminbar ul li a:hover span#ab-updates  {
	background: #fff;
	color: #888;
}
#wpadminbar ul li a span#ab-awaiting-mod.count-0 {
	display: none;
}
#wpadminbar .menupop ul {
	-moz-box-shadow:0 4px 8px rgba(0,0,0,0.1);
	-webkit-box-shadow:0 4px 8px rgba(0,0,0,0.1);
	background:#fff;
	display:none;
	position:absolute;
	border:1px solid #dfdfdf;
	border-top:none !important;
	float:none;
}
html>body #wpadminbar .menupop ul {
	background:rgba(255,255,255,0.97);
	border-color:rgba(0,0,0,0.1);
}
#wpadminbar .menupop li {
	float:none;
	margin:0;
	padding:0;
	background-image:none;
}
#wpadminbar .quicklinks a {
	border:none;
	color:#ddd !important;
	height:28px;
	text-shadow:#555 0px -1px 0px;
	display:block;
	font:13px Arial, Helvetica, sans-serif;
	font-weight:normal;
	letter-spacing:normal;
	padding:0 0.85em;
	line-height:28px;
	text-decoration:none !important;
}
#wpadminbar .quicklinks li ul li a {
	width:160px;
}
#wpadminbar .quicklinks a:hover {
	text-shadow:#333 0px -1px 0px;
}

#wpadminbar li.ab-sadmin {
	float: right;
	background: #555;
}
#wpadminbar li.ab-sadmin ul {
	right: 0;
	float: right;
}
#wpadminbar li.ab-sadmin > a {
	font-size: 11px !important;
	padding: 0 7px !important;
	border: none !important;
	border-left: 1px solid #666 !important;
}

#wpadminbar li.ab-sadmin ul a {
	border-right: none !important;
	border-left: none !important;
}
#wpadminbar li.ab-sadmin ul li {
	right: 0;
	float: right;
	text-align: left;
	width: 100%;
}
#wpadminbar li.ab-sadmin ul li a {
	padding-left: 1.75em;
} 
#wpadminbar li.ab-sadmin ul li a > span {
	background:url(../images/admin-bar-sprite.png?d=08102010) 0% 101.8% no-repeat;
	padding-left: 1.25em;
	margin-left: -1.25em;
	line-height: 28px;
	padding-right: 0 !important;
}

#wpadminbar li:hover {
	background: #555 url(../images/admin-bar-sprite.png?d=08102010) 0 -282px repeat-x;
}
#wpadminbar li li:hover {
	color:#fff !important;
	background: #888 url(../images/admin-bar-sprite.png?d=08102010) 0 -222px repeat-x !important;
	text-shadow: #666 0px -1px 0px;
}
#wpadminbar li li:hover > a {
	color:#fff !important;
}
.quicklinks ul {
	list-style:none;
	margin:0;
	padding:0;
	text-align:left;
}
.quicklinks ul li {
	float:left;
	margin:0;
}

#adminbarsearch {
	float:right;
}
#adminbarsearch {
	height: 18px;
	padding: 3px;
}
#adminbarsearch * {
	color: #555;
	font-size:12px;
}
#adminbarsearch label, 
#adminbarsearch a {
	height: 28px;
	color: #ccc;
	display:block;
	float:left;
	padding:3px 4px;
	text-shadow:0px -1px 0px #444;
}
#adminbarsearch a {
	text-decoration:underline;
}
#adminbarsearch a:hover {
	color:#fff;
}

#wpadminbar li.ab-me:hover, 
#wpadminbar li.ab-blog:hover {
	background:none;
}
#wpadminbar li.ab-me > a, 
#wpadminbar li.ab-blog > a {
	line-height: 18px !important;
	border: none !important;
	background:url(../images/admin-bar-sprite.png?d=08102010) 100% 59.8% no-repeat;
	height: 28px;
	padding: 0 1.15em 0 0.7em;
}
#wpadminbar li.ab-blog > a:hover {
	background-position: 67% 59.8%;
}
#wpadminbar li.ab-me img.avatar, 
#wpadminbar li.ab-blog img.avatar {
	margin: 4px 0 0 0 !important;
	vertical-align: middle;
	background: #eee;
	width: 16px !important;
	height: 16px !important;
}
#wpadminbar li.ab-my-account a, #wpadminbar li.ab-bloginfo a {
	border-left: none !important;
	padding-left: 0.7em !important;
	margin-top: 0 !important;
}

#wpadminbar ul li img {
	width: 16px !important;
	height: 16px !important;
}

#wpadminbar #adminbar-search {
	line-height:normal !important;
	width:140px !important;
	margin-top:0px !important;
}
.adminbar-input {
	display:block !important;
	float:left !important;
	font:12px Arial,Helvetica,sans-serif !important;
	border:1px solid #626262 !important;
	padding:2px 3px !important;
	margin-right:3px !important;
	background:#ddd url(../images/admin-bar-sprite.png?d=08102010) top left no-repeat !important;
	-webkit-border-radius:0 !important;
	-khtml-border-radius:0 !important;
	-moz-border-radius:0 !important;
	border-radius:0 !important;
	outline:none;
	text-shadow:0 1px 0 #fff;
}
button.adminbar-button {
	position:relative;
	border:0;
	cursor:pointer;
	overflow:visible;
	margin:0 !important;
	float:left;
	background:url(../images/admin-bar-sprite.png?d=08102010) right -107px no-repeat;
	padding:0 14px 0 0;
	text-align:center;
}
button.adminbar-button span {
	position:relative;
	display:block;
	white-space:nowrap;
	height:19px;
	background:url(../images/admin-bar-sprite.png?d=08102010) left -69px no-repeat;
	padding:3px 0 0 14px;
	font:12px Arial,Helvetica,sans-serif !important;
	font-weight:bold !important;
	color:#444 !important;
	text-shadow:0px 1px 0px #eee !important;
}
button.adminbar-button:active {
	background-position:right -184px !important;
	text-shadow:0px 1px 0px #eee !important;
}
button.adminbar-button:hover span {
	color:#000 !important;
}
button.adminbar-button:active span {
	background-position:left -146px !important;
}
button.adminbar-button::-moz-focus-inner {
	border:none;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	button.adminbar-button span {
		margin-top: -1px;
	}
}


/**
 * IE 6-targeted rules
 */

* html #wpadminbar, 
* html #wpadminbar .menupop a span, 
* html #wpadminbar .menupop ul li a:hover, 
* html #wpadminbar .myaccount a, 
* html .quicklinks a:hover,
* html #wpadminbar .menupop:hover {
	background-image: none !important; 
}

* html #wpadminbar {
	overflow:hidden;
	position:absolute;
}

* html #wpadminbar .quicklinks ul li a {
	float:left;
}

* html #adminbarsearch-wrap {
	position:absolute;
	top:0;
}

* html #wpadminbar ul, 
* html #wpadminbar ul li {
	zoom:1;
}

* html #wpadminbar .myaccount a { 
	margin-left:0 !important; 
	padding-left:12px !important;
}
/**
 * End IE 6-targeted rules
 */
