#wpadminbar * {
	height: auto;
	width: auto;
	margin: 0;
	padding: 0;
	position: static;
	text-transform: none;
	letter-spacing: normal;
	line-height: 1;
	font: normal 13px/28px sans-serif;
	color: #ccc;
	text-shadow: #444 0px -1px 0px;
	-webkit-box-sizing: content-box;
	-moz-box-sizing:    content-box;
	box-sizing:         content-box;
	-webkit-transition: none;
	-moz-transition:    none;
	-o-transition:      none;
	transition:         none;
}

#wpadminbar ul li:before,
#wpadminbar ul li:after {
	content: normal;
}

#wpadminbar a,
#wpadminbar a:hover,
#wpadminbar a img,
#wpadminbar a img:hover {
	outline: none;
	border: none;
	text-decoration: none;
	background: none;
}

#wpadminbar a:focus,
#wpadminbar a:active,
#wpadminbar input[type="text"],
#wpadminbar input[type="password"],
#wpadminbar input[type="number"],
#wpadminbar input[type="search"],
#wpadminbar input[type="email"],
#wpadminbar input[type="url"],
#wpadminbar select,
#wpadminbar textarea,
#wpadminbar div {
	outline: none;
}

#wpadminbar {
	direction: ltr;
	color: #ccc;
	font: normal 13px/28px sans-serif;
	height: 28px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 600px; /* match the min-width of the body in wp-admin.css */
	z-index: 99999;
	background: #464646;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #373737), color-stop(18%, #464646));
	background-image: -webkit-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image:    -moz-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image:      -o-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image: linear-gradient(to top, #373737 0, #464646 5px);
}

#wpadminbar .ab-sub-wrapper,
#wpadminbar ul,
#wpadminbar ul li {
	background: none;
	clear: none;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-indent: 0;
	z-index: 99999;
}

#wpadminbar .quicklinks {
	border-left: 1px solid transparent;
}

#wpadminbar .quicklinks ul {
	text-align: left;
}

#wpadminbar li {
	float: left;
}

#wpadminbar .ab-empty-item {
	outline: none;
}

#wpadminbar .quicklinks > ul > li {
	border-right: 1px solid #555;
}

#wpadminbar .quicklinks > ul > li > a,
#wpadminbar .quicklinks > ul > li > .ab-empty-item {
	border-right: 1px solid #333;
}

#wpadminbar .quicklinks .ab-top-secondary > li {
	border-left: 1px solid #333;
	border-right: 0;
	float: right;
}

#wpadminbar .quicklinks .ab-top-secondary > li > a,
#wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {
	border-left: 1px solid #555;
	border-right: 0;
}

#wpadminbar .quicklinks a,
#wpadminbar .quicklinks .ab-empty-item,
#wpadminbar .shortlink-input {
	height: 28px;
	display: block;
	padding: 0 12px;
	margin: 0;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
	margin: 0 0 0 -1px;
	padding: 0;
	-webkit-box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	box-shadow: 0 4px 4px rgba(0,0,0,0.2);
	background: #fff;
	display: none;
	position: absolute;
	float: none;
	border-width: 0 1px 1px 1px;
	border-style: solid;
	border-color: #dfdfdf;
}

#wpadminbar.ie7 .menupop .ab-sub-wrapper,
#wpadminbar.ie7 .shortlink-input {
	top: 28px;
	left: 0;
}

#wpadminbar .ab-top-menu > .menupop > .ab-sub-wrapper {
	min-width: 100%;
}

#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
	right: 0;
	left: auto;
	margin: 0 -1px 0 0;
}

#wpadminbar .ab-sub-wrapper > .ab-submenu:first-child {
	border-top: none;
}

#wpadminbar .ab-submenu {
	padding: 6px 0;
	border-top: 1px solid #dfdfdf;
}

#wpadminbar .selected .shortlink-input {
	display: block;
}

#wpadminbar .quicklinks .menupop ul li {
	float: none;
}

#wpadminbar .quicklinks .menupop ul li a strong {
	font-weight: bold;
}

#wpadminbar .quicklinks .menupop ul li .ab-item,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li .ab-item,
#wpadminbar.nojs .quicklinks .menupop:hover ul li .ab-item,
#wpadminbar .shortlink-input {
	line-height: 26px;
	height: 26px;
	text-shadow: none;
	white-space: nowrap;
	min-width: 140px;
}

#wpadminbar .shortlink-input {
	width: 200px;
}

#wpadminbar.nojs li:hover > .ab-sub-wrapper,
#wpadminbar li.hover > .ab-sub-wrapper {
	display: block;
}

#wpadminbar .menupop li:hover > .ab-sub-wrapper,
#wpadminbar .menupop li.hover > .ab-sub-wrapper {
	margin-left: 100%;
	margin-top: -33px;
	border-width: 1px;
}

#wpadminbar .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
#wpadminbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
	margin-left: 0;
	left: inherit;
	right: 100%;
}

#wpadminbar .ab-top-menu > li:hover > .ab-item,
#wpadminbar .ab-top-menu > li.hover > .ab-item,
#wpadminbar .ab-top-menu > li > .ab-item:focus,
#wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus {
	color: #fafafa;
	background: #222;
	background-image: -webkit-gradient(linear, left bottom, left top, from(#3a3a3a), to(#222));
	background-image: -webkit-linear-gradient(bottom, #3a3a3a, #222);
	background-image:    -moz-linear-gradient(bottom, #3a3a3a, #222);
	background-image:      -o-linear-gradient(bottom, #3a3a3a, #222);
	background-image: linear-gradient(to top, #3a3a3a, #222);
}

#wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item,
#wpadminbar .ab-top-menu > li.menupop.hover > .ab-item {
	background: #fff;
	color: #333;
	text-shadow: none;
	border-right-color: transparent;
	border-left-color: transparent;
}

#wpadminbar .hover .ab-label,
#wpadminbar.nojq .ab-item:focus .ab-label {
	color: #fafafa;
}

#wpadminbar .menupop.hover .ab-label {
	color: #333;
	text-shadow: none;
}

#wpadminbar .menupop li:hover,
#wpadminbar .menupop li.hover,
#wpadminbar .quicklinks .menupop .ab-item:focus,
#wpadminbar .quicklinks .ab-top-menu .menupop .ab-item:focus {
	background-color: #eaf2fa;
}

#wpadminbar .ab-submenu .ab-item {
	color: #333;
	text-shadow: none;
}

#wpadminbar .quicklinks .menupop ul li a,
#wpadminbar .quicklinks .menupop ul li a strong,
#wpadminbar .quicklinks .menupop.hover ul li a,
#wpadminbar.nojs .quicklinks .menupop:hover ul li a {
	color: #21759B;
}

#wpadminbar .menupop .menupop > .ab-item {
	display: block;
	background-image: url(../images/admin-bar-sprite.png?d=20120830);
	background-position: 95% -20px;
	background-repeat: no-repeat;
	padding-right: 2em;
}

#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item {
	background-image: url(../images/admin-bar-sprite.png?d=20120830);
	background-position: 5% -46px;
	background-repeat: no-repeat;
	padding-left: 2em;
	padding-right: 1em;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
	display: block;
	position: relative;
	right: auto;
	margin: 0;
	background: #eee;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#wpadminbar .quicklinks .menupop .ab-sub-secondary > li:hover,
#wpadminbar .quicklinks .menupop .ab-sub-secondary > li.hover,
#wpadminbar .quicklinks .menupop .ab-sub-secondary > li .ab-item:focus {
	background-color: #dfdfdf;
}

#wpadminbar .quicklinks a span#ab-updates {
	background: #eee;
	color: #333;
	text-shadow: none;
	display: inline;
	padding: 2px 5px;
	font-size: 10px;
	font-weight: bold;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}

#wpadminbar .quicklinks a:hover span#ab-updates  {
	background: #fff;
	color: #000;
}

#wpadminbar .ab-top-secondary {
	float: right;
	background: #464646;
	background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, #373737), color-stop(18%, #464646));
	background-image: -webkit-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image:    -moz-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image:      -o-linear-gradient(bottom, #373737 0, #464646 5px);
	background-image: linear-gradient(to top, #373737 0, #464646 5px);
}

#wpadminbar ul li:last-child,
#wpadminbar ul li:last-child .ab-item {
	border-right: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/**
 * My Account
 */
#wp-admin-bar-my-account > ul {
	min-width: 198px;
}

#wp-admin-bar-my-account.with-avatar > ul {
	min-width: 270px;
}

#wpadminbar #wp-admin-bar-user-actions > li {
	margin-left: 16px;
	margin-right: 16px;
}

#wpadminbar #wp-admin-bar-my-account.with-avatar #wp-admin-bar-user-actions > li {
	margin-left: 88px;
}

#wp-admin-bar-user-actions > li > .ab-item {
	padding-left: 8px;
}

#wpadminbar #wp-admin-bar-user-info {
	margin-top: 6px;
	margin-bottom: 15px;
	height: auto;
	background: none;
}

#wp-admin-bar-user-info .avatar {
	position: absolute;
	left: -72px;
	top: 4px;
	width: 64px;
	height: 64px;
}

#wpadminbar #wp-admin-bar-user-info a {
	background: none;
	height: auto;
}

#wpadminbar #wp-admin-bar-user-info span {
	background: none;
	padding: 0;
	height: 18px;
}

#wpadminbar #wp-admin-bar-user-info .display-name,
#wpadminbar #wp-admin-bar-user-info .username {
	text-shadow: none;
	display: block;
}

#wpadminbar #wp-admin-bar-user-info .display-name {
	color: #333;
}

#wpadminbar #wp-admin-bar-user-info .username {
	color: #999;
	font-size: 11px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
	width: 16px;
	height: 16px;
	border: 1px solid #999;
	padding: 0;
	background: #eee;
	line-height: 24px;
	vertical-align: middle;
	margin: -3px 0 0 6px;
	float: none;
	display: inline;
}

/*
 * My Sites
 */
#wpadminbar .quicklinks li .blavatar {
	vertical-align: middle;
	margin: -3px 4px 0 0;
	padding: 0;
}

#wpadminbar .quicklinks li div.blavatar {
	background: url('../images/wpmini-blue.png') no-repeat;
	height: 16px;
	width: 16px;
	display: inline-block;
}

/**
 * Search
 */
#wpadminbar #wp-admin-bar-search .ab-item {
	padding: 0;
}

#wpadminbar #wp-admin-bar-search .ab-item {
	/* default background */
	background: transparent;
}

#wpadminbar #adminbarsearch {
	height: 28px;
	padding: 0 2px;
}

#wpadminbar #adminbarsearch .adminbar-input {
	font: 13px/24px sans-serif;
	height: 24px;
	width: 24px;
	border: none;
	padding: 0 3px 0 23px;
	margin: 0;
	color: #ccc;
	text-shadow: #444 0px -1px 0px;
	background-color: rgba( 255, 255, 255, 0 );
	background-image: url(../images/admin-bar-sprite.png?d=20120830);
	background-position: 3px 2px;
	background-repeat: no-repeat;
	outline: none;
	cursor: pointer;

	-webkit-border-radius: 3px;
	border-radius: 3px;

	-webkit-box-shadow: none;
	box-shadow: none;

	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	-webkit-transition-duration: 400ms;
	-webkit-transition-property: width, background;
	-webkit-transition-timing-function: ease;
	-moz-transition-duration: 400ms;
	-moz-transition-property: width, background;
	-moz-transition-timing-function: ease;
	-o-transition-duration: 400ms;
	-o-transition-property: width, background;
	-o-transition-timing-function: ease;
}

#wpadminbar.ie7 #adminbarsearch .adminbar-input {
	margin-top: 1px;
	width: 120px;
}

#wpadminbar #adminbarsearch .adminbar-input:focus {
	color: #555;
	text-shadow: 0 1px 0 #fff;
	width: 200px;
	background-color: rgba( 255, 255, 255, 0.9 );
	cursor: text;
}

#wpadminbar.ie8 #adminbarsearch .adminbar-input {
	background-color: #464646;
}

#wpadminbar.ie8 #adminbarsearch .adminbar-input:focus {
	background-color: #fff;
}

/* Two rules to ensure browser recognition */
#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder {
	color: #ddd;
}

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder {
	color: #ddd;
}

#wpadminbar #adminbarsearch .adminbar-button {
	display: none;
}

/**
 * Site Menu
 */
#wpadminbar #wp-admin-bar-appearance {
	border-top: none;
	margin-top: -12px;
}

/**
 * Site Menu
 */
#wpadminbar #wp-admin-bar-appearance {
	border-top: none;
	margin-top: -12px;
}

/**
 * ICONS
 */
#wpadminbar .ab-icon {
	position: relative;
	float: left;
	width: 16px;
	height: 16px;
	margin-top: 6px;
}

#wpadminbar .ab-label {
	margin-left: 4px;
}

/**
 * WP Logo icon
 */
#wp-admin-bar-wp-logo > .ab-item .ab-icon {
	width: 20px;
	height: 20px;
	margin-top: 4px;
	background-image: url(../images/admin-bar-sprite.png?d=20120830);
	background-position: 0 -76px;
	background-repeat: no-repeat;
}

#wpadminbar.nojs #wp-admin-bar-wp-logo:hover > .ab-item .ab-icon,
#wpadminbar #wp-admin-bar-wp-logo.hover > .ab-item .ab-icon {
	background-position: 0 -104px;
}

/**
 * Updates icon
 */
#wp-admin-bar-updates > .ab-item .ab-icon {
	background-image: url(../images/admin-bar-sprite.png?d=20120830);
	background-position: -2px -159px;
	background-repeat: no-repeat;
}

/**
 * Comments icon
 */
#wp-admin-bar-comments > .ab-item .ab-icon {
	background-image: url(../images/admin-bar-sprite.png?d=20120830);
	background-position: -1px -134px;
	background-repeat: no-repeat;
}

#wpadminbar span.count-0 {
	display: none;
}

/**
 * Add New icon
 */
#wpadminbar #wp-admin-bar-new-content > .ab-item .ab-icon {
	background-image: url(../images/admin-bar-sprite.png?d=20120830);
	background-position: -2px -182px;
	background-repeat: no-repeat;
}

/**
 * Add New icon
 */
#wpadminbar.nojs #wp-admin-bar-new-content:hover > .ab-item .ab-icon,
#wpadminbar #wp-admin-bar-new-content.hover > .ab-item .ab-icon {
	background-position: -2px -203px;
}

/**
 * Customize support classes
 */
.no-customize-support .hide-if-no-customize,
.customize-support .hide-if-customize,
.no-customize-support.wp-core-ui .hide-if-no-customize,
.no-customize-support .wp-core-ui .hide-if-no-customize,
.customize-support.wp-core-ui .hide-if-customize,
.customize-support .wp-core-ui .hide-if-customize {
	display: none;
}

/**
 * Retina display 2x icons
 */
@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
	#wpadminbar .menupop .menupop > .ab-item,
	#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item,
	#wpadminbar #adminbarsearch .adminbar-input,
	#wp-admin-bar-wp-logo > .ab-item .ab-icon,
	#wp-admin-bar-updates > .ab-item .ab-icon,
	#wp-admin-bar-comments > .ab-item .ab-icon,
	#wpadminbar #wp-admin-bar-new-content > .ab-item .ab-icon {
		background-image: url(../images/admin-bar-sprite-2x.png?d=20120830);
		background-size: 20px 220px;
	}

	#wpadminbar .quicklinks li div.blavatar {
		background: url('../images/wpmini-blue-2x.png') no-repeat;
		background-size: 16px 16px;
	}
}

/* Skip link */
#wpadminbar .screen-reader-text,
#wpadminbar .screen-reader-text span {
	position: absolute;
	left: -1000em;
	top: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

#wpadminbar .screen-reader-shortcut {
	position: absolute;
	top: -1000em;
}

#wpadminbar .screen-reader-shortcut:focus {
	left: 6px;
	top: 7px;
	height: auto;
	width: auto;
	display: block;
	font-size: 14px;
	font-weight: bold;
	padding: 15px 23px 14px;
	background: #f1f1f1;
	color: #21759b;
	text-shadow: none;
	border-radius: 3px;
	z-index: 100000;
	line-height: normal;
	-webkit-box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	box-shadow: 0 0 2px 2px rgba(0,0,0,.6);
	text-decoration: none;
}

/**
 * IE 6-targeted rules
 */
* html #wpadminbar {
	overflow: hidden;
	position: absolute;
}

* html #wpadminbar .quicklinks ul li a {
	float: left;
}

* html #wpadminbar .menupop a span {
	background-image: none;
}
