#wpadminbar {
	direction: rtl;
	font-family: Tahoma, Arial ,sans-serif;
	right: 0;
	left: auto;
}

#wpadminbar .quicklinks ul {
	text-align: right;
}

#wpadminbar .quicklinks ul li {
	float: right;
}

#wpadminbar .quicklinks > ul > li > a {
	border-left: 1px solid #686868;
	border-right: 1px solid #808080;
}

#wpadminbar .quicklinks > ul > li:last-child > a {
	border-left: none;
	border-right: 1px solid #808080;
}

#wpadminbar .quicklinks > ul > li:hover > a {
	border-right-color: #707070;
	border-left-color: #686868;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a img  {
	margin: -2px -5px 0 23px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar ul {
	left: auto;
	right: 30px;
}

#wpadminbar .quicklinks .menupop li:hover > ul,
#wpadminbar .quicklinks .menupop li.hover > ul {
	margin-right: 100%;
	margin-left: 0;
}

#wpadminbar .quicklinks .menupop a > span {
	background: url(../images/admin-bar-sprite-rtl.png?d=11122010) left -58px no-repeat;
	padding-right: 0;
	padding-left: .8em;
}

#wpadminbar .quicklinks .menupop ul li a > span {
	background: url(../images/admin-bar-sprite-rtl.png?d=11122010) left -29px no-repeat;
	padding-right: 0;
	padding-left: 1.5em;
}

#wpadminbar .quicklinks a {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#wpadminbar .quicklinks .menupop li a img.blavatar {
	margin-right: 0;
	margin-left: 8px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar > a {
	background: url(../images/admin-bar-sprite-rtl.png?d=11122010) top right no-repeat;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account > a,
#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar > a {
	border-right: none;
	border-left: 1px solid #686868;
}

#wpadminbar #adminbarsearch {
	float: left;
}

#wpadminbar #adminbarsearch .adminbar-input {
	float: right;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	margin-right: 0;
	margin-left: 3px;
	-moz-box-shadow: inset 2px -2px 1px #cdcdcd;
	-webkit-box-shadow: inset -2px 2px 1px #cdcdcd;
	box-shadow: inset 2px -2px 1px #cdcdcd;
}

#wpadminbar #adminbarsearch .adminbar-button {
	float: right;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}
