#wpadminbar * {
	font-family: Tahoma, Arial, Helvetica, sans-serif;
}

#wpadminbar {
	direction: rtl;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	left: auto;
	right: 0;
}

#wpadminbar .quicklinks {
	border-left: 0;
	border-right: 1px solid transparent;
}

#wpadminbar .quicklinks ul {
	text-align: right;
}

#wpadminbar li {
	float: right;
}

#wpadminbar .quicklinks > ul > li {
	border-right: 0;
	border-left: 1px solid #555;
}

#wpadminbar .quicklinks > ul > li > a,
#wpadminbar .quicklinks > ul > li > .ab-empty-item {
	border-right: 0;
	border-left: 1px solid #333;
}

#wpadminbar .quicklinks .ab-top-secondary > li {
	border-left: 0;
	border-right: 1px solid #333;
	float: left;
}

#wpadminbar .quicklinks .ab-top-secondary > li > a,
#wpadminbar .quicklinks .ab-top-secondary > li > .ab-empty-item {
	border-right: 1px solid #555;
	border-left: 0;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
	margin: 0 -1px 0 0;
}

#wpadminbar.ie7 .menupop .ab-sub-wrapper,
#wpadminbar.ie7 .shortlink-input {
	left: auto;
	right: 0;
}

#wpadminbar .ab-top-secondary .menupop .ab-sub-wrapper {
	right: auto;
	left: 0;
	margin: 0 0 0 -1px;
}

#wpadminbar .menupop li:hover > .ab-sub-wrapper,
#wpadminbar .menupop li.hover > .ab-sub-wrapper {
	margin-left: 0px;
	margin-right: 100%;
}

#wpadminbar .ab-top-secondary .menupop li:hover > .ab-sub-wrapper,
#wpadminbar .ab-top-secondary .menupop li.hover > .ab-sub-wrapper {
	margin-left: inherit;
	margin-right: 0;
	left: 100%;
	right: inherit;
}

#wpadminbar .menupop .menupop > .ab-item {
	background-position: 5% -46px;
	padding-left: 2em;
	padding-right: 1em;
}

#wpadminbar .ab-top-secondary .menupop .menupop > .ab-item {
	background-position: 95% -20px;
	padding-left: 1em;
	padding-right: 2em;
}

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary {
	right: 0;
	left: auto;
}

#wpadminbar .ab-top-secondary {
	float: left;
	right: auto;
	left: 0;
}

#wpadminbar ul li:last-child,
#wpadminbar ul li:last-child .ab-item {
	border-left: 0;
}

/**
 * My Account
 */
#wpadminbar #wp-admin-bar-my-account.with-avatar .user-info-item {
	margin-right: 88px;
	margin-left: 16px;
}

#wpadminbar #wp-admin-bar-my-account .user-info-item > a {
	padding-left: 0;
	padding-right: 8px;
}

#wp-admin-bar-my-account .user-info .avatar {
	left: auto;
	right: -72px;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img {
	margin-left: -1px;
	margin-right: 4px
}

/*
 * My Sites
 */
#wpadminbar .quicklinks li img.blavatar {
	margin-right: 0px;
	margin-left: 4px;
}

/*
 * Search
 */
#wpadminbar #adminbarsearch {
	float: left;
}

#wpadminbar #adminbarsearch .adminbar-input {
	float: right;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	padding: 0 24px 0 3px;
	margin: 0 0 0 3px;
	background-position: 99% 1px;
}

/**
 * Comments icon
 */
#wpadminbar .ab-comments-icon {
	float: right;
}

#wpadminbar.ie7 .ab-comments-icon {
	float: left;
	left: 12px;
}

#wpadminbar .ab-comments-icon-body {
	margin-right: -2px;
}

#wpadminbar a .ab-comments-icon-arrow {
	left: auto;
	right: 1px;
	/* Use transparent borders to form a triangle */
	border-left: 0;
	border-right: 4px solid #999;
}

#wpadminbar #ab-awaiting-mod {
	margin-left: 0px;
	margin-right: 4px;
}

#wpadminbar.ie7 #ab-awaiting-mod {
	margin-right: 0;
}

#wpadminbar.ie7 #wp-admin-bar-comments > a {
	min-width: 25px;
}

#wpadminbar a:hover .ab-comments-icon-arrow {
	border-right-color: #bbb;
}

#wpadminbar .menupop .ab-sub-wrapper,
#wpadminbar .shortlink-input {
	right: 0;
}

#wpadminbar .quicklinks .menupop ul li a {
	position: relative;
}

/**
 * IE 6-targeted rules
 */
* html #wpadminbar .quicklinks ul li a {
	float: right;
}
