body {
	overflow: hidden;
}

#customize-controls a {
	text-decoration: none;
}

.customize-section {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
	margin: 0;
}

.customize-section:last-child {
	box-shadow: 0 1px 0 0px #fff;
}

.customize-section-title {
	margin: 0;
	padding: 15px 20px;
	position: relative;

	cursor: pointer;

	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.customize-section-content {
	display: none;
	padding: 10px 20px 15px;
	overflow: hidden;
}

.control-section {
	border: 0;
}

.control-section .customize-section-title {
	padding: 8px 20px;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
	font-size: 13px;
}

.control-section .customize-section-title:hover {
	background: -webkit-linear-gradient( top, #f5f5f5, #eee );
	box-shadow: inset -11px 0 8px -8px rgba( 0, 0, 0, 0.1 );
}

.control-section .customize-section-content {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #dfdfdf;
}

.customize-section.open .customize-section-content {
	display: block;
}

.customize-section-title:after {
	content: '';
	width: 0;
	height: 0;
	border-color: #ccc transparent transparent transparent;
	border-style: solid;
	border-width: 6px;
	position: absolute;
	top: 25px;
	right: 20px;
	z-index: 1;
}

.customize-section.open .customize-section-title:after {
	margin-top: -7px;
	border-color: transparent transparent #ccc transparent;
}

.control-section .customize-section-title:after {
	top: 13px;
}

#customize-info {
	margin-top: 45px;
}

#customize-info .preview-notice {
	font-size: 13px;
	line-height: 24px;
	color: #999;
}

#customize-info .theme-name {
	font-size: 20px;
	font-weight: 200;
	line-height: 24px;
	display: block;
	text-shadow: 0 1px 0 #fff;
}

#customize-info .theme-screenshot {
	width: 258px;
	border: 1px solid #ccc;
}

#customize-info .theme-description {
	margin-top: 1em;
	color: #777;
	line-height: 20px;
}

#customize-controls .submit {
	text-align: center;
}

#customize-theme-controls {
	padding-bottom: 60px;
}

#customize-theme-controls > ul,
#customize-theme-controls .customize-section-content {
	margin: 0;
}

.customize-control {
	float: left;
	clear: both;
	margin-bottom: 4px;
}

.customize-control-title {
	clear: left;
	float: left;
	min-width: 110px;
	margin-right: 10px;
	line-height: 28px;
}

.customize-control-text input,
.customize-control-select select,
.customize-control-checkbox input,
.customize-control-color .color-picker,
.customize-control-upload div {
	float: left;
	clear: right;
	line-height: 28px;
}

.customize-control-text input {
	width: 138px;
	line-height: 18px;
	margin: 1px;
}

.customize-control-select select {
	width: 138px;
	height: 28px;
	line-height: 28px;
}

.customize-control-checkbox input {
	margin-top: 8px;
}

.customize-control-radio {
	padding: 5px 0 10px;
}

.customize-control-radio .customize-control-title {
	margin-bottom: 0;
	line-height: 22px;
}

.customize-control-radio label {
	float: left;
	clear: both;
	line-height: 20px;
}

.customize-control-radio input {
	margin-right: 5px;
}

#customize-preview iframe {
	width: 100%;
	height: 100%;
}

/*
 * Style for custom settings
 */
.customize-section select {
	max-width: 150px;
}

/*
 * Color Picker
 */
.customize-section .color-picker-toggle {
	float: left;
	display: block;

	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.customize-section .color-picker-spot,
.customize-section .color-picker-dropdown {
	float: left;
	height: 24px;
	line-height: 24px;
}

.customize-section .color-picker-spot {
	min-width: 30px;
	padding: 0 5px;
	background-color: #fff;
	border: 1px solid rgba( 0, 0, 0, 0.15 );
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.customize-section .color-picker-dropdown {
	position: relative;
	width: 15px;

	border-color: #ccc;
	border-style: solid;
	border-width: 1px 1px 1px 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.customize-section .color-picker-dropdown:after {
	content: '';
	width: 0;
	height: 0;
	border-color: #ccc transparent transparent transparent;
	border-style: solid;
	border-width: 4px;
	position: absolute;
	top: 11px;
	right: 4px;
	z-index: 1;
}

.customize-section .color-picker-toggle.open .color-picker-dropdown:after {
	border-color: transparent transparent #ccc transparent;
	top: 6px;
}

.customize-section .color-picker-control {
	display: none;
}

.customize-section .color-picker-hex {
	float: left;
	width: 70px;
	margin-left: 5px;
	font-family: monospace;
	background-color: #fff;
	color: #777;
	border: 1px solid #ccc;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.customize-section .color-picker-hex span {
	float: left;
	display: block;
	margin: 1px -2px 0 0;
	line-height: 16px;
	padding: 3px 0 3px 8px;
	text-align: right;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.customize-section .color-picker-hex input[type="text"] {
	width: 50px;
	line-height: 16px;
	color: #777;
	background: transparent;
	border: 0;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.customize-section .color-picker-control.farbtastic-placeholder {
	width: 235px;
	margin: 5px 0 10px 25px;
	float: left;
}

.customize-section .color-picker-control .farbtastic {
	margin: 0 auto;
}

/*
 * Image Picker
 */
.customize-section .customize-image-picker {
	float: left;
}

.customize-section .customize-image-picker .thumbnail {
	float: left;
	clear: left;
	width: 100px;
	margin-right: 20px;
	min-height: 1em;
}

.customize-section .customize-image-picker .thumbnail img {
	max-width: 98px;
	max-height: 98px;
	border: 1px solid #ccc;
}

.customize-section .customize-image-picker .actions {
	width: 140px;
	float: left;
}

.customize-section .customize-image-picker .actions a {
	display: block;
}

.customize-section .customize-image-picker .library {
	display: none;
/*	float: left;*/
}

/*.customize-section .customize-image-picker .library label {
	display: block;
	position: relative;
	float: left;
	padding: 0 0 5px 20px;
}
.customize-section .customize-image-picker .library input {
	display: block;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -7px;
}*/
/*.customize-section .customize-image-picker .library .wp-tab-panel {
	padding: 10px 10px 5px 8px;
}*/

.customize-section .customize-image-picker .library ul {
	border-bottom: 1px solid #dfdfdf;
	float: left;
	width: 100%;
	margin: 5px 0;
}

.customize-section .customize-image-picker .library li {
	color: #999;
	float: left;
	padding: 4px 6px;
	margin: 0;
	border-style: solid;
	border-color: transparent;
	border-width: 1px 1px 0 1px;
}

.customize-section .customize-image-picker .library li.library-selected {
	color: #777;
	border-color: #dfdfdf;
	background: #f5f5f5;
	margin-bottom: -1px;
	padding-bottom: 5px;
}

.customize-section .customize-image-picker .library div {
	width: 100%;
	float: left;
}

.customize-section .customize-image-picker .library a {
	display: block;
	max-width: 220px;
	max-height: 80px;
	margin: 5px auto;
	padding: 4px;
	background: #fff;
	border: 1px solid #dfdfdf;
}

.customize-section .customize-image-picker .library a:hover {
	border-color: #21759b;
}

.customize-section .customize-image-picker .library img {
	display: block;
	max-width: 220px;
	max-height: 80px;
}

.customize-section .customize-image-picker .library-content {
	display: none;
}
