/**
 * Base Styles
 */

.media-frame input,
.media-frame textarea {
	padding: 6px 8px;
	line-height: 16px;
}

.media-frame select,
.wp-admin .media-frame select {
	height: 28px;
	line-height: 28px;
	margin-top: 3px;
}

/**
 * Modal
 */
.media-modal {
	position: fixed;
	top: 60px;
	left: 40px;
	right: 40px;
	bottom: 40px;
	z-index: 125000;
}

.media-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.8;
	z-index: 120000;
}

.media-modal-backdrop div {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px dashed rgba( 255, 255, 255, 0.5 );
}

.media-modal-title,
.media-modal-close {
	position: absolute;
	top: -40px;
	height: 40px;

	line-height: 40px;
	color: #fff;
	font-weight: 200;
	text-shadow: 0 0 16px rgba( 0, 0, 0, 0.6 );
}

.media-modal-title {
	left: 0;
	float: left;
	padding: 0;
	margin: 0;
	font-size: 16px;
}

.media-modal-close {
	right: 0;
	float: right;
	text-decoration: none;
	font-size: 1.8em;
}

.media-modal-close:hover,
.media-modal-close:focus {
	color: #fff;
	text-shadow: 0 0 16px rgba( 255, 255, 255, 0.8 );
}

.media-modal-close:active {
	outline: 0;
}

.media-modal-content {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	background: #fff;
}

/**
 * Toolbar
 */
.media-toolbar {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 100;
	height: 60px;
	padding: 0 16px;
	border: 0 solid #dfdfdf;
}

.media-frame-toolbar > .media-toolbar {
	top: auto;
	left: 200px;
	bottom: 0;
	border-width: 1px 0 0 0;
	box-shadow: 0 -4px 4px -4px rgba( 0, 0, 0, 0.1 );
}

.hide-toolbar .media-frame-toolbar > .media-toolbar {
	bottom: -61px;
}

.media-toolbar-primary {
	float: right;
}

.media-toolbar-secondary {
	float: left;
}

.media-toolbar-primary > .media-button,
.media-toolbar-primary > .media-button-group {
	margin-left: 10px;
	float: left;
	margin-top: 15px;
}

.media-toolbar-secondary > .media-button,
.media-toolbar-secondary > .media-button-group {
	margin-right: 10px;
	float: left;
	margin-top: 15px;
}

/**
 * Sidebar
 */
.media-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 61px;
	width: 267px;
	padding: 0 16px 24px;
	z-index: 75;
	background: #f5f5f5;
	border-left: 1px solid #dfdfdf;
	overflow: auto;
}

.hide-sidebar .media-sidebar {
	right: -300px;
}

.hide-toolbar .media-sidebar {
	bottom: 0;
}

.media-sidebar .sidebar-title {
	font-weight: 200;
	font-size: 20px;
	margin: 0;
	padding: 12px 10px 10px;
	line-height: 28px;
}

.media-sidebar .sidebar-content {
	padding: 0 10px;
	margin-bottom: 130px;
}

.media-sidebar .search {
	display: block;
	width: 100%;
}

.media-sidebar .selection-preview {
	display: block;
	padding-top: 5px;
}

.media-sidebar h3 {
	position: relative;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	color: #777;
	text-shadow: 0 1px 0 #fff;
	margin: 24px 0 8px;
}

.media-sidebar .setting {
	display: block;
	float: left;
	width: 100%;
	margin: 1px 0;
}

.media-sidebar .setting span {
	min-width: 30%;
	margin-right: 4%;
}

.media-sidebar .setting span,
.compat-item label span {
	float: left;
	min-height: 22px;
	padding-top: 8px;
	line-height: 16px;
	text-align: right;
	font-weight: normal;
	color: #999;
	text-shadow: 0 1px 0 #fff;
}

.media-sidebar .setting input,
.media-sidebar .setting textarea {
	width: 65%;
	float: right;
}

.media-sidebar .setting textarea,
.compat-item .field textarea {
	height: 62px;
	resize: none;
}

.media-sidebar select {
	margin-top: 3px;
}

.compat-item {
	float: left;
	width: 100%;
	overflow: hidden;
}

.compat-item table {
	width: 100%;
	table-layout: fixed;
	border-spacing: 0;
	border: 0;
}

.compat-item tr {
	padding: 2px 0;
	display: block;
	overflow: hidden;
}

.compat-item .label,
.compat-item .field {
	display: block;
	margin: 0;
	padding: 0;
}

.compat-item .label {
	min-width: 30%;
	margin-right: 4%;
	float: left;
	text-align: right;
}

.compat-item .label span {
	display: block;
	width: 100%;
}

.compat-item .field {
	float: right;
	width: 65%;
	padding-right: 1px;
}

.compat-item .field input {
	width: 100%;
	margin: 0;
}


/**
 * Menu
 */
.media-menu {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 199px;
	margin: 0;
	padding: 16px 0;
	z-index: 200;
	border-right: 1px solid #d9d9d9;
	box-shadow: inset -6px 0 6px -6px rgba( 0, 0, 0, 0.2 );
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.media-menu li {
	position: relative;
	padding: 4px 20px;
	margin: 0;
	line-height: 18px;
	font-size: 14px;
	color: #21759B;
	text-shadow: 0 1px 0 #fff;
}

.media-menu-item {
	cursor: pointer;
}

.media-menu li:hover {
	background: rgba( 0, 0, 0, 0.04 );
}

.media-menu .active,
.media-menu .active:hover {
	color: #333;
	font-weight: bold;
}

.media-menu .separator {
	height: 0;
	margin: 12px 20px;
	padding: 0;
	border-top: 1px solid #dfdfdf;
	border-bottom: 1px solid #fff;
}

.media-menu > a.button {
	margin: 0 20px;
}

/**
 * Frame
 */
.media-frame {
	overflow: hidden;
}

.media-frame .region-content {
	position: absolute;
	top: 0;
	left: 200px;
	right: 300px;
	bottom: 61px;
	height: auto;
	width: auto;
	margin: 0;
	overflow: auto;
}

.media-frame.hide-sidebar .region-content {
	right: 0;
}

.media-frame.hide-toolbar .region-content {
	bottom: 0;
}

.media-frame .media-toolbar .add-to-gallery {
	display: none;
}

/**
 * Iframes
 */
.media-frame .media-iframe {
	overflow: hidden;
}

.media-iframe iframe {
	height: 100%;
	width: 100%;
}

/**
 * Search
 */
.media-frame .search {
	margin-top: 11px;
	padding: 4px;
	line-height: 18px;
	font-size: 13px;
	color: #464646;
	font-family: sans-serif;
}

.media-toolbar-secondary .search {
	margin-right: 16px;
}

/**
 * Attachments
 */
.attachments {
	margin: 0;
	padding-right: 16px;
}

/**
 * Attachment
 */
.attachment {
	position: relative;
	float: left;

	padding: 0;
	margin: 0 10px 20px;
	color: #464646;

	-webkit-user-select: none;
	-moz-user-select:    none;
	-ms-user-select:     none;
	-o-user-select:      none;
	user-select:         none;
}

.selected.attachment {
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 4px #777;
}

.details.attachment {
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 4px #1e8cbe;
}


.attachment.library.selected:after {
	content: '\2713';
	display: block;
	height: 24px;
	width: 24px;
	position: absolute;
	top: -1px;
	right: -1px;
	line-height: 24px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	text-shadow: 0 1px 0 rgba( 0, 0, 0, 0.5 );
	background: #777;
	border: 1px solid #fff;
	border-width: 0 0 1px 1px;
	box-shadow: -1px 1px 0 rgba( 0, 0, 0, 0.1 );
}

.attachment.library.details:after {
	background: #1e8cbe;
}

.attachment-preview {
	position: relative;
	width: 199px;
	height: 199px;
	overflow: hidden;
	box-shadow:
		inset 0 0 15px rgba( 0, 0, 0, 0.1 ),
		inset 0 0 0 1px rgba( 0, 0, 0, 0.05 );
	background: #eee;
	cursor: pointer;
}

.attachment .icon,
.attachment .thumbnail {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0 auto;
}

/* Vertically center the icons. */
.attachment .icon {
	top: 50%;
	left: 50%;
}

.attachment-preview .thumbnail:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 );
	overflow: hidden;
}

.attachment .thumbnail img {
	top: 0;
	left: 0;
}

.attachment .thumbnail .centered {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-transform: translate( 50%, 50% );
	-moz-transform:    translate( 50%, 50% );
	-ms-transform:     translate( 50%, 50% );
	-o-transform:      translate( 50%, 50% );
	transform:         translate( 50%, 50% );
}

.attachment .icon,
.attachment .thumbnail .centered img {
	-webkit-transform: translate( -50%, -50% );
	-moz-transform:    translate( -50%, -50% );
	-ms-transform:     translate( -50%, -50% );
	-o-transform:      translate( -50%, -50% );
	transform:         translate( -50%, -50% );
}

.attachment .filename {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 5px 10px;
	text-align: center;
	font-weight: bold;
	background: rgba( 255, 255, 255, 0.8 );
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.2 );
}

.attachment-preview .thumbnail {
	width: 199px;
	height: 199px;
}

.attachment .thumbnail img {
	position: absolute;
}

.attachment .close {
	display: none;
	position: absolute;
	top: 5px;
	right: 5px;
	height: 22px;
	width: 22px;
	padding: 0;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	color: #464646;
	background: #fff;
	border-width: 0;
	box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.3 );
}

.attachment .close:hover {
	box-shadow: 0 0 0 1px rgba( 0, 0, 0, 0.6 );
}

.attachment:hover .close {
	display: block;
}

.media-frame .describe {
	position: relative;
	display: block;
	width: 100%;
	margin: -1px 0 0;
	padding: 8px;
	font-size: 12px;
	resize: none;
	border-radius: 0;
}


/**
 * Attachments Browser
 */
.media-frame .attachments-browser {
	overflow: hidden;
}

.attachments-browser .media-toolbar {
	height: 50px;
}


.attachments-browser .media-toolbar-primary > .media-button,
.attachments-browser .media-toolbar-primary > .media-button-group,
.attachments-browser .media-toolbar-secondary > .media-button,
.attachments-browser .media-toolbar-secondary > .media-button-group {
	margin-top: 10px;
}

.attachments-browser .attachments {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

.attachments-browser .instructions {
	display: inline-block;
	margin-top: 16px;
	line-height: 18px;
	font-size: 13px;
	color: #999;
}


/**
 * Progress Bar
 */
.media-progress-bar {
	position: relative;
	height: 8px;
	width: 70%;
	margin: 10px auto;
	padding: 2px;
	border: 2px solid #ccc;
	border-radius: 8px;
	background: #fff;
}

.media-progress-bar div {
	height: 8px;
	min-width: 8px;
	width: 0;
	background: #ccc;
	border-radius: 10px;
	-webkit-transition: width 300ms;
	-moz-transition:    width 300ms;
	-ms-transition:     width 300ms;
	-o-transition:      width 300ms;
	transition:         width 300ms;
}

.attachment-preview .media-progress-bar {
	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	margin: -8px 0 0 -4px;
}

.uploader-window {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba( 0, 86, 132, 0.9 );

	z-index: 250000;
	display: none;
	text-align: center;
	opacity: 0;

	-webkit-transition: opacity 250ms;
	-moz-transition:    opacity 250ms;
	-ms-transition:     opacity 250ms;
	-o-transition:      opacity 250ms;
	transition:         opacity 250ms;
}

.uploader-window-content {
	position: absolute;
	top: 10px;
	left: 10px;
	right: 10px;
	bottom: 10px;
	border: 1px dashed #fff;
}

.uploader-window h3 {
	position: absolute;
	top: 50%;
	left: 0;
	right: 0;
	-webkit-transform: translateY( -50% );
	-moz-transform:    translateY( -50% );
	-ms-transform:     translateY( -50% );
	-o-transform:      translateY( -50% );
	transform:         translateY( -50% );

	font-size: 20px;
	font-weight: 200;
	color: #fff;
	padding: 0;
}

.uploader-window .media-progress-bar {
	margin-top: 20px;
	max-width: 300px;
	background: transparent;
	border-color: #fff;
	display: none;
}

.uploader-window .media-progress-bar div {
	background: #fff;
}

.uploading .uploader-window .media-progress-bar {
	display: block;
}

.region-content.uploader-inline {
	margin: 20px;
	padding: 20px;
	text-align: center;
}

.uploader-inline-content {
	position: absolute;
	top: 30%;
	left: 0;
	right: 0;
}

.uploader-inline-content .upload-ui {
	margin: 4em 0;
}

.uploader-inline h3 {
	display: none;
	font-size: 20px;
	font-weight: 200;
	margin-bottom: 1.6em;
}

.supports-drag-drop .uploader-inline h3 {
	display: block;
}

.uploader-inline .media-progress-bar {
	display: none;
}

.uploading.uploader-inline .media-progress-bar {
	display: block;
}

.uploader-inline .browser {
	display: inline-block !important;
}

/**
 * Selection
 */
.media-selection {
	position: absolute;
	top: 0;
	left: 0;
	right: 350px;
	height: 60px;
	padding: 0 0 0 16px;
	overflow: hidden;
	white-space: nowrap;
}

.media-selection .selection-info {
	display: inline-block;
	height: 60px;
	margin-right: 10px;
	vertical-align: top;
}

.media-selection.empty {
	display: none;
}

.media-selection .count {
	display: block;
	padding-top: 12px;
	font-size: 14px;
	line-height: 20px;
	font-weight: bold;
}

.media-selection .selection-info a {
	display: block;
	float: left;
	padding: 1px 8px;
	margin: 1px 8px 1px -8px;
	line-height: 16px;
	text-decoration: none;
	border-right: 1px solid #dfdfdf;
	color: #21759B;
}

.media-selection .selection-info a:hover {
	background: #21759B;
	color: #fff;
	border-color: transparent;
}

.media-selection .selection-info a:last-child {
	border-right: 0;
}

.media-selection .selection-info .clear-selection {
	color: red;
}

.media-selection .selection-info .clear-selection:hover {
	background: red;
}

.media-selection .attachments {
	display: inline-block;
	height: 60px;
	margin-top: 5px;
	overflow: hidden;
	vertical-align: top;
}

.attachment.selection.selected {
	box-shadow: none;
}

.attachment.selection.details {
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 4px #1e8cbe;
}

.media-selection .attachment.selection.details {
	box-shadow:
		0 0 0 1px #fff,
		0 0 0 3px #1e8cbe;
}

.media-selection:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: 25px;
	background-image: -webkit-gradient(linear, right top, right top, from( rgba( 255, 255, 255, 1 ) ), to( rgba( 255, 255, 255, 0 ) ));
	background-image: -webkit-linear-gradient(right, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
	background-image:    -moz-linear-gradient(right, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
	background-image:      -o-linear-gradient(right, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
	background-image:   linear-gradient(to left, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
}

.media-selection .attachment .filename {
	display: none;
}

/**
 * Selection Preview
 */
.selection-preview {
	position: relative;
	height: 60px;
	overflow: hidden;
}

.selected-img {
	float: left;
	position: relative;
	margin-right: 14px;
}

.selection-preview img {
	max-width: 40px;
	max-height: 40px;
	float: left;
	margin-top: 6px;
	margin-left: 1px;
	border: 2px solid white;
	box-shadow:
	    0 0 0 1px #ccc,
	    3px 3px 0 0 #fff,
	    3px 3px 0 1px #ccc,
	    6px 6px 0 0 #fff,
	    6px 6px 0 1px #ccc;
}

.selection-preview .selected-count-1 img {
	margin-top: 8px;
	box-shadow: 0 0 0 1px #ccc;
}

.selection-preview .selected-count-2 img {
	margin-top: 7px;
	box-shadow:
	    0 0 0 1px #ccc,
	    3px 3px 0 0 #fff,
	    3px 3px 0 1px #ccc;
}

.selection-preview .count {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 16px;
	min-width: 8px;
	padding: 0 4px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	color: #999;
	background: #fff;
	box-shadow: -1px -1px 2px -1px rgba( 0, 0, 0, 0.2 );
}

.selection-preview .clear-selection {
	float: left;
	line-height: 60px;
}

/**
 * Attachment Details
 */
.attachment-details {
	overflow: auto;
}

.attachment-info {
	overflow: hidden;
	min-height: 60px;
	margin-bottom: 16px;
	line-height: 18px;
	color: #999;
	border-bottom: 1px solid #e5e5e5;
	box-shadow: 0 1px 0 #fff;
	padding-bottom: 11px;
}

.attachment-info .filename {
	font-weight: bold;
	color: #464646;
}

.attachment-info .thumbnail {
	position: relative;
	float: left;
	max-width: 120px;
	max-height: 120px;
	margin-right: 10px;
	margin-bottom: 5px;
}

.uploading .attachment-info .thumbnail {
	width: 120px;
	height: 80px;
	box-shadow: inset 0 0 15px rgba( 0, 0, 0, 0.1 );
}

.uploading .attachment-info .media-progress-bar {
	margin-top: 32px;
}

.attachment-info .thumbnail:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.15 );
	overflow: hidden;
}

.attachment-info .thumbnail img {
	display: block;
	max-width: 120px;
	max-height: 120px;
	margin: 0 auto;
}

.attachment-info .details {
	float: left;
}

.attachment-info .compat-meta {
	float: left;
}

/**
 * Attachment Display Settings
 */
.attachment-display-settings {
	overflow: hidden;
	float: left;
}

.attachment-display-settings h4 {
	margin: 1.4em 0 0.4em;
}

.gallery-settings {
	overflow: hidden;
}

/**
 * Embed from URL
 */
.embed-url {
	display: block;
	position: relative;
	height: 75px;
	padding: 16px 16px;
	margin: 0;
	z-index: 50;
	border-bottom: 1px solid #dfdfdf;
	box-shadow: 0 4px 4px -4px rgba( 0, 0, 0, 0.1 );
	font-size: 18px;
	font-weight: 200;
}

.embed-url span {
	display: block;
	padding: 4px 0 6px 2px;
}

.embed-url input {
	padding: 12px 14px;
	width: 100%;
	min-width: 200px;
	/*max-width: 500px;*/
	box-shadow: inset 2px 2px 4px -2px rgba( 0, 0, 0, 0.1 );
}

.embed-link-settings,
.embed-image-settings {
	position: absolute;
	background: #f5f5f5;
	top: 108px;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 16px 16px 32px;
	overflow: auto;
}

.media-embed .thumbnail {
	max-width: 100%;
	max-height: 200px;
	position: relative;
	float: left;
}

.media-embed .thumbnail img {
	max-height: 200px;
}

.media-embed .thumbnail:after {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.1 );
	overflow: hidden;
}

.media-embed .setting {
	width: 100%;
	margin-top: 10px;
	float: left;
	display: block;
	clear: both;
}

.media-embed .setting span {
	display: block;
	width: 200px;
	font-size: 13px;
	line-height: 24px;
	color: #999;
	text-shadow: 0 1px 0 #fff;
}

.media-embed .setting .button-group {
	margin: 2px 0;
}

.media-embed .setting input,
.media-embed .setting textarea {
	display: block;
	width: 100%;
	max-width: 400px;
	margin: 1px 0;
}
