/**
 * Modal
 */
.media-modal {
	position: fixed;
	top: 60px;
	left: 60px;
	right: 60px;
	bottom: 60px;
	background: #fff;
	z-index: 125000;
}

.media-modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: #000;
	opacity: 0.8;
	z-index: 120000;
}

.media-modal-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 28px;
	background: #f1f1f1;
}

.media-modal-header h3 {
	float: left;
	padding: 0 0 0 10px;
	margin: 0;
	line-height: 28px;
}

.media-modal-close {
	float: right;
	padding-right: 10px;
	line-height: 28px;
}

.media-modal-content {
	position: absolute;
	top: 28px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
}

/**
 * Toolbar
 */
.media-toolbar {
	position: relative;
	z-index: 50;
	height: 60px;
	border-bottom: 1px solid #dfdfdf;
}

.media-toolbar-primary {
	float: right;
}

.media-toolbar-secondary {
	float: left;
}

.media-toolbar .media-button {
	float: left;
	margin-top: 19px;
}

.media-toolbar-primary .media-button {
	margin-left: 10px;
}

.media-toolbar-secondary .media-button {
	margin-right: 10px;
}

/**
 * Workspace
 */
.media-workspace {
	position: relative;
	width: 100%;
	height: 100%;
}

.upload-attachments {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: 180px;
	margin: 10px;
	text-align: center;
	border: 3px dashed #dfdfdf;
	background: #fff;
	z-index: 100;
}

.upload-attachments h3 {
	font-size: 18px;
	font-weight: 200;
	color: #777;
	padding: 40px 0 0;
	margin: 0;
}

.upload-attachments span {
	display: block;
	color: #777;
	margin: 10px 0;
}

.upload-attachments a {
	display: inline-block;
	margin: 0 auto;
}

.drag-over .upload-attachments {
	width: auto;
	right: 0;
	border-color: #83B4D8;
	box-shadow: 0 0 0 10px #fff;
}

.existing-attachments {
	position: absolute;
	top: 0;
	left: 200px;
	right: 0;
	bottom: 0;
	margin: 0 20px;
}

.media-workspace .attachments,
.media-workspace .media-toolbar {
	-webkit-transition-property: left, right, top, bottom, margin;
	-moz-transition-property:    left, right, top, bottom, margin;
	-ms-transition-property:     left, right, top, bottom, margin;
	-o-transition-property:      left, right, top, bottom, margin;
	transition-property:         left, right, top, bottom, margin;

	-webkit-transition-duration: 0.2s;
	-moz-transition-duration:    0.2s;
	-ms-transition-duration:     0.2s;
	-o-transition-duration:      0.2s;
	transition-duration:         0.2s;
}

.media-workspace .attachments {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto;
	width: auto;
}

.media-workspace.with-toolbar .attachments {
	top: 61px;
}

.media-workspace .media-toolbar {
	margin-top: -61px;
}

.media-workspace.with-toolbar .media-toolbar {
	margin-top: 0;
}

.media-workspace .media-toolbar .add-to-gallery,
.media-workspace .media-toolbar .create-new-gallery {
	display: none;
}

/**
 * Attachments
 */
.attachments {
	position: relative;
	width: 100%;
	height: 100%;
}

.attachments-header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 50px;
	background: #fff;
}

.attachments-header h3 {
	float: left;
	margin: 0;
	padding: 0;
	line-height: 50px;
	font-size: 18px;
	font-weight: 200;
}
.attachments-header input {
	float: right;
	margin-top: 12px;
	line-height: 18px;
}

.attachments ul {
	position: absolute;
	top: 50px;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: auto;
	margin: 0 -10px 20px;
}

/**
 * Attachment
 */
.attachment {
	position: relative;
	float: left;
	width: 200px;
	height: 200px;

	padding: 0;
	margin: 0 10px 20px;
	border: 1px solid #dfdfdf;
}

.attachment:hover {
	border-color: #d54e21;
}

.attachment.selected {
	border-color: #21759b;
}

.attachment.selected:after {
	content: '\2713';
	display: block;
	height: 24px;
	width: 24px;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 24px;
	font-size: 18px;
	text-align: center;
	color: #fff;
	background: #21759b;
}

.attachment-thumbnail {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
}

.attachment img {
	display: block;
	max-height: 200px;
	max-width: 200px;

	/* Vertically center the thumbnails. */
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate( -50%, -50% );
	-moz-transform:    translate( -50%, -50% );
	-ms-transform:     translate( -50%, -50% );
	-o-transform:      translate( -50%, -50% );
	transform:         translate( -50%, -50% );

	margin: 0 auto;
	box-shadow: inset 0 0 0 1px rgba( 0, 0, 0, 0.4 );
}


/* Square crop with overflow visible on hover. */
/*
.attachment .portrait img {
	width: 200px;
}
.attachment .landscape img {
	height: 200px;
}
.attachment .attachment-thumbnail:hover {
	overflow: visible;
	z-index: 1000;
}
.attachment .attachment-thumbnail:hover img {
	border: 10px solid #fff;
	box-shadow: 0 0 10px rgba( 0, 0, 0, 0.4 );
}*/


/* Square crop with resized image on hover. */
/*
.attachment .portrait img {
	width: 200px;
}
.attachment .landscape img {
	height: 200px;
}
.attachment .attachment-thumbnail:hover img {
	height: auto;
	width: auto;
	max-height: 200px;
	max-width: 200px;
}*/


/**
 * Progress Bar
 */
.media-progress-bar {
	position: relative;
	height: 8px;
	width: 70%;
	margin: 10px auto;
	padding: 2px;
	border: 2px solid #dfdfdf;
	border-radius: 8px;
}

.media-progress-bar div {
	height: 8px;
	min-width: 8px;
	width: 0;
	background: #dfdfdf;
	border-radius: 10px;
	-webkit-transition: width 200ms;
	-moz-transition:    width 200ms;
	-ms-transition:     width 200ms;
	-o-transition:      width 200ms;
	transition:         width 200ms;
}

.attachment-thumbnail .media-progress-bar {
	position: absolute;
	top: 50%;
	left: 15%;
	width: 70%;
	margin: -8px 0 0 -4px;
}

.upload-attachments .media-progress-bar {
	margin-top: 80px;
	display: none;
}

.uploading .upload-attachments .media-progress-bar {
	display: block;
}

/**
 * Selection Preview
 */

.selection-preview {
	position: relative;
	height: 60px;
	overflow: hidden;
}

.selected-img {
	float: left;
	position: relative;
	margin-right: 14px;
}

.selection-preview img {
	max-width: 40px;
	max-height: 40px;
	float: left;
	margin-top: 6px;
	margin-left: 1px;
	border: 2px solid white;
	box-shadow:
	    0 0 0 1px #ccc,
	    3px 3px 0 0 #fff,
	    3px 3px 0 1px #ccc,
	    6px 6px 0 0 #fff,
	    6px 6px 0 1px #ccc;
}

.selection-preview .selected-count-1 img {
	margin-top: 8px;
	box-shadow: 0 0 0 1px #ccc;
}

.selection-preview .selected-count-2 img {
	margin-top: 7px;
	box-shadow:
	    0 0 0 1px #ccc,
	    3px 3px 0 0 #fff,
	    3px 3px 0 1px #ccc;
}

.selection-preview .count {
	position: absolute;
	bottom: 0;
	right: 0;
	height: 16px;
	min-width: 8px;
	padding: 0 4px;
	font-size: 12px;
	text-align: center;
	font-weight: bold;
	color: #999;
	background: #fff;
	box-shadow: -1px -1px 2px -1px rgba( 0, 0, 0, 0.2 );
}

.selection-preview .clear-selection {
	float: left;
	line-height: 60px;
}