/**
 * Modal
 */
.media-modal-title {
	left: auto;
	right: 0;
	float: right;
}

.media-modal-close {
	right: auto;
	left: 0;
	float: left;
}

/**
 * Toolbar
 */
.media-frame-toolbar > .media-toolbar {
	left: 0;
	right: 200px;
	border-width: 1px 0 0 0;
}


.media-toolbar-primary {
	float: left;
}

.media-toolbar-secondary {
	float: right;
}

.media-toolbar-primary > .media-button,
.media-toolbar-primary > .media-button-group {
	margin-left: 0;
	margin-right: 10px;
	float: right;
}

.media-toolbar-secondary > .media-button,
.media-toolbar-secondary > .media-button-group {
	margin-right: 0;
	margin-left: 10px;
	float: right;
}

/**
 * Sidebar
 */
.media-sidebar {
	right: auto;
	left: 0;
}

.hide-sidebar .media-sidebar {
	right: auto;
	left: -300px;
}

.media-sidebar .setting {
	float: right;
}

.media-sidebar .setting span {
	margin-right: 0;
	margin-left: 4%;
}

.media-sidebar .setting span,
.compat-item label span {
	float: right;
	text-align: left;
}

.media-sidebar .setting input,
.media-sidebar .setting textarea {
	float: left;
}

.compat-item {
	float: right;
}

.compat-item .label {
	margin-right: 0;
	margin-left: 4%;
	float: right;
	text-align: left;
}

.compat-item .field {
	float: left;
	padding-right: 0;
	padding-left: 1px;
}

/**
 * Menu
 */
.media-menu {
	left: auto;
	right: 0;
	border-right: 0;
	border-left: 1px solid #d9d9d9;
	box-shadow: inset 6px 0 6px -6px rgba( 0, 0, 0, 0.2 )
}

/**
 * Attachment Browser Filters
 */
.media-frame select.attachment-filters {
	margin-right: 0;
	margin-left: 10px;
}

/**
 * Frame
 */
.media-frame .region-content {
	left: 300px;
	right: 200px;
}

.media-frame.hide-sidebar .region-content {
	right: 200px;
	left: 0;
}

/**
 * Search
 */
.media-toolbar-secondary .search {
	margin-right: 0;
	margin-left: 16px;
}

/**
 * Attachments
 */
.attachments {
	margin: 0;
	padding-right: 0;
	padding-left: 16px;
}

/**
 * Attachment
 */
.attachment {
	float: right;
}

.attachment .icon,
.attachment .thumbnail {
	left: auto;
	right: 0;
}

.attachment .close {
	right: auto;
	left: 5px;
}

.attachment .check {
	right: auto;
	left: -7px;
}

/**
 * Progress Bar
 */
.attachment-preview .media-progress-bar {
	left: auto;
	right: 15%;
	margin: -8px -4px 0 0;
}

/**
 * Selection
 */
.media-selection {
	right: 0;
	left: 350px;
	padding: 0 16px 0 0;
}

.media-selection .selection-info {
	margin-right: 0;
	margin-left: 10px;
}

.media-selection .selection-info a {
	float: right;
	margin: 1px -8px 1px 8px;
}

.media-selection .selection-info a:last-child {
	border-right: 1px;
	border-left: 0;
}

.media-selection:after {
	right: auto;
	left: 0;
	background-image: -webkit-gradient(linear, left top, left top, from( rgba( 255, 255, 255, 1 ) ), to( rgba( 255, 255, 255, 0 ) ));
	background-image: -webkit-linear-gradient(left, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
	background-image:    -moz-linear-gradient(left, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
	background-image:      -o-linear-gradient(left, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
	background-image:   linear-gradient(to right, rgba( 255, 255, 255, 1 ) ,  rgba( 255, 255, 255, 0 ) );
}

/**
 * Selection Preview
 */
.selected-img {
	float: right;
	margin-right: 0;
	margin-left: 14px;
}

.selection-preview img {
	float: right;
	margin-left: 0;
	margin-right: 1px;
}

.selection-preview .count {
	right: auto;
	left: 0;
}

.selection-preview .clear-selection {
	float: right;
}

/**
 * Attachment Details
 */
.attachment-info .thumbnail {
	float: right;
	margin-right: 0;
	margin-left: 10px;
}

.attachment-info .details {
	float: right;
}

.attachment-info .compat-meta {
	float: right;
}

/**
 * Attachment Display Settings
 */
.attachment-display-settings {
	float: right;
}

/**
 * Embed from URL
 */
.embed-url span {
	display: block;
	padding: 4px 2px 6px 0;
}

.media-embed .thumbnail {
	float: right;
}

.media-embed .setting {
	float: right;
}
