.wp-pointer-content {	
	padding: 0 0 10px;
	position: relative;
	font-size: 13px;
	background: #fff;
	border: none;
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.075);
	box-shadow:         0 3px 6px rgba(0,0,0,0.075);
}

.wp-pointer-content h3 {
	position: relative;
	margin: 0 0 5px;
	padding: 15px 18px 14px 60px;
	line-height: 1.4em;
	font-size: 14px;
	color: #fff;
	background: #2ea2cc;
}

.wp-pointer-content h3:before {
	position: absolute;
	top: 0;
	left: 15px;
	content: ' ';
	width: 36px;
	height: 100%;
	background: url('../images/icon-pointer-flag.png') 0 50% no-repeat;
}

.wp-pointer-content p {
	padding: 0 15px;
}

.wp-pointer-buttons {
	margin: 0;
	padding: 5px 15px;
	overflow: auto;
}

.wp-pointer-buttons a {
	float: right;
	display: inline-block;
	text-decoration: none;
}

.wp-pointer-buttons a.close {
	padding-left: 3px;
	position: relative;
}

.wp-pointer-buttons a.close:before {
	font-size: 13px;
	width: 10px;
	height: 100%;
	position: absolute;
	left: -12px;
	top: 1px;
}

.wp-pointer-buttons a.close:hover:before {
	background-position:100% 50%;
}

/* The arrow base class must take up no space, even with transparent borders. */
.wp-pointer-arrow,
.wp-pointer-arrow-inner {
	position: absolute;
	width: 0;
	height: 0;
}

.wp-pointer-arrow {
	z-index: 10;
	width: 0;
	height: 0;
	border: 0 solid transparent;
}

.wp-pointer-arrow-inner {
	z-index: 20;
}

/* Make Room for the Arrow! */
.wp-pointer-top,
.wp-pointer-undefined {
	padding-top: 13px;
}

.wp-pointer-bottom {
	padding-bottom: 13px;
}

.wp-pointer-left {
	padding-left: 13px;
}

.wp-pointer-right {
	padding-right: 13px;
}

/* Base Size & Positioning */
.wp-pointer-top .wp-pointer-arrow,
.wp-pointer-bottom .wp-pointer-arrow,
.wp-pointer-undefined .wp-pointer-arrow {
	left: 50px;
}

.wp-pointer-left .wp-pointer-arrow,
.wp-pointer-right .wp-pointer-arrow {
	top: 50%;
	margin-top: -15px;
}

/* Arrow Sprite */
.wp-pointer-top .wp-pointer-arrow,
.wp-pointer-undefined .wp-pointer-arrow {
	top: 0;
	border-width: 0 17px 15px 17px;
	border-bottom-color: #2ea2cc;
}

.wp-pointer-bottom .wp-pointer-arrow {
	bottom: 0;
	border-width: 15px 17px 0 17px;
	border-top-color: #fff;
}

.wp-pointer-left .wp-pointer-arrow {
	left: 0;
	border-width: 17px 15px 17px 0;
	border-right-color: #fff;
}

.wp-pointer-right .wp-pointer-arrow {
	right:0;
	border-width: 17px 0 17px 15px;
	border-left-color: #fff;
}

/* - RTL
------------------------------------------------------------------------------*/

.rtl .wp-pointer-content h3 {
	padding-right: 60px;
	padding-left: 18px;
}

.rtl .wp-pointer-content h3:before {
	right: 15px;
}

.rtl .wp-pointer-buttons a {
	float: left;
}

.rtl .wp-pointer-buttons a.close {
	padding-right:3px;
	padding-left: 0;
}

.rtl .wp-pointer-buttons a.close:before {
	right:-10px;
}

.rtl .wp-pointer-top .wp-pointer-arrow,
.rtl .wp-pointer-bottom .wp-pointer-arrow,
.rtl .wp-pointer-undefined .wp-pointer-arrow {
	right: 50px;
}
