.wp-block-query-pagination>.wp-block-query-pagination-next,.wp-block-query-pagination>.wp-block-query-pagination-numbers,.wp-block-query-pagination>.wp-block-query-pagination-previous{
  margin-bottom:.5em;
  margin-right:.5em;
}
.wp-block-query-pagination>.wp-block-query-pagination-next:last-child,.wp-block-query-pagination>.wp-block-query-pagination-numbers:last-child,.wp-block-query-pagination>.wp-block-query-pagination-previous:last-child{
  margin-right:0;
}
.wp-block-query-pagination.is-content-justification-space-between>.wp-block-query-pagination-next:last-of-type{
  margin-inline-start:auto;
}
.wp-block-query-pagination.is-content-justification-space-between>.wp-block-query-pagination-previous:first-child{
  margin-inline-end:auto;
}
.wp-block-query-pagination .wp-block-query-pagination-previous-arrow{
  display:inline-block;
  margin-right:1ch;
}
.wp-block-query-pagination .wp-block-query-pagination-previous-arrow:not(.is-arrow-chevron){
  transform:scaleX(1);
}
.wp-block-query-pagination .wp-block-query-pagination-next-arrow{
  display:inline-block;
  margin-left:1ch;
}
.wp-block-query-pagination .wp-block-query-pagination-next-arrow:not(.is-arrow-chevron){
  transform:scaleX(1);
}
.wp-block-query-pagination.aligncenter{
  justify-content:center;
}