/*
 * CodePress color styles for CSS syntax highlighting
 */

b, b a, b u {color:#000080;} /* tags, ids, classes */
i, i b, i s, i a, i u {color:gray;} /* comments */
s, s b {color:#a0a0dd;} /* parameters */
a {color:#0000ff;} /* keys */
u {color:red;} /* values */

