/*------------------------------------------------------------------------------
  22.0 - About Pages

   1.0 Global: About, Credits, Freedoms
    1.1 Typography
    1.2 Structure
    1.3 Point Releases
   2.0 About Page
    2.1 Typography
    2.2 Structure
   3.0 Credits & Freedoms Pages
------------------------------------------------------------------------------*/

/*------------------------------------------------------------------------------
  1.0 - Global: About, Credits, Freedoms
------------------------------------------------------------------------------*/

.about-wrap {
	position: relative;
	margin: 25px 20px 0 40px;
	max-width: 1050px; /* readability */
	font-size: 15px;
}

.about-wrap.full-width-layout {
	max-width: 1200px;
}

.about-wrap-content {
	max-width: 1050px;
}

.about-wrap div.updated,
.about-wrap div.error,
.about-wrap .notice {
	display: none !important;
}

.about-wrap hr {
	border: 0;
	height: 0;
	margin: 3em 0 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.about-wrap img {
	margin: 0;
	width: 100%;
	height: auto;
	vertical-align: middle;
}

.about-wrap .inline-svg img {
	max-width: 100%;
	width: auto;
	height: auto;
}

.about-wrap video {
	margin: 1.5em auto;
}

/* WordPress Version Badge */

.wp-badge {
	background: #0073aa url(../images/w-logo-white.png?ver=20160308) no-repeat;
	background-position: center 25px;
	background-size: 80px 80px;
	color: #fff;
	font-size: 14px;
	text-align: center;
	font-weight: 600;
	margin: 5px 0 0;
	padding-top: 120px;
	height: 40px;
	display: inline-block;
	width: 140px;
	text-rendering: optimizeLegibility;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.svg .wp-badge {
	background-image: url(../images/wordpress-logo-white.svg?ver=20160308);
}

.about-wrap .wp-badge {
	position: absolute;
	top: 0;
	left: 0;
}

/* Tabs */

.about-wrap .nav-tab {
	padding-left: 15px;
	padding-right: 15px;
	font-size: 18px;
	line-height: 1.33333333;
}

/* 1.1 - Typography */

.about-wrap h1 {
	margin: 0.2em 0 0 200px;
	padding: 0;
	color: #32373c;
	line-height: 1.2;
	font-size: 2.8em;
	font-weight: 400;
}

.about-wrap h2 {
	margin: 40px 0 .6em;
	font-size: 2.7em;
	line-height: 1.3;
	font-weight: 300;
	text-align: center;
}

.about-wrap h3 {
	margin: 1.25em 0 .6em;
	font-size: 1.4em;
	line-height: 1.5;
}

.about-wrap h4 {
	font-size: 16px;
	color: #23282d;
}

.about-wrap p {
	line-height: 1.5;
	font-size: 16px;
}

.about-wrap code,
.about-wrap ol li p {
	font-size: 14px;
	font-weight: 400;
}

.about-wrap figcaption {
	font-size: 13px;
	text-align: center;
	color: white;
	text-overflow: ellipsis;
}

.about-wrap .about-description,
.about-wrap .about-text {
	margin-top: 1.4em;
	font-weight: 400;
	line-height: 1.6;
	font-size: 19px;
}

.about-wrap .about-text {
	margin: 1em 0 1em 200px;
	color: #555d66;
}

/* 1.2 - Structure */

.about-wrap .has-1-columns,
.about-wrap .has-2-columns,
.about-wrap .has-3-columns,
.about-wrap .has-4-columns {
	display: -ms-grid;
	display: grid;
	max-width: 800px;
	margin-top: 40px;
	margin-right: auto;
	margin-left: auto;
}

.about-wrap .column {
	margin-left: 20px;
	margin-right: 20px;
}

.about-wrap .is-wide {
	max-width: 760px;
}

.about-wrap .is-fullwidth {
	max-width: 100%;
}

.about-wrap .has-1-columns {
	display: block;
	max-width: 680px;
	margin: 0 auto 40px;
}

.about-wrap .has-2-columns {
	-ms-grid-columns: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}

.about-wrap .has-2-columns .column:nth-of-type(2n+1) {
	-ms-grid-column: 1;
	grid-column-start: 1;
}

.about-wrap .has-2-columns .column:nth-of-type(2n) {
	-ms-grid-column: 2;
	grid-column-start: 2;
}

.about-wrap .has-2-columns.is-wider-right {
	-ms-grid-columns: 1fr 2fr;
	grid-template-columns: 1fr 2fr;
}

.about-wrap .has-2-columns.is-wider-left {
	-ms-grid-columns: 2fr 1fr;
	grid-template-columns: 2fr 1fr;
}

.about-wrap .has-3-columns {
	-ms-grid-columns: (1fr)[3];
	grid-template-columns: repeat(3, 1fr);
}

.about-wrap .has-3-columns .column:nth-of-type(3n+1) {
	-ms-grid-column: 1;
	grid-column-start: 1;
}

.about-wrap .has-3-columns .column:nth-of-type(3n+2) {
	-ms-grid-column: 2;
	grid-column-start: 2;
}

.about-wrap .has-3-columns .column:nth-of-type(3n) {
	-ms-grid-column: 3;
	grid-column-start: 3;
}

.about-wrap .has-4-columns {
	-ms-grid-columns: (1fr)[4];
	grid-template-columns: repeat(4, 1fr);
}

.about-wrap .has-4-columns .column:nth-of-type(4n+1) {
	-ms-grid-column: 1;
	grid-column-start: 1;
}

.about-wrap .has-4-columns .column:nth-of-type(4n+2) {
	-ms-grid-column: 2;
	grid-column-start: 2;
}

.about-wrap .has-4-columns .column:nth-of-type(4n+3) {
	-ms-grid-column: 3;
	grid-column-start: 3;
}

.about-wrap .has-4-columns .column:nth-of-type(4n) {
	-ms-grid-column: 4;
	grid-column-start: 4;
}

.about-wrap .column :first-child {
	margin-top: 0;
}

.about-wrap .aligncenter {
	text-align: center;
}

.about-wrap .alignleft {
	float: right;
	margin-left: 40px;
}

.about-wrap .alignright {
	float: left;
	margin-right: 40px;
}

.about-wrap .is-vertically-aligned-top {
	align-self: start;
}

.about-wrap .is-vertically-aligned-center {
	align-self: center;
}

.about-wrap .is-vertically-aligned-bottom {
	align-self: end;
}

/* 1.3 - Point Releases */

.about-wrap .point-releases {
	margin-top: 5px;
	border-bottom: 1px solid #ddd;
}

.about-wrap .changelog {
	margin-bottom: 40px;
}

.about-wrap .changelog.point-releases h3 {
	padding-top: 35px;
}

.about-wrap .changelog.point-releases h3:first-child {
	padding-top: 7px;
}

.about-wrap .changelog.feature-section .col {
	margin-top: 40px;
}

/*------------------------------------------------------------------------------
  2.0 - About Page
------------------------------------------------------------------------------*/

/* 2.1 - Typography */

.about-wrap .lead-description {
	font-size: 1.5em;
	text-align: center;
}

.about-wrap .feature-section p {
	margin-top: 0.6em;
}

/* 2.2 - Structure */

.about-wrap .headline-feature {
	margin: 0 auto 40px;
	max-width: 680px;
}

.about-wrap .headline-feature h2 {
	margin: 50px 0 0;
}

.about-wrap .headline-feature img {
	max-width: 600px;
	width: 100%;
}

/* Return to Dashboard Home link */

.about-wrap .return-to-dashboard {
	margin: 30px -5px 0 0;
	font-size: 14px;
	font-weight: 600;
}

.about-wrap .return-to-dashboard a {
	text-decoration: none;
	padding: 0 5px;
}

/*------------------------------------------------------------------------------
  3.0 - Credits & Freedoms Pages
------------------------------------------------------------------------------*/

/* Credits */

.about-wrap h2.wp-people-group {
	margin: 2.6em 0 1.33em;
	padding: 0;
	font-size: 16px;
	line-height: inherit;
	font-weight: 600;
	text-align: right;
}

.about-wrap .wp-people-group {
	padding: 0 5px;
	margin: 0 -5px 0 -15px;
}

.about-wrap .compact {
	margin-bottom: 0;
}

.about-wrap .wp-person {
	display: inline-block;
	vertical-align: top;
	margin-left: 10px;
	padding-bottom: 15px;
	height: 70px;
	width: 280px;
}

.about-wrap .compact .wp-person {
	height: auto;
	width: 180px;
	padding-bottom: 0;
	margin-bottom: 0;
}

.about-wrap .wp-person .gravatar {
	float: right;
	margin: 0 0 10px 10px;
	padding: 1px;
	width: 60px;
	height: 60px;
}

.about-wrap .compact .wp-person .gravatar {
	width: 30px;
	height: 30px;
}

.about-wrap .wp-person .web {
	margin: 6px 0 2px;
	font-size: 16px;
	font-weight: 400;
	line-height: 2;
	text-decoration: none;
}

.about-wrap .wp-person .title {
	display: block;
}

.about-wrap #wp-people-group-validators + p.wp-credits-list {
	margin-top: 0;
}

.about-wrap p.wp-credits-list a {
	white-space: nowrap;
}

/* Freedoms */

.freedoms-php .about-wrap ol {
	margin: 40px 60px;
}

.freedoms-php .about-wrap ol li {
	list-style-type: decimal;
	font-weight: 600;
}

.freedoms-php .about-wrap ol p {
	font-weight: 400;
	margin: 0.6em 0;
}

.freedoms-php .has-4-columns {
	margin-bottom: 40px;
}

.freedoms-php .column .freedoms-image {
	background-image: url('https://s.w.org/wp-content/themes/pub/wporg-main/images/freedoms-2x.png');
	background-size: 100%;
	padding-top: 100%;
}

.freedoms-php .column:nth-of-type(2) .freedoms-image {
	background-position: 100% 34%;
}

.freedoms-php .column:nth-of-type(3) .freedoms-image {
	background-position: 100% 66%;
}

.freedoms-php .column:nth-of-type(4) .freedoms-image {
	background-position: 100% 100%;
}

/*------------------------------------------------------------------------------
  4.0 - Media Queries
------------------------------------------------------------------------------*/

@media screen and (max-width: 782px) {
	.about-wrap .has-3-columns,
	.about-wrap .has-4-columns {
		-ms-grid-columns: 1fr 1fr;
		grid-template-columns: 1fr 1fr;
	}

	.about-wrap .has-3-columns .column:nth-of-type(3n+1),
	.about-wrap .has-4-columns .column:nth-of-type(4n+1) {
		-ms-grid-column: 1;
		grid-column-start: 1;
		-ms-grid-row: 1;
		grid-row-start: 1;
	}

	.about-wrap .has-3-columns .column:nth-of-type(3n+2),
	.about-wrap .has-4-columns .column:nth-of-type(4n+2) {
		-ms-grid-column: 2;
		grid-column-start: 2;
		-ms-grid-row: 1;
		grid-row-start: 1;
	}

	.about-wrap .has-3-columns .column:nth-of-type(3n),
	.about-wrap .has-4-columns .column:nth-of-type(4n+3) {
		-ms-grid-column: 1;
		grid-column-start: 1;
		-ms-grid-row: 2;
		grid-row-start: 2;
	}

	.about-wrap .has-4-columns .column:nth-of-type(4n) {
		-ms-grid-column: 2;
		grid-column-start: 2;
		-ms-grid-row: 2;
		grid-row-start: 2;
	}
}

@media screen and (max-width: 600px) {
	.about-wrap .has-2-columns,
	.about-wrap .has-3-columns,
	.about-wrap .has-4-columns {
		display: block;
	}

	.about-wrap :not(.is-wider-right):not(.is-wider-left) .column {
		margin-left: 0;
		margin-right: 0;
	}

	.about-wrap .has-2-columns.is-wider-right,
	.about-wrap .has-2-columns.is-wider-left {
		display: -ms-grid;
		display: grid;
	}
}

@media only screen and (max-width: 500px) {
	.about-wrap {
		margin-left: 20px;
		margin-right: 10px;
	}

	.about-wrap h1,
	.about-wrap .about-text {
		margin-left: 0;
	}

	.about-wrap .about-text {
		margin-bottom: 0.25em;
	}

	.about-wrap .wp-badge {
		position: relative;
		margin-bottom: 1.5em;
		width: 100%;
	}
}

@media only screen and (max-width: 480px) {
	.about-wrap .has-2-columns.is-wider-right,
	.about-wrap .has-2-columns.is-wider-left {
		display: block;
	}

	.about-wrap .column {
		margin-left: 0;
		margin-right: 0;
	}

	.about-wrap .has-2-columns.is-wider-right img,
	.about-wrap .has-2-columns.is-wider-left img {
		max-width: 160px;
	}
}
