.bar {
	border-right-color: none;
	border-left-color: #99d;
}

.post-com-count {
	background-image: url(../images/bubble_bg-rtl.gif);
}

#user_info_arrow {
	background: transparent url(../images/arrows.png) no-repeat 0 5px;
}

#user_info:hover #user_info_arrow,
#user_info.active #user_info_arrow {
	background: transparent url(../images/arrows-dark.png) no-repeat 0 5px;
}

/* editors */

/* menu */

#adminmenushadow,
#adminmenuback {
	background-image: url(../images/menu-shadow-rtl.png);
	background-position: top left;
}

#adminmenu li.wp-has-current-submenu.wp-menu-open .wp-menu-toggle,
#adminmenu li.wp-has-current-submenu:hover .wp-menu-toggle {
	background: transparent url(../images/arrows-dark.png) no-repeat 8px 6px;
}

#adminmenu .wp-has-submenu:hover .wp-menu-toggle,
#adminmenu .wp-menu-open .wp-menu-toggle {
	background: transparent url(../images/arrows.png) no-repeat 8px 6px;
}


#adminmenu .wp-submenu .wp-submenu-head {
	border-right-color: none;
	border-left-color: #dfdfdf;
}

.folded #adminmenu .wp-submenu-wrap {
	-moz-box-shadow: -2px 2px 5px rgba( 0, 0, 0, 0.4 );
	-webkit-box-shadow: -2px 2px 5px rgba( 0, 0, 0, 0.4 );
	box-shadow: -2px 2px 5px rgba( 0, 0, 0, 0.4 );
}

/* collapse menu button */
#collapse-button div {
	background-position: 0 -108px;
}
.folded #collapse-button div {
	background-position: 0 -72px;
}

/* edit image */

.meta-box-sortables .postbox:hover .handlediv {
	background: transparent url(../images/arrows.png) no-repeat 6px 7px;
}

.tablenav .tablenav-pages a {
	border-color: #e3e3e3;
	background: #eee url('../images/menu-bits-rtl.gif?ver=20100610') repeat-x scroll right -379px;
}

#post-body .misc-pub-section {
	border-right-color: none;
	border-left-color: #eee;
}

#favorite-toggle {
	background: transparent url(../images/arrows.png) no-repeat 4px 2px;
}

#screen-meta a.show-settings,
.toggle-arrow {
	background: transparent url(../images/arrows.png) no-repeat left 3px;
}

#screen-meta .screen-meta-active a.show-settings {
	background: transparent url(../images/arrows.png) no-repeat left -33px;
}

.sidebar-name-arrow {
	background: transparent url(../images/arrows.png) no-repeat 5px 9px;
}
.sidebar-name:hover .sidebar-name-arrow {
	background: transparent url(../images/arrows-dark.png) no-repeat 5px 9px;
}


/* custom header & background pages */

/* custom header & background pages */
