.control-section .customize-section-title {
	font-family: Tahoma, Arial, sans-serif;
}
.customize-section-title:after {
	right: auto;
	left: 20px;
}

#customize-header-actions .button-primary {
	float: left;
}

#customize-header-actions .spinner {
	float: left;
	margin-right: 0;
	margin-left: 4px;
}

.customize-control {
	float: right;
}

.customize-control-radio input,
.customize-control-checkbox input {
	margin-right: 0;
	margin-left: 5px;
}

/*
 * Dropdowns
 */
.customize-section .dropdown {
	float: right;
}

.customize-section .dropdown-content {
	float: right;
	margin-right: 0px;
	margin-left: 16px;
	-webkit-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.customize-control .dropdown-arrow {
	right: auto;
	left: 0;

	border-color: #ccc;
	border-style: solid;
	border-width: 1px 0 1px 1px;
	-webkit-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}

.customize-control .dropdown-arrow:after {
	right: auto;
	left: 4px;
}

/*
 * Color Picker
 */
.customize-control-color .dropdown {
	margin-right: 0;
	margin-left: 5px;
}

.customize-section input[type="text"].color-picker-hex {
	float: right;
}

/*
 * Image Picker
 */
.customize-section .customize-control-image .actions {
	text-align: left;
}

.customize-control-image .library,
.customize-control-image .actions,
.customize-section .customize-control-image .library ul,
.customize-section .customize-control-image .library li,
.customize-section .customize-control-image .library-content {
	float: right;
}
