.edit-box {
	display: none;
}

h3:hover .edit-box {
	display: inline;
}

form .input-text-wrap {
	border-style: solid;
	border-width: 1px;
	padding: 2px 3px;
	border-color: #ccc;
}

form .input-text-wrap input {
	border: 0 none;
	outline: none;
	padding: 0;
	width: 99%;
	color: #333;
}

form .textarea-wrap {
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	border-color: #ccc;
}

form .textarea-wrap textarea {
	border: 0 none;
	padding: 0;
	outline: none;
	width: 99%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

form p.field-tip {
	font-size: .9em;
	font-style: italic;
	margin: 0;
	padding: 0;
}

#dashboard-widgets .postbox form .submit {
	float: none;
	margin: .5em 0 0;
	padding: 0;
	border: none;
}

#dashboard-widgets-wrap #dashboard-widgets .postbox form .submit input {
	margin: 0;
}

#dashboard-widgets-wrap #dashboard-widgets .postbox form .submit #publish {
	min-width: 0;
}

#dashboard-widgets-wrap .has-sidebar {
	margin-right: -51%;
}

#dashboard-widgets-wrap .inner-sidebar {
	width: 49%;
}

#dashboard-widgets-wrap .has-sidebar .has-sidebar-content {
	margin-right: 51%;
}

div.postbox div.inside {
	margin: 0 10px 10px;
	position: relative;
}

.view-all {
	position: absolute;
	top: 0;
	right: 0;
	padding: 0;
	margin: 0;
}

#dashboard-widgets h4 {
	font-size: 1em;
	margin: 0 0 .2em;
	padding: 0;
}

/* Right Now */

#dashboard_right_now p.sub, #dashboard_right_now .table, #dashboard_right_now .versions {
	margin: -10px;
}

#dashboard_right_now .inside {
	font-family: Georgia, serif;
	font-size: 14px;
}

#dashboard_right_now p.sub {
	font-style: italic;
	padding: 5px 10px 15px;
	color: #777;
}

#dashboard_right_now .table {
	background: #f9f9f9;
	border-top: #ececec 1px solid;
	border-bottom: #ececec 1px solid;
	margin: 0 -9px 10px;
	padding: 0 10px;
}

#dashboard_right_now table {
	width: 100%;
}

#dashboard_right_now table  td {
	border-top: #ececec 1px solid;
	padding: 3px 0;
	white-space: nowrap;
}

#dashboard_right_now table tr.first td {
	border-top: none;
}

#dashboard_right_now  a {
	text-decoration: none;
}

#dashboard_right_now .b, #dashboard_right_now .b a {
	color: #2583ad;
}

#dashboard_right_now td.b {
	padding-right: 6px;
	text-align: right;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 14px;
}

#dashboard_right_now td.b a {
	font-size: 18px;
}

#dashboard_right_now .t {
	font-size: 12px;
	padding-right: 12px;
	color: #777;
}

#dashboard_right_now td.first,
#dashboard_right_now td.last {
	width: 1px;
}

#dashboard_right_now .spam {
	color: red;
}

#dashboard_right_now .waiting {
	color: orange;
}

#dashboard_right_now .approved {
	color: green;
}

#dashboard_right_now .versions {
	line-height: 2.5em;
	padding: 10px;
}

#dashboard_right_now .versions {
	font-style: italic;
	font-size: 12px;
}

#dashboard_right_now .versions a, #dashboard_right_now .versions .b {
	font-style: normal;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;;
	font-weight: bold;
}

#dashboard_right_now a.button {
	font-weight: normal;
	float: right;
	clear: right;
	position: relative;
	top: -5px;
	
}

/* Recent Comments */

#the-comment-list {
	position: relative;
}

#the-comment-list .comment-item {
	padding: 5px 5px 5px 47px;
}

#the-comment-list .comment-item .avatar {
	position: absolute;
	left: 5px;
}

#the-comment-list .comment-item blockquote, #the-comment-list .comment-item blockquote p {
	margin: 0;
	padding: 0;
	display: inline;
}

#dashboard_recent_comments #the-comment-list .trackback blockquote, #dashboard_recent_comments #the-comment-list .pingback blockquote {
	display: block;
}

#the-comment-list .comment-item p.comment-actions {
	margin: 0;
	padding: 0;
}

/* QuickPress */

#quick-press #add-media-button {
	margin: .5em 0;
}

#quick-press #content-label {
	margin-top: 1em;
}

#quick-press .textarea-wrap {
	clear: both;
}

/* Recent Drafts */
#dashboard_recent_drafts ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

/* Feeds */

.rss-widget ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.rss-widget a.rsswidget,
.rss-widget span.rss-date {
	font-size: 14px;
}

.rss-widget cite {
	display: block;
	text-align: right;
	margin: 0 0 1em;
	padding: 0;
}

.rss-widget cite:before {
	content: '\2014';
}

/* Plugins */

#dashboard_plugins h5 {
	font-size: 14px;
	margin: 0;
	display: inline;
	line-height: 1.4em;
}

#dashboard_plugins p {
	margin: 0 0 1em;
	line-height: 1.5em;
}
