#dashboard-widgets-wrap .has-sidebar {
	margin-right: 0;
	margin-left: -51%;
}
#dashboard-widgets-wrap .has-sidebar .has-sidebar-content {
	margin-right: 0;
	margin-left: 51%;
}
.view-all {
	right: auto;
	left: 0;
}
#dashboard_right_now p.sub, #dashboard-widgets h4, #dashboard_quick_press h4, a.rsswidget, #dashboard_plugins h4, #dashboard_plugins h5, #dashboard_recent_comments .comment-meta .approve {
	font-family: Tahoma, Arial;
}
#dashboard_right_now p.sub  {
	font-style:normal;
	left:auto;
	right:15px;
}
#dashboard_right_now td.b {
	padding-right: 0;
	padding-left: 6px;
	text-align: left;
	font-family: Tahoma, Arial;
}
#dashboard_right_now .t {
	padding-right: 0;
	padding-left: 12px;
}
#dashboard_right_now .table_content {
	float:right;
}
#dashboard_right_now .table_discussion {
	float:left;
}
#dashboard_right_now .versions a {
	font-family: Tahoma, Arial;
}
#dashboard_right_now a.button {
	float: left;
	clear: left;
}
#dashboard-widgets h3 .postbox-title-action {
	right: auto;
	left: 30px;
}
#the-comment-list .pingback {
	padding-left: 0 !important;
	padding-right: 9px !important;
}
/* Recent Comments */
#the-comment-list .comment-item {
	padding: 1em 70px 1em 10px;
}
#the-comment-list .comment-item .avatar {
	float: right;
	margin-left: 0;
	margin-right: -60px;
}
/* Feeds */
.rss-widget cite {
	text-align: left;
}
.rss-widget span.rss-date {
	font-family: Tahoma, Arial;
	margin-left: 0;
	margin-right: 3px;
}
/* QuickPress */
#dashboard_quick_press h4 {
	float: right;
	text-align: left;
}
#dashboard_quick_press h4 label {
	margin-right: 0;
	margin-left: 10px;
}
#dashboard_quick_press .input-text-wrap, #dashboard_quick_press .textarea-wrap {
	margin: 0 5em 1em 0;
}
#dashboard_quick_press #media-buttons {
	margin: 0 5em .5em 0;
	padding: 0 10px 0 0;
}
#dashboard-widgets #dashboard_quick_press form p.submit {
	margin-left: 0;
	margin-right: 4.6em;
}
#dashboard-widgets #dashboard_quick_press form p.submit input {
	float: right;
}
#dashboard-widgets #dashboard_quick_press form p.submit #save-post {
	margin: 0 10px 0 1em;
}
#dashboard-widgets #dashboard_quick_press form p.submit #publish {
	float: left;
}
#dashboard-widgets #dashboard_quick_press form p.submit img.waiting {
	margin: 4px 0 0 6px;
}
/* Recent Drafts */
#dashboard_recent_drafts h4 abbr {
	font-family: Tahoma, Arial;
	margin-left:0;
	margin-right: 3px;
}