/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
/*	font-size: 100%;
	vertical-align: baseline; */
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
/*
:focus {
	outline: 0;
}
*/
/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
/*
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*/
/* end reset css */


/* 2 column liquid layout */
#wpwrap {
	height: auto;
	min-height: 100%;
	width: 100%;
	position: relative;
}

#wpcontent {
	height: 100%;
}

#wpcontent,
#footer {
	margin-left: 160px;
}

#wpbody-content {
	padding-bottom: 50px;
}

.folded #wpcontent,
.folded #footer {
	margin-left: 52px;
}

#wpbody-content {
	float: left;
	width: 100%;
}

#adminmenuback,
#adminmenuwrap,
#adminmenu,
.folded #adminmenu .wp-submenu.sub-open,
.folded #adminmenu .wp-submenu-wrap {
	width: 145px;
}

#adminmenuback {
	position: absolute;
	top: 0;
	bottom: 0;
	z-index: -1;
}

#adminmenuwrap {
	float: left;
}

#adminmenu {
	clear: left;
	padding: 0;
	list-style: none;
}

.folded #adminmenuback,
.folded #adminmenuwrap,
.folded #adminmenu,
.folded #adminmenu li.menu-top {
	width: 32px;
}

#footer {
	position: relative;
}

/* inner 2 column liquid layout */
.inner-sidebar {
	float: right;
	clear: right;
	display: none;
	width: 281px;
	position: relative;
}

.inner-sidebar #side-sortables {
	width: 280px;
	min-height: 300px;
}

.has-right-sidebar .inner-sidebar {
	display: block;
}

.has-right-sidebar #post-body {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -340px;
}

.has-right-sidebar #post-body-content {
	margin-right: 300px;
}

/* 2 columns main area */

#col-container {
	overflow: hidden;
	padding: 0;
	margin: 0;
}

#col-left {
	padding: 0;
	margin: 0;
	overflow: hidden;
	width: 39%;
}

#col-right {
	float: right;
	clear: right;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 59%;
}

/* utility classes */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.textleft {
	text-align: left;
}

.textright {
	text-align: right;
}

.clear {
	clear: both;
}

/* Hide visually but not from screen readers */
.screen-reader-text,
.screen-reader-text span {
	position: absolute;
	left: -1000em;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.hidden,
.js .closed .inside,
.js .hide-if-js,
.no-js .hide-if-no-js {
	display: none;
}

/* include margin and padding in the width calculation of input and textarea */
input[type="text"],
input[type="password"],
textarea {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box; /* ie8 only */
	box-sizing: border-box;
}

input[type="checkbox"],
input[type="radio"] {
	vertical-align: middle;
}

/* styles for use by people extending the WordPress interface */
html,
body {
	height: 100%;
}

body,
td,
textarea,
input,
select {
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
	font-size: 13px;
}

body,
textarea {
	line-height: 1.4em;
}

input,
select {
	line-height: 15px;
}

p {
	margin: 1em 0;
}

blockquote {
	margin: 1em;
}

label {
	cursor: pointer;
}

li,
dd {
	margin-bottom: 6px;
}

p,
li,
dl,
dd,
dt {
	line-height: 140%;
}

textarea,
input,
select {
	margin: 1px;
	padding: 3px;
}

h1 {
  display: block;
  font-size: 2em;
  font-weight: bold;
  margin: .67em 0;
}

h2 {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  margin: .83em 0;
}

h3 {
  display: block;
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  display: block;
  font-size: 1em;
  font-weight: bold;
  margin: 1.33em 0;
}

h5 {
  display: block;
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6 {
  display: block;
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

ul.ul-disc {
	list-style: disc outside;
}

ul.ul-square {
	list-style: square outside;
}

ol.ol-decimal {
	list-style: decimal outside;
}

ul.ul-disc,
ul.ul-square,
ol.ol-decimal {
	margin-left: 1.8em;
}

ul.ul-disc > li,
ul.ul-square > li,
ol.ol-decimal > li {
	margin: 0 0 0.5em;
}

.subsubsub {
	list-style: none;
	margin: 8px 0 5px;
	padding: 0;
	white-space: nowrap;
	font-size: 12px;
	float: left;
}

.subsubsub a {
	line-height: 2;
	padding: .2em;
	text-decoration: none;
}

.subsubsub a .count, .subsubsub a.current .count {
	color: #999;
	font-weight: normal;
}

.subsubsub a.current {
	font-weight: bold;
	background: none;
	border: none;
}

.subsubsub li {
	display: inline;
	margin: 0;
	padding: 0;
}

.widefat {
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
	width: 100%;
	clear: both;
	margin: 0;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.widefat * {
	word-wrap: break-word;
}

.widefat a {
	text-decoration: none;
}

.widefat thead th:first-of-type {
	-moz-border-radius-topleft: 3px;
	-khtml-border-top-left-radius: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
.widefat thead th:last-of-type {
	-moz-border-radius-topright: 3px;
	-khtml-border-top-right-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}
.widefat tfoot th:first-of-type {
	-moz-border-radius-bottomleft: 3px;
	-khtml-border-bottom-left-radius: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
.widefat tfoot th:last-of-type {
	-moz-border-radius-bottomright: 3px;
	-khtml-border-bottom-right-radius: 3px;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

.widefat td,
.widefat th {
	border-width: 1px 0;
	border-style: solid;
}
.widefat tfoot th {
	border-bottom: none;
}

.widefat .no-items td {
	border-bottom-width: 0;
}

.widefat td {
	font-size: 12px;
	padding: 6px 7px 2px;
	vertical-align: top;
}

.widefat td p,
.widefat td ol,
.widefat td ul {
	font-size: 12px;
}

.widefat th {
	padding: 10px 7px 11px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}

.widefat th input {
	margin: 0 0 0 8px;
	padding: 0;
	vertical-align: text-top;
}

.widefat .check-column {
	width: 2.2em;
	padding: 14px 0 0;
	vertical-align: top;
}

.widefat tbody th.check-column {
	padding: 9px 0 22px;
}

.widefat .num,
.column-comments,
.column-links,
.column-posts {
	text-align: center;
}

.widefat th#comments {
	vertical-align: middle;
}

.wrap {
	margin: 0 15px 0 0;
}

div.updated,
div.error {
	border-width: 1px;
	border-style: solid;
	padding: 0 0.6em;
	margin: 5px 15px 2px;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

div.updated p,
div.error p {
	margin: 0.5em 0;
	padding: 2px;
}

.wrap div.updated,
.wrap div.error {
	margin: 5px 0 15px;
}

.wrap h2,
.subtitle {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 200;
	margin: 0;
	text-shadow: rgba(255,255,255,1) 0 1px 0;
}
.wrap h2 {
	font-size: 20px;
	padding: 8px 15px 3px 0;
	line-height: 28px;
}
.subtitle {
	font-size: 14px;
}
.wrap .add-new-h2 {
	position: relative;
	top: -2px;
	margin-left: 2px;
	font-family: Arial, "Bitstream Vera Sans", Helvetica, Verdana, sans-serif;
}

.wrap h2.long-header {
	padding-right: 0;
}


/* =CSS 3 transitions
-------------------------------------------------------------- */
.fade-1000 {
	opacity: 0;
	-moz-transition-property: opacity;
	-moz-transition-duration: 1s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 1s;
	-o-transition-property: opacity;
	-o-transition-duration: 1s;
	transition-property: opacity;
	transition-duration: 1s;
}

.fade-600 {
	opacity: 0;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.6s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.6s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.6s;
	transition-property: opacity;
	transition-duration: 0.6s;
}

.fade-400 {
	opacity: 0;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.4s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.4s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.4s;
	transition-property: opacity;
	transition-duration: 0.4s;
}

.fade-300 {
	opacity: 0;
	-moz-transition-property: opacity;
	-moz-transition-duration: 0.3s;
	-webkit-transition-property: opacity;
	-webkit-transition-duration: 0.3s;
	-o-transition-property: opacity;
	-o-transition-duration: 0.3s;
	transition-property: opacity;
	transition-duration: 0.3s;
}

.fade-trigger {
	opacity: 1;
}
