
/* 2 column liquid layout */

#wpcontent {
	margin-left: 0;
	margin-right: 165px;
}

.wp-admin #footer {
	margin-left: 15px;
	margin-right: 165px;
}

.folded #wpcontent {
	margin-left: 0;
	margin-right: 52px;
}

.folded.wp-admin #footer {
	margin-left: 15px;
	margin-right: 52px;
}

#wpbody-content {
	float: right;
}

#adminmenuwrap {
	float: right;
}

#adminmenu {
	clear: right;
}

/* inner 2 column liquid layout */
.inner-sidebar {
	float: left;
	clear: left;
}

.has-right-sidebar #post-body {
	float: right;
	clear: right;
	margin-right: 0;
	margin-left: -340px;
}

.has-right-sidebar #post-body-content {
	margin-right: 0;
	margin-left: 300px;
}

/* 2 columns main area */

#col-right {
	float: left;
	clear: left;
}

/* utility classes*/
.alignleft {
	float: right;
}

.alignright {
	float: left;
}

.textleft {
	text-align: right;
}

.textright {
	text-align: left;
}

/* Hide visually but not from screen readers */
.screen-reader-text,
.screen-reader-text span {
	left: auto
	right: -1000em;
}

/* styles for use by people extending the WordPress interface */

body,
td,
textarea,
input,
select {
	font-family: Tahoma, Arial, sans-serif;
}

ul.ul-disc,
ul.ul-square,
ol.ol-decimal {
	margin-left: 0;
	margin-right: 1.8em;
}

.subsubsub {
	float: right;
}

.widefat thead th:first-of-type {
	-moz-border-radius-topleft: 0;
	-moz-border-radius-topright: 3px;
	-khtml-border-top-left-radius: 0;
	-khtml-border-top-right-radius: 3px;
	-webkit-border-top-left-radius: 0;
	-webkit-border-top-right-radius: 3px;
	border-top-left-radius: 0;
	border-top-right-radius: 3px;
}

.widefat thead th:last-of-type {
	-moz-border-radius-topright: 0;
	-moz-border-radius-topleft: 3px;
	-khtml-border-top-right-radius: 0;
	-khtml-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 0;
	-webkit-border-top-left-radius: 3px;
	border-top-right-radius: 0;
	border-top-left-radius: 3px;
}
.widefat tfoot th:first-of-type {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 3px;
	-khtml-border-bottom-left-radius: 0;
	-khtml-border-bottom-right-radius: 3px;
	-webkit-border-bottom-left-radius: 0;
	-webkit-border-bottom-right-radius: 3px;
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 3px;
}
.widefat tfoot th:last-of-type {
	-moz-border-radius-bottomright: 0;
	-moz-border-radius-bottomleft: 3px;
	-khtml-border-bottom-right-radius: 0;
	-khtml-border-bottom-left-radius: 3px;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 3px;
}

.widefat th {
	text-align: right;
}

.widefat th input {
	margin: 0 8px 0 0;
}

.wrap {
	margin: 0 0 0 15px;
}


.wrap h2,
.subtitle {
	font-family: Tahoma, Arial, sans-serif;
}
.wrap h2 {
	padding: 9px 0 4px 15px;
}

.wrap .add-new-h2 {
	font-family: Tahoma, Arial, sans-serif;
	margin-left: 0;
	margin-right: 4px;
}

.wrap h2.long-header {
	padding-left: 0;
}
