
body {
	direction: rtl;
	width: 99.5%;
}

.rtl #adminmenuback {
	left: auto;
	right: 0;
	background-image: none;
}

.rtl #adminmenuback,
.rtl #adminmenuwrap {
	border-width: 0 0 0 1px;
}

#plupload-upload-ui {
	zoom: 1;
}

.post-com-count-wrapper a.post-com-count {
	float: none;
}

#adminmenu .wp-submenu ul {
	width: 99%;
}

#adminmenu .wp-submenu .wp-submenu .wp-submenu,
#adminmenu .wp-menu-open .wp-submenu .wp-submenu {
	border: 1px solid #dfdfdf;
}

.folded #adminmenu .wp-submenu {
	right: 30px;
}

#wpcontent #adminmenu .wp-submenu li.wp-submenu-head {
	padding: 3px 10px 4px 4px;
}

div.quicktags-toolbar input {
	min-width: 0;
}

.inline-edit-row fieldset label span.title {
	float: right;
}

.inline-edit-row fieldset label span.input-text-wrap {
	margin-right: 0;
}

p.search-box {
	float: left;
}

#bh {
	margin: 7px 10px 0 0;
	float: left;
}

.postbox div.inside,
.wp-editor-wrap .wp-editor-container .wp-editor-area,
#nav-menu-theme-locations .howto select {
	width: 97.5%;
}

/* without this dashboard widgets appear in one column for some screen widths */
div#dashboard-widgets {
	padding-right: 0;
	padding-left: 1px;
}

.tagchecklist span a {
	margin: 4px -9px 0 0;
}

.widefat th input {
	margin: 0 5px 0 0;
}

/* ---------- add by navid */
#TB_window {
	width: 670px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: 335px !important;
}

#dashboard_plugins {
	direction: ltr;
}

#dashboard_plugins h3.hndle {
	direction: rtl;
}

#dashboard_incoming_links ul li,
#dashboard_secondary ul li,
#dashboard_primary ul li,
p.row-actions {
	width: 100%;
}

#post-status-info {
	height: 25px;
}

p.submit { /* quick edit and reply in edit-comments.php */
	height:22px;
}

.available-theme .action-links li {
	padding-left: 7px;
	margin-left: 7px;
}

form#widgets-filter { /* fix widget page */
	position: static;
}

/* nav menus
.menu-max-depth-0 #menu-management { width: 460px; }
.menu-max-depth-1 #menu-management { width: 490px; }
.menu-max-depth-2 #menu-management { width: 520px; }
.menu-max-depth-3 #menu-management { width: 550px; }
.menu-max-depth-4 #menu-management { width: 580px; }
.menu-max-depth-5 #menu-management { width: 610px; }
.menu-max-depth-6 #menu-management { width: 640px; }
.menu-max-depth-7 #menu-management { width: 670px; }
.menu-max-depth-8 #menu-management { width: 700px; }
.menu-max-depth-9 #menu-management { width: 730px; }
.menu-max-depth-10 #menu-management { width: 760px; }
.menu-max-depth-11 #menu-management { width: 790px; }
*/
.menu-item-depth-0 { margin-left: 0px; }
.menu-item-depth-1 { margin-left: -30px; }
.menu-item-depth-2 { margin-left: -60px; }
.menu-item-depth-3 { margin-left: -90px; }
.menu-item-depth-4 { margin-left: -120px; }
.menu-item-depth-5 { margin-left: -150px; }
.menu-item-depth-6 { margin-left: -180px; }
.menu-item-depth-7 { margin-left: -210px; }
.menu-item-depth-8 { margin-left: -240px; }
.menu-item-depth-9 { margin-left: -270px; }
.menu-item-depth-10 { margin-left: -300px; }
.menu-item-depth-11 { margin-left: -330px; }

/*
#menu-to-edit li dl {
	padding: 0 !important;
	margin: 0 !important;
}

.ui-sortable-helper .menu-item-transport {
	margin-top: 13px;
}

.ui-sortable-helper .menu-item-transport .menu-item-transport {
	margin-top: 0;
}
*/

#menu-management,
.nav-menus-php .menu-edit,
#nav-menu-header .submitbox {
	zoom: 1;
}

.nav-menus-php label {
	max-width: 90% !important;
}

p.button-controls,
.nav-menus-php .tabs-panel {
	max-width: 90%;
}

.nav-menus-php .major-publishing-actions .publishing-action {
	float: none;
}

#wpbody #nav-menu-header label {
	float: none;
}

#nav-menu-header {
	margin-top: -10px;
}

#nav-menu-footer {
	margin-bottom: -20px;
}

#update-nav-menu .publishing-action {
	max-width: 200px;
}

#nav-menus-frame #update-nav-menu .delete-action {
	margin-top: -25px;
	float: left;
}

#menu-to-edit li {
	margin-top: -10px;
	margin-bottom: -10px;
}

.sortable-placeholder {
	margin-top: 0 !important;
	margin-left: 0 !important;
	margin-bottom: 13px !important;
	padding: 0 !important;
}

.auto-add-pages {
	clear: both;
	float: none;
}

#nav-menus-frame .open-label span {
	float: none;
	display: inline-block;
}

#nav-menus-frame .delete-action {
	float: none;
}

#title-wrap #title-prompt-text {
	right: 0;
}

.screen-reader-text {
	right: auto;
	text-indent: -1000em;
}