/* Fixes for IE bugs */

#poststuff .postbox h3 {
	padding-left: 23px;
}

#submenu li a.current {
	background:none;
	border:none;
}

* html body.minwidth {
	_width: expression(document.documentElement.clientWidth < 942 ? "940px" : "auto");
}

* html #poststuff #titlediv {
	display: inline-block;
}

* html div.widget-liquid-left-holder, * html div.widget-liquid-right {
	display: block;
	position: relative;
}

#wpwrap, #wpcontent, #post, #wrap, #postdivrich, #postdiv, #poststuff, #editorcantainer {
display: block;
zoom: 100%;
}

* html #editorcontainer {
padding: 0;
}

* html #editorcontainer #content {
position: relative;
overflow: auto;
padding: 6px;
margin: auto;
width: 98%;
}

form#template div {
	width: 100%;
}