body {
	font-family: Tahoma, arial;
}
form {
	margin-right: 8px;
	margin-left: 0;
}
form .forgetmenot {
	float: right;
}
#login form .submit input {
	font-family: Tahoma, arial;
}
form .submit { float: left; }
#backtoblog a {
	left: auto;
	right: 15px;
}
#login_error, .message {
	margin: 0 8px 16px 0;
}
#nav { margin: 0 8px 0 0; }
#user_pass, #user_login, #user_email {
	margin-left: 6px;
	margin-right: 0;
	direction:ltr;
}
h1 a {
	text-decoration: none;
}
