@import url(forms.css);
@import url(l10n.css);

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #f1f1f1;
	min-width: 0;
	color: #444;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 13px;
	line-height: 1.4em;
}

a {
	color: #0073aa;
	transition-property: border, background, color;
	transition-duration: .05s;
	transition-timing-function: ease-in-out;
}

a {
	outline: 0;
}

a:hover,
a:active {
	color: #00a0d2;
}

a:focus {
	color: #124964;
	box-shadow:
		0 0 0 1px #5b9dd9,
		0 0 2px 1px rgba(30, 140, 190, 0.8);
}

.ie8 a:focus {
	outline: #5b9dd9 solid 1px;
}

p {
	line-height: 1.5;
}

.login .message,
.login .success,
.login #login_error {
	border-left: 4px solid #00a0d2;
	padding: 12px;
	margin-left: 0;
	margin-bottom: 20px;
	background-color: #fff;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
}

.login .success {
	border-left-color: #46b450;
}

.login #login_error {
	border-left-color: #dc3232;
}

#loginform p.submit,
.login-action-lostpassword p.submit {
	border: none;
	margin: -10px 0 20px; /* May want to revisit this */
}

.login * {
	margin: 0;
	padding: 0;
}

.login .password-input-wrapper {
	position: relative;
}

.login .input.password-input {
	margin: 0;
}

.login .input::-ms-clear {
	display: none;
}

.login .pw-weak {
	margin-bottom: 15px;
}

.login .button.button-secondary {
	background: transparent;
	border: 1px solid transparent;
	box-shadow: none;
	font-size: 14px;
	line-height: 2;
	height: auto;
	margin: 0;
	padding: 5px 9px;
	position: absolute;
	right: 0;
	top: 0;
}

.login .button.button-secondary:hover {
	background: transparent;
}

.login .button.button-secondary:focus {
	background: transparent;
	border-color: #5b9dd9;
	box-shadow: 0 0 3px rgba(0, 115, 170, 0.8);
}

.login .button.button-secondary:active {
	background: transparent;
	box-shadow: none;
	transform: none;
}

.login form {
	margin-top: 20px;
	margin-left: 0;
	padding: 26px 24px 46px;
	font-weight: 400;
	overflow: hidden;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
}

.login form .forgetmenot {
	font-weight: 400;
	float: left;
	margin-bottom: 0;
}

.login .button-primary {
	float: right;
}

#login form p {
	margin-bottom: 0;
}

#login form p.submit {
	margin: 0;
	padding: 0;
}

.login label {
	font-size: 14px;
}

.login form .forgetmenot label {
	font-size: 12px;
	line-height: 19px;
}

.login h1 {
	text-align: center;
}

.login h1 a {
	background-image: url(../images/w-logo-blue.png?ver=20131202);
	background-image: none, url(../images/wordpress-logo.svg?ver=20131107);
	background-size: 84px;
	background-position: center top;
	background-repeat: no-repeat;
	color: #444;
	height: 84px;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.3em;
	margin: 0 auto 25px;
	padding: 0;
	text-decoration: none;
	width: 84px;
	text-indent: -9999px;
	outline: none;
	overflow: hidden;
	display: block;
}

#login {
	width: 320px;
	padding: 8% 0 0;
	margin: auto;
}

.login #nav,
.login #backtoblog {
	font-size: 13px;
	padding: 0 24px 0;
}

.login #nav {
	margin: 24px 0 0 0;
}

#backtoblog {
	margin: 16px 0;
}

.login #nav a,
.login #backtoblog a {
	text-decoration: none;
	color: #555d66;
}

.login #nav a:hover,
.login #backtoblog a:hover,
.login h1 a:hover {
	color: #00a0d2;
}

.login #nav a:focus,
.login #backtoblog a:focus,
.login h1 a:focus {
	color: #124964;
}

.login .privacy-policy-page-link {
	text-align: center;
	width: 100%;
	margin: 5em 0 2em;
}

.login form .input,
.login input[type="text"] {
	font-size: 24px;
	width: 100%;
	padding: 5px;
	margin: 2px 6px 16px 0;
}

.login-action-rp form .input,
.login-action-rp input[type="text"] {
	padding: 5px 45px 5px 5px;
}

.login form .input,
.login input[type="text"],
.login form input[type="checkbox"] {
	background: #fbfbfb;
}

.ie7 .login form .input,
.ie8 .login form .input {
	font-family: sans-serif;
}

.login-action-rp input[type="text"] {
	box-shadow: none;
	margin: 0;
}

.login #pass-strength-result {
	font-weight: 600;
	margin: -1px 5px 16px 0;
	padding: 6px 5px;
	text-align: center;
	width: 100%;
}

body.interim-login {
	height: auto;
}

.interim-login #login {
	padding: 0;
	margin: 5px auto 20px;
}

.interim-login.login h1 a {
	width: auto;
}

.interim-login #login_error,
.interim-login.login .message {
	margin: 0 0 16px;
}

.interim-login.login form {
	margin: 0;
}

@-ms-viewport {
	width: device-width;
}

@media screen and (max-height: 550px) {
	#login {
		padding: 20px 0;
	}
}

@media screen and (max-width: 782px) {
	.interim-login input[type=checkbox] {
		height: 16px;
		width: 16px;
	}

	.interim-login input[type=checkbox]:checked:before {
		width: 16px;
		font: normal 21px/1 dashicons;
		margin: -3px 0 0 -4px;
	}
}
