div#media-upload-header {
	background-color: #eaf3fa;
	margin: 0;
	padding: 1em 0.5em 0.5em 0.5em;
	font-weight: bold;
}

ul#media-upload-tabs {
	display:inline;
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 0.9em;
}

ul#media-upload-tabs li {
	display:inline;
}

ul#media-upload-tabs li:after {
	content: " | ";
}

ul#media-upload-tabs li.last:after {
	content: "";
}



div#media-upload-error {
	margin: 1em;
	font-weight: bold;
	color: #f00;
}

form.media-upload-form {
	margin: 1em;
}

.media-upload-form label, .media-upload-form legend {
	display:block;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin: 0 0 0.5em 0;
}

.media-upload-form label.form-help, td.help {
	color: #9a9a9a;
	font-style: italic;
	font-weight: normal;
}

.media-upload-form p {
	margin: 0 1em 1em 0;
}

.media-upload-form input[type="text"], .media-upload-form input[type="file"] {
	width: 100%;
}

.media-upload-form fieldset {
	width: 100%;
	border: none;
	text-align: justify;
	margin: 0 0 1em 0;
	padding: 0;
}

.media-upload-form button.button-ok {
	float: right;
	background-color: #ebebeb;
	color: #1f4569;
	border: none;
	padding: 0.5em;
}

.media-upload-form a.button-cancel {
	float: right;
	background-color: #fff;
	color: #9a9a9a;
	font-size: 0.8em;
	text-decoration: underline;
	margin: 0.5em 1em;
}

/* specific to the image upload form */
.align .field label {
	display: inline;
	padding: 0 0 0 28px;
	margin: 0 0;
}
.align .field input {
	margin-left: 15px;
}

.image-align-none-label {
	background: url(../images/align-none.png) no-repeat center left;
}

.image-align-left-label {
	background: url(../images/align-left.png) no-repeat center left;
}

.image-align-center-label {
	background: url(../images/align-center.png) no-repeat center left;
}

.image-align-right-label {
	background: url(../images/align-right.png) no-repeat center left;
}

#flash-upload-ui, .insert-gallery {
	display: none;
}

tr.image-size label {
	display: inline;
	margin: 0 1em 0 0;
}
tr.image-size td.field {
	text-align: center;
}
.pinkynail {
	max-width: 40px;
	max-height: 40px;
}

#media-items {
	border: 1px solid #c0c0c0;
	border-bottom: none;
	width: 623px;
}
.media-item {
	border-bottom: 1px solid #d0d0d0;
	width: 623px;
	position: relative;
}
span.filename {
	position: absolute;
	left: 46px;
	top: 0px;
	line-height: 36px;
	z-index: 2;
}
.progress {
	width: 623px;
	height: 36px;
}
.bar {
	width: 0px;
	height: 36px;
	background-color: #e8e8e8;
	border-right: 3px solid #99d;
}
.media-item .thumbnail {
	max-width: 128px;
	max-height: 128px;
}
.media-item .pinkynail {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 32px;
	max-width: 40px;
}
.describe {
	display: none;
	border-top: 1px solid #d0d0d0;
	padding: 5px;
	width: 100%;
}
.startopen .describe {
	display: block;
}
.required abbr {
	color: red;
	text-decoration: none;
	border: none;
}

.describe label {
	display: inline;
}
.describe td {
	vertical-align: middle;
}
.describe td.A1 {
	width: 132px;
}
.describe td.savesend {
	text-align: right;
}
.describe input[type="text"], .describe textarea {
	width: 460px;
}
a.delete {
	display: block;
	text-align: center;
	width: 100%;
	color: #246;
}
.describe-toggle-on, .describe-toggle-off {
	display: block;
	line-height: 36px;
	z-index: 2;
	position: absolute;
	top: 0px;
	right: 20px;
}
.describe-toggle-off {
	display: none;
}
.clickmask {
	background: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	border: none;
	z-index: 10;
}
tr.submit input {
	width: 128px;
}
tr.align td.field {
	text-align: center;
}

.hidden {
	height: 0px;
	width: 0px;
	overflow: hidden;
	border: none;
}