div#media-upload-header {
	margin: 0;
	padding: 0 5px;
	font-weight: bold;
	position: relative;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	height: 2.5em;
}

body#media-upload ul#sidemenu {
	font-weight: normal;
	margin: 0 5px;
	position: absolute;
	left: 0px;
	bottom: -1px;
}

div#media-upload-error {
	margin: 1em;
	font-weight: bold;
}

form {
	margin: 1em;
}

#search-filter {
	text-align: right;
}

th {
	position: relative;
}

.media-upload-form label.form-help, td.help {
	font-family: "Lucida Grande", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
}

.media-upload-form p.help {
	margin: 0;
	padding: 0;
}

.media-upload-form fieldset {
	width: 100%;
	border: none;
	text-align: justify;
	margin: 0 0 1em 0;
	padding: 0;
}

/* specific to the image upload form */


.image-align-none-label {
	background: url(../images/align-none.png) no-repeat center left;
}

.image-align-left-label {
	background: url(../images/align-left.png) no-repeat center left;
}

.image-align-center-label {
	background: url(../images/align-center.png) no-repeat center left;
}

.image-align-right-label {
	background: url(../images/align-right.png) no-repeat center left;
}

tr.image-size td {
	width: 460px;
}

tr.image-size div.image-size-item {
	float: left;
	width: 25%;
	margin: 0;
}

#library-form .progress,
#gallery-form .progress,
#flash-upload-ui,
.insert-gallery,
.describe.startopen,
.describe.startclosed {
	display: none;
}

.media-item .thumbnail {
	max-width: 128px;
	max-height: 128px;
}

thead.media-item-info tr {
	background-color: transparent;
}

thead.media-item-info th,
thead.media-item-info td {
	border: none;
	margin: 0;
}

.form-table thead.media-item-info {
	border: 8px solid #fff;
}

abbr.required {
	text-decoration: none;
	border: none;
}

.describe label {
	display: inline;
}

.describe td {
	vertical-align: middle;
	padding: 0 5px 8px 0;
}

.describe td.A1 {
	width: 132px;
}

.describe input[type="text"],
.describe textarea {
	width: 460px;
	border-width: 1px;
	border-style: solid;
}

.describe-toggle-on,
.describe-toggle-off {
	display: block;
	line-height: 36px;
	float: right;
	margin-right: 20px;
}

.describe-toggle-off {
	display: none;
}

.hidden {
	height: 0;
	width: 0;
	overflow: hidden;
	border: none;
}

/* Specific to Uploader */

#media-upload p.ml-submit {
	padding: 1em 0;
}

#media-upload p.help,
#media-upload label.help {
	font-family: "Lucida Grande", "Bitstream Vera Sans", Verdana, Arial, sans-serif;
	font-style: italic;
	font-weight: normal;
}

#media-upload tr.image-size td.field {
	text-align: center;
}

#media-upload #media-items {
	border-width: 1px;
	border-style: solid;
	border-bottom: none;
	width: 623px;
}

#media-upload .media-item {
	border-bottom-width: 1px;
	border-bottom-style: solid;
	min-height: 36px;
	width: 100%;
}

#media-upload .ui-sortable .media-item {
	cursor: move;
}

.filename {
	line-height: 36px;
	padding: 0 10px;
	overflow: hidden;
}

#media-upload .describe {
	padding: 5px;
	width: 100%;
	clear: both;
	cursor: default;
}

#media-upload .slidetoggle {
	border-top-width: 1px;
	border-top-style: solid;
}

#media-upload .describe th.label {
	padding-top: .2em;
	text-align: left;
	min-width: 120px;
}

#media-upload tr.align td.field {
	text-align: center;
}

#media-upload tr.image-size {
	margin-bottom: 1em;
	height: 3em;
}

#media-upload #filter {
	width: 623px;
}

#media-upload #filter .subsubsub {
	margin: 8px 0;
}

#filter .tablenav select {
	border-style: solid;
	border-width: 1px;
	padding: 2px;
	vertical-align: top;
	width: auto;
}

#media-upload .del-attachment {
	display: none;
	margin: 5px 0;
}

.menu_order {
	float: right;
	font-size: 11px;
	margin: 10px 10px 0;
}

.menu_order_input {
	border: 1px solid #ddd;
	font-size: 10px;
	padding: 1px;
	width: 23px;
}

.ui-sortable-helper {
	background-color: #fff;
	border: 1px solid #aaa;
	opacity: 0.6;
	filter: alpha(opacity=60);
}

#media-upload th.order-head {
	width: 20%;
	text-align: center;
}

#media-upload th.actions-head {
	width: 25%;
	text-align: center;
}

#media-upload a.wp-post-thumbnail{
	display: block;
	line-height: 36px;
	float: right;
	margin-right: 20px;
}

#media-upload .widefat {
	width: 626px;
	border-style: solid solid none;
}

.sorthelper {
	height: 37px;
	width: 623px;
	display: block;
}

#gallery-settings th.label {
	width: 160px;
}

#gallery-settings #basic th.label {
	padding: 5px 5px 5px 0;
}

#gallery-settings .title {
	clear: both;
	padding: 0 0 3px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 1.6em;
	border-bottom-color: #DADADA;
	color: #5A5A5A;
}

h3.media-title  {
	color: #5A5A5A;
	font-family: Georgia,"Times New Roman",Times,serif;
	font-size: 1.6em;
	font-weight: normal;
}

#gallery-settings .describe td {
	vertical-align: middle;
	height: 3.5em;
}

#gallery-settings .describe th.label {
	padding-top: .5em;
	text-align: left;
}

#gallery-settings .describe {
	padding: 5px;
	width: 615px;
	clear: both;
	cursor: default;
}

#gallery-settings .describe select {
	width: 15em;
	border: 1px solid #dfdfdf;
}

#gallery-settings label,
#gallery-settings legend {
	font-size: 13px;
	color: #464646;
	margin-right: 15px;
}

#gallery-settings .align .field label {
	margin: 0 1.5em 0 0;
}

#gallery-settings p.ml-submit {
	border-top: 1px solid #dfdfdf;
}

#gallery-settings select#columns {
	width: 6em;
}

#sort-buttons {
	font-size: 0.8em;
	margin: 3px 25px -8px 0;
	text-align: right;
	max-width: 625px;
}

#sort-buttons a {
	text-decoration: none;
}

#sort-buttons #asc,
#sort-buttons #showall {
	padding-left: 5px;
}

#sort-buttons span {
	margin-right: 25px;
}
