div#media-upload-header {
	background-color: #eaf3fa;
	margin: none;
	padding: 1em 0.5em 0.5em 0.5em;
	font-weight: bold;
}

ul#media-upload-tabs {
	display:inline;
	position: absolute;
	right: 1em;
	top: 1em;
	font-size: 0.9em;
}

ul#media-upload-tabs li {
	display:inline;
}

ul#media-upload-tabs li:after {
	content: " | ";
}

ul#media-upload-tabs li.last:after {
	content: "";
}



div#media-upload-error {
	margin: 1em;
	font-weight: bold;
	color: #f00;
}

form.media-upload-form {
	margin: 1em;
}

.media-upload-form label, .media-upload-form legend {
	display:block;
	font-weight: bold;
	margin-bottom: 0.5em;
	margin: 0 0 0.5em 0;
}

.media-upload-form label.form-help {
	color: #9a9a9a;
	font-style: italic;
	font-weight: normal;
}

.media-upload-form p {
	margin: 0 1em 1em 0;
}

.media-upload-form input[type="text"], .media-upload-form input[type="file"] {
	width: 100%;
}

.media-upload-form fieldset {
	width: 100%;
	border: none;
	text-align: justify;
	margin: 0 0 1em 0;
	padding: 0;
}

.media-upload-form button.button-ok {
	float: right;
	background-color: #ebebeb;
	color: #1f4569;
	border: none;
	padding: 0.5em;
}

.media-upload-form a.button-cancel {
	float: right;
	background-color: #fff;
	color: #9a9a9a;
	font-size: 0.8em;
	text-decoration: underline;
	margin: 0.5em 1em;
}

/* specific to the image upload form */
.media-upload-form fieldset#image-align label {
	display: inline;
	padding: 0 0 0 28px;
	margin: 0 0;
}

#image-align-none-label {
	background: url(../images/align-none.png) no-repeat center left;
}

#image-align-left-label {
	background: url(../images/align-left.png) no-repeat center left;
}

#image-align-center-label {
	background: url(../images/align-center.png) no-repeat center left;
}

#image-align-right-label {
	background: url(../images/align-right.png) no-repeat center left;
}

.pinkynail {
	max-width: 40px;
	max-height: 40px;
}

#multimedia-items {
	border: 1px solid #c0c0c0;
	border-bottom: none;
	width: 623px;
}
.multimedia-item {
	border-bottom: 1px solid #d0d0d0;
	width: 623px;
	position: relative;
}
span.filename {
	position: absolute;
	left: 46px;
	top: 0px;
	line-height: 36px;
	z-index: 2;
}
.progress {
	width: 623px;
	height: 36px;
}
.bar {
	width: 0px;
	height: 36px;
	background-color: #e8e8e8;
	border-right: 3px solid #99d;
}
.multimedia-item .thumbnail {
	max-width: 128px;
	max-height: 128px;
}
.multimedia-item .pinkynail {
	position: absolute;
	top: 2px;
	left: 2px;
	height: 32px;
	max-width: 40px;
}
.describe {
	display: none;
	border-top: 1px solid #d0d0d0;
	padding: 5px;
}
.describe fieldset {
	width: 470px;
	float: right;
}
.describe img {
	float: left;
}
.describe input[type="text"], .describe textarea {
	width: 450px;
}
.describe label {
	padding-right: 1em;
}
p.delete {
	clear: both;
	margin: 0;
}
p.delete a {
	padding: 4px;
}
.describe-toggle-on, .describe-toggle-off {
	line-height: 36px;
	z-index: 2;
	position: absolute;
	top: 0px;
	right: 20px;
}
.describe-toggle-off {
	display: none;
}
.clickmask {
	background: transparent;
	position: absolute;
	top: 0px;
	left: 0px;
	cursor: pointer;
	border: none;
	z-index: 10;
}
