body#media-upload ul#sidemenu {
	left: auto;
	right: 0;
}
#search-filter {
	text-align: left;
}
/* specific to the image upload form */
.align .field label {
	padding: 0 28px 0 0;
	margin: 0 0 0 1em;
}
.image-align-none-label, .image-align-left-label, .image-align-center-label, .image-align-right-label {
	background-position: center right;
}
tr.image-size div.image-size-item {
	float: right;
}
tr.image-size label {
	margin: 0 1em 0 0;
}
.filename.original {
	float: right;
}
.crunching {
	text-align: left;
	margin-right: 0;
	margin-left: 5px;
}
button.dismiss {
	right: auto;
	left: 5px;
}
.file-error {
	margin: 0 50px 5px 0;
}
.progress {
	left: auto;
	right: 0;
}
.describe td {
	padding: 0 0 0 5px;
}
.bar {
	border-right-width: 0;
	border-left-width: 3px;
	border-right-style: none;
	border-left-style: solid;
}

/* Specific to Uploader */
#media-upload .media-upload-form p {
	margin: 0 0 1em 1em;
}
.filename {
	float: right;
	margin-left: 0;
	margin-right: 10px;
}
#media-upload .describe th.label {
	text-align: right;
}
.menu_order {
	float: left;
}
.media-upload-form label.form-help, td.help, #media-upload p.help, #media-upload label.help {
	font-family: Tahoma, Arial;
}
#gallery-settings #basic th.label {
	padding: 5px 0 5px 5px;
}
#gallery-settings .title, h3.media-title {
	font-family: Tahoma, Arial;
}
#gallery-settings .describe th.label {
	text-align: right;
}
#gallery-settings label,
#gallery-settings legend {
	margin-right: 0;
	margin-left: 15px;
}
#gallery-settings .align .field label {
	margin: 0 0 0 1.5em;
}
