body#media-upload ul#sidemenu {
	left: auto;
	right: 0;
}
#search-filter {
	text-align: left;
}
/* specific to the image upload form */
.align .field label {
	padding: 0 23px 0 0;
	margin: 0 3px 0 1em;
}
.image-align-none-label, .image-align-left-label, .image-align-center-label, .image-align-right-label {
	background-position: center right;
}
tr.image-size label {
	margin: 0 5px 0 0;
}
.file-error {
	margin: 0 50px 5px 0;
}
.progress {
	left: auto;
	right: 0;
}
.describe td {
	padding: 0 0 0 5px;
}

/* Specific to Uploader */
#media-upload .describe th.label {
	text-align: right;
}
.menu_order {
	float: left;
}
.media-upload-form label.form-help, td.help, #media-upload p.help, #media-upload label.help {
	font-family: Tahoma, Arial;
}
#gallery-settings #basic th.label {
	padding: 5px 0 5px 5px;
}
#gallery-settings .title, h3.media-title {
	font-family: Tahoma, Arial;
}
#gallery-settings .describe th.label {
	text-align: right;
}
#gallery-settings label,
#gallery-settings legend {
	margin-right: 0;
	margin-left: 15px;
}
#gallery-settings .align .field label {
	margin: 0 3px 0 1em;
}
#sort-buttons {
	margin: 3px 0 -8px 25px;
	text-align: left;
}

#sort-buttons #asc,
#sort-buttons #showall {
	padding-left: 0;
	padding-right: 5px;
}

#sort-buttons span {
	margin-right: 0;
	margin-left: 25px;
}
