/* Dashboard: MS Specific Data */
#dashboard_right_now p.musub {
	margin-top: 12px;
	border-top: 1px solid #ececec;
	padding-left: 16px;
	position: static;
}

.rtl #dashboard_right_now p.musub {
	padding-left: 0;	
	padding-right: 16px;
}

#dashboard_right_now td.b a.musublink {
	font-size: 16px;
}

#dashboard_right_now div.musubtable {
	border-top: none;
}

#dashboard_right_now div.musubtable .t {
	white-space: normal;
}

/* Background Color for Site Status */
.wp-list-table .site-deleted {
	background: #ff8573;
}
.wp-list-table .site-spammed {
	background: #faafaa;
}
.wp-list-table .site-archived {
	background: #ffebe8;
}
.wp-list-table .site-mature {
	background: #fecac2;
}
