#nav-menus-frame {
	margin-right: 300px;
	margin-left: 0;
}

#wpbody-content #menu-settings-column {
	margin-right: -300px;
	margin-left: 0;
	float: right;
}

#menu-settings-column .handlediv {
	background-position: 100% -110px;
}

/* Menu Container */
#menu-management-liquid {
	float: right;
}
#menu-management {
	margin-left: 20px;
	margin-right: 0;
}
	}

	#nav-menu-header {
		background-position: right top;
	}

	#post-body {
		padding:0 10px 10px 0;
	}

	.post-body-plain {
		padding: 10px 0 0 10px;
	}

/* Menu Tabs */

	#menu-management .nav-tabs-arrow-left {
		right: 0;
		left:auto;
	}
	#menu-management .nav-tabs-arrow-right {
		left: 0;
		right: auto;
		text-align: left;
	}


#menu-management .nav-tabs {
	padding-right: 30px;
	padding-left: 10px;
}
.js #menu-management .nav-tabs {
	float: right;
	margin-right: 0px;
	margin-left: -400px;
}

#select-nav-menu-container {
	padding: 0 10px 3px 10px;
}

/* Menu Toolbar */
#menu-management #major-publishing-actions #delete-action {
	float: left;
	margin-left: 10px;
	margin-right: 0;
}

#wpbody .open-label span {
	padding-left: 10px;
	padding-right: 0;
}

	.js .input-with-default-title {
		font-style: normal;
	}

/* Add Menu Item Boxes */
.postbox .howto input {
	float: left;
}

#side-sortables .potential-menu-item {
	margin-right: 0;
}
#side-sortables .potential-menu-item ul {
	margin-right: 0;
	
}

/* Button Primary Actions */
#cancel-save { margin-left:0; margin-right: 20px; }

/* Button Secondary Actions */
.list-controls { float: right; }
.add-to-menu {
	float: left;
}

/* Custom Links */
#add-custom-link label span { float: right; padding-left: 5px; padding-right:0;}
.howto span { float: right; }

/* Listings */
.list li .menu-item-title input { margin-left: 3px; margin-right: 0; }

/* Nav Menu */
.menu-item-handle {
	background-position: right top;
	padding-right: 10px;
	padding-left: 0;
}
.menu-item-handle .item-title {
	margin-left:13em;
	margin-right:0;
}

/* WARNING: The factor of 30px is hardcoded into the nav-menus javascript. */
.menu-item-depth-0 { margin-right: 0px; margin-left:0;}
.menu-item-depth-1 { margin-right: 30px; margin-left:0;}
.menu-item-depth-2 { margin-right: 60px; margin-left:0;}
.menu-item-depth-3 { margin-right: 90px; margin-left:0;}
.menu-item-depth-4 { margin-right: 120px; margin-left:0;}
.menu-item-depth-5 { margin-right: 150px; margin-left:0;}
.menu-item-depth-6 { margin-right: 180px; margin-left:0;}
.menu-item-depth-7 { margin-right: 210px; margin-left:0;}
.menu-item-depth-8 { margin-right: 240px; margin-left:0;}
.menu-item-depth-9 { margin-right: 270px; margin-left:0;}
.menu-item-depth-10 { margin-right: 300px; margin-left:0;}
.menu-item-depth-11 { margin-right: 330px; margin-left:0;}

.menu-item-depth-0 .menu-item-transport { margin-right: 0px; margin-left:0;}
.menu-item-depth-1 .menu-item-transport { margin-right: -30px; margin-left:0;}
.menu-item-depth-2 .menu-item-transport { margin-right: -60px; margin-left:0;}
.menu-item-depth-3 .menu-item-transport { margin-right: -90px; margin-left:0;}
.menu-item-depth-4 .menu-item-transport { margin-right: -120px; margin-left:0;}
.menu-item-depth-5 .menu-item-transport { margin-right: -150px; margin-left:0;}
.menu-item-depth-6 .menu-item-transport { margin-right: -180px; margin-left:0;}
.menu-item-depth-7 .menu-item-transport { margin-right: -210px; margin-left:0;}
.menu-item-depth-8 .menu-item-transport { margin-right: -240px; margin-left:0;}
.menu-item-depth-9 .menu-item-transport { margin-right: -270px; margin-left:0;}
.menu-item-depth-10 .menu-item-transport { margin-right: -300px; margin-left:0;}
.menu-item-depth-11 .menu-item-transport { margin-right: -330px; margin-left:0;}

/* Menu item controls */
.item-type { padding-right:0; padding-left: 10px; }
.item-controls { right:auto; left: 20px; }
.item-controls .item-order { padding-left: 10px; padding-right:0;}

.item-edit {
	background-position: 100% -105px;
	left: -20px;
	right: auto;
}

/* Menu editing */
.menu-item-settings {
	padding: 10px 10px 10px 0;
}

	.link-to-original a {
		padding-right: 4px;
		padding-left: 0;
	}

.menu-item-settings .description-thin,
.menu-item-settings .description-wide {
	margin-left: 10px;
	margin-right: 0;
	float: right;
}
.save-menu-item {
	padding-right: 10px;
	padding-left: 0;
	float: left;
}

.major-publishing-actions .publishing-action {
	text-align: left;
	float: left;
}
.major-publishing-actions .delete-action {
	text-align: right;
	float: left;
	padding-left: 15px;
	padding-right: 0;
}