/**
 * WordPress Administration Custom Navigation
 * Interface CSS
 *
 * @version 2.0.0
 *
 * @package WordPress
 * @subpackage Administration
 */

.nav-edit-wrap {
	clear:both;
}

#menu-settings-column {
	display:block;
	float:left;
	width:281px;
}

#menu-settings-column .inside {
	padding:0 10px;
}

/* Menu Container */
#menu-management { 
	float:left;
	margin-left:15px;
}
	#menu-management .menu-edit {
		background-color:#fff;
		border-color: #dfdfdf;
		border-width: 1px;
		border-style: solid;
		margin-bottom: 20px;
		padding:0 10px 10px;
		-moz-border-radius-bottomleft: 6px;
		-webkit-border-bottom-left-radius: 6px;
		-khtml-border-bottom-left-radius: 6px;
		border-bottom-left-radius: 6px;
		-moz-border-radius-bottomright: 6px;
		-webkit-border-bottom-right-radius: 6px;
		-khtml-border-bottom-right-radius: 6px;
		border-bottom-right-radius: 6px;
		-moz-border-radius-topright: 6px;
		-webkit-border-top-right-radius: 6px;
		-khtml-border-top-right-radius: 6px;
		border-top-right-radius: 6px;
	}

	#menu-management .menu-add-new abbr {
		font-weight:bold;
	}

	#menu-management .menu-tabs {
		background-color:#fff;
		border-color:#dfdfdf;
		border-bottom-color:#fff;
	}
	
	#menu-management .menu-tab-inactive {
		background-color:#fafafa;
		border-bottom-color:#fafafa;
	}

#menu-management .inside { padding: 0 10px; }

/* Button Primary Actions */
#menu-container .submit { margin: 0px 0px 10px; padding: 0px; }

.submitdelete { font-size: 11px; }
#cancel-save { color: #ff0000; text-decoration: underline; font-size: 11px; margin-left: 20px; margin-top: 5px; }
#cancel-save:hover { background-color: #FF0000; color: #fff; }

/* Button Secondary Actions */
.list-controls { float: left; }
.add-to-menu { 
	float: right;
}

form.processing .add-to-menu {
	background: url("../images/wpspin_light.gif") no-repeat top center;
	display:block;
	height:20px;
	overflow:hidden;
	text-align:left;
	text-indent:-999em;
	width:20px;
}

.button-controls { margin: 10px 0; }
.show-all, .hide-all { cursor: pointer; }
.hide-all { display: none; }

/* Create Menu */
#create-menu-name { width: 159px; }
#manage-menu .inside { padding: 0px 0px; }

/* Custom Links */
#available-links dt { display: block; }
#add-custom-link .howto { font-size: 11px; }
#add-custom-link label span { display: block; float: left; margin-top: 5px; padding-right: 5px; }
.menu-item-textbox { float: right; width: 220px; }
.howto span { margin-top: 4px; display: block; float: left; }

/* Menu item types */
.quick-search { width: 190px; }
.list-wrap { display: none; clear: both; margin-bottom: 10px; }
.list-container { max-height: 200px; overflow-y: auto; padding: 10px 10px 5px; border: 1px solid #DFDFDF; -moz-border-radius: 4px; }
.postbox p.submit { margin-bottom: 0; }

/* Listings */
.list li { display: none; margin: 0; margin-bottom: 5px; }

.list li .menu-item-title { cursor: pointer; display: block; }
.list li .menu-item-title input { margin-right: 3px; margin-top: -3px; }

.list li ul li .menu-item-title  { margin-left: 14px; }
.list li ul li ul li .menu-item-title  { margin-left: 28px; }
.list li ul li ul li ul li .menu-item-title  { margin-left: 42px; }
.list li ul li ul li ul li ul li .menu-item-title  { margin-left: 56px; }
.list li ul li ul li ul li ul li ul li .menu-item-title  { margin-left: 70px; }
.list li ul li ul li ul li ul li ul li ul li .menu-item-title  { margin-left: 84px; }
.list li ul li ul li ul li ul li ul li ul li ul li .menu-item-title  { margin-left: 98px; }
.list li ul li ul li ul li ul li ul li ul li ul li ul li .menu-item-title  { margin-left: 112px; }

/* Nav Menu */
#menu-container .inside { padding-bottom: 10px; }

.menu {
	padding-top:1em;
}

.menu ul { width: 100%; }
.menu ul.sub-menu {
}
.menu li { 
	margin: 0;
}
.menu li dl {
	clear:both;
	line-height:1.5em;
	position:relative;
}
.menu li dl dt {
	-webkit-border-radius: 6px; 
	border-radius: 6px; 
	-moz-border-radius: 6px; 
	border: 1px solid #E6E6E6; 
	clear:both;
	cursor: move;
	position: relative; 
	padding-left: 10px; 
	background-color: #f1f1f1; 
	height: 35px; 
	line-height: 35px;
}
.menu li dl dt:hover {
}
.menu li.deleting dl dt {
	background-color:#faa;
}

.menu li .item-title { 
	display:block;
	height:1em;
	margin-right:18em;
}

.menu li div.sortable-placeholder {
	background: #f5f5f5;
	border: 1px dashed #bbb;
	margin: 10px 0px;
	padding-top:40px;
}

.menu li dl.sortable-placeholder {
	background: #f5f5f5;
	padding-bottom:40px;
}

.menu li ul li { margin-left: 20px; opacity: .7; }
.menu li ul li ul li { opacity: .9; }
.menu li ul li ul li ul li { opacity: .9; }
.menu li ul li ul li ul li ul li { opacity: .95; }

/* Drag and Drop */
.dropzone { height: 7px; margin: 3px 0 3px 0; }
.ui-draggable-dragging  { width: 600px; }

/* Menu item controls */
.item-type { text-transform: uppercase; font-size: 11px; color: #999999; padding-right: 10px; }
.item-controls { font-size: 11px; position: absolute; right: 15px; top: -1px; }
.item-controls a { text-decoration: none; }
.item-controls a:hover { cursor: pointer; }
.item-controls .item-order a {
	font-weight:bold;
}

body.js .item-order {
	display:none;
}

.item-controls .menu-item-delete:hover { color: #ff0000; }

/* Menu editing */
.menu-item-edit-active {
	display:block;
}

.menu-item-edit-inactive {
	display:none;
}

.add-menu-item-pagelinks {
	margin:.5em auto;
	text-align:center;
}

#cancel-save { cursor: pointer; }
#cancel-save:hover { color: #fff !important; }
#update-menu-item { color: #fff !important; }
#update-menu-item:hover,
#update-menu-item:active,
#update-menu-item:focus { color: #eaf2fa !important; border-color: #13455b !important; }

/* Clearfix */
.button-controls:after, #menu-item-url-wrap:after, #menu-item-name-wrap:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.button-controls, #menu-item-url-wrap, #menu-item-name-wrap { display: block; }
