body {
	font: 13px "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	color: #333;
	margin: 0;
	padding: 0;
}

img {
	border: none;
}

/* Header */
#wphead {
	border-top: none;
	padding-top: 8px;
	background: #444 !important;
}

.button,
#poststuff #edButtonPreview,
#poststuff #edButtonHTML {
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	padding: 3px 5px;
	font-size: 12px;
	line-height: 1.5em;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 3px;
	-khtml-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	cursor: pointer;
	margin-left: 5px;
	text-decoration: none;
}

.howto {
	font-size: 11px;
	font-style: italic;
	display: block;
}

input.text {
	border: none;
	outline-color: -moz-use-text-color;
	outline-style: none;
	outline-width: medium;
	padding: 0;
	width: 100%;
	border-style: solid;
	color: #333;
}

/* Editor/Main Column */
div#poststuff {
	padding-left: 10px;
	margin-top: 10px;
}

div.zerosize {
	border: 0 none;
	height: 0;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 0;
}

#poststuff #edButtonPreview.active,
#poststuff #edButtonHTML.active {
	display: none;
}

.posting {
	margin-right: 228px;
}

#side-info-column {
	float: right;
	width: 218px;
	position: relative;
	margin-right: 10px;
}

#side-info-column .sleeve {
	padding-left: 10px;
}

#poststuff .inside {
	font-size: 11px;
	margin: 0 12px 12px;
}

#post_title {
	width: 99%;
}

.titlewrap {
	border-style: solid;
	border-width: 1px;
	padding: 2px 3px;
	border-color: #ccc;
}
.titlewrap input {
	font-size: 1.2em;
}

#poststuff h2, #poststuff h3 {
	font-size: 14px;
	font-weight: bold;
	padding: 7px;
	margin: 0 0 10px;
	background-color: #eaf3fa;
}

#poststuff .stuffbox { 
	border: 1px solid white;
	border-color: #EBEBEB #ccc #ccc #EBEBEB;
	padding: 2px;
	margin-bottom: 10px;
}

.editor-container {
	border-width: 1px;
	border-color: #ccc;
	border-style: solid;
	margin-bottom: 1em;
	margin-top: -10px;
}

.postdivrich {
	position: relative;
	margin-top: 10px;
}

#actions {
	clear: both;
	position: absolute;
	right: 4px;
	top: 6px;
	margin: 0;
}

#actions li {
	float: left;
	list-style: none;
}

/* Photo Styles */
.photolist {
	margin-top: -10px;
}

#photo_saving {
	margin: 0 8px 8px;
	vertical-align: middle;
}

#img_container {
	background-color: #fff;
	height: 101px;
	width: 100%;
}

#extra_fields {
	margin-top: 10px;
	position: relative;
}

#extra_fields .titlewrap {
	padding: 0;
	overflow: auto;
	height: 100px;
}

#img_container {
	position: relative;
}

#img_container a {
	display: block;
	width: 71px;
	height: 71px;
	float: left;
	overflow: hidden;
	vertical-align: center;
}

#img_container img {
	width: 71px;
	height: 71px;
	border: none;
	background-color: #f4f4f4;
	cursor: pointer;
}

#img_container a,
#img_container a:link,
#img_container a:visited {
	border: 1px solid #ccc;
	display: block;
	position: relative;
}

#img_container a:hover,
#img_container a:active {
	border-color: #000;
	z-index: 1000;
	border-width: 2px;
	margin: -1px;
}

/* Video */
#embed-code {
	width: 100%;
	border: 0;
	height: 98px;
}

/* Submit Column */
#viewsite {
	padding: 0;
	margin: 0;
}

#viewsite .button {
	width: 196px;
	margin: 0 0 10px 0;
	display: block;
}

.wp-hidden-children .wp-hidden-child {
	display: none;
}

#category-adder {
	padding: 4px 0;
}

#category-adder h4 {
	margin: 0 0 8px;
}

#category-add input {
	width: 94%;	
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 13px;
	margin: 1px;
	padding: 3px;
}

#category-add select {
	width: 70%;
	-x-system-font: none;
	border-style: solid;
	border-width: 1px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Tahoma, Verdana, sans-serif;
	font-size: 12px;
	height: 2em;
	line-height: 20px;
	padding: 2px;
	margin: 1px;
	vertical-align: top;
}

#category-add input#category-add-sumbit {
	width: auto;
}

#categorydiv {
	padding: 0.5em 0.9em;
}

/* Categories */
#categorydiv ul, #linkcategorydiv ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#categorydiv ul.categorychecklist ul {
	margin-left: 18px;
}

#categorydiv div.ui-tabs-panel {
	height: 150px;
	overflow: auto;
	padding: 0.5em 0.9em;
}

ul.categorychecklist li {
	margin: 0;
	padding: 0;
	line-height: 19px;
}

/* Tags */
#tagsdiv #newtag {
	padding: 3px;
	margin-right: 5px;
	width: 16em;
}

#jaxtag {
	clear: both;
	margin: 0;
}

#tagchecklist {
	padding-left: 1em;
	margin-bottom: 1em;
	font-size: 12px;
	overflow: auto;
}

#tagchecklist strong {
	position: absolute;
	font-size: .75em;
}

#tagchecklist span {
	margin-right: .5em;
	margin-left: 10px;
	display: block;
	float: left;
	font-size: 11px;
	line-height: 1.8em;
	white-space: nowrap;
	cursor: default;
}

#tagchecklist span a {
	margin: 6px 0 0 -9px;
	cursor: pointer;
	width: 10px;
	height: 10px;
	display: block;
	float: left;
	text-indent: -9999px;
	overflow: hidden;
	position: absolute;
}

/* Submit */
.submitbox {
	margin-top: -10px;
}

.submitbox .submit {
	font-size: 11px;
	padding: 12px 10px 10px;
	text-align: left;
}

.submit {
	border-top: 1px solid #ccc;
	margin: 10px 0 0;
	padding: 1.5em 0 0;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.ac_results {
	padding: 0;
	margin: 0;
	list-style: none;
	position: absolute;
	z-index: 10000;
	display: none;
	border-width: 1px;
	border-style: solid;
}

.ac_results li {
	padding: 2px 5px;
	white-space: nowrap;
	text-align: left;
}

.ac_over {
	cursor: pointer;
}

.ac_match {
	text-decoration: underline;
}

#TB_ajaxContent #options {
	position: absolute;
	top: 20px;
	right: 25px;
	padding: 5px;
}

#TB_ajaxContent h3 {
	margin-bottom: .25em;
}

.updated {
	margin: 10px 0;
	padding: 0;
	border-width: 1px;
	border-style: solid;
	width:99%;
}

.updated p,
.error p {
	margin: 0.6em 0;
	padding: 0 0.6em;
}

.error a {
	text-decoration:underline;
}

.updated a {
	text-decoration: none;
	padding-bottom: 2px;
}

#post_status {
	margin-left: 10px;
	margin-bottom: 1em;
	display: block;
}

/* Footer */
#footer {
	height: 65px;
	display: block;
	width: 640px;
	padding: 10px 0 0 60px;
	margin: 0;
	position: absolute;
	bottom: 0;
	font-size: 12px;
}

#footer p {
	margin: 0;
	padding: 7px 0;
}

#footer p a {
	text-decoration: none;
}
#footer p a:hover {
	text-decoration: underline;
}

/* Utility Classes */
.centered {
	text-align: center;
}

.hidden {
	display: none;
}
