.alignleft h3 {
	margin: 0;
}

h3 span {
	font-weight: normal;
}

#template textarea {
	font-family: Consolas, Monaco, Courier, monospace;
	font-size: 12px;
	width: 97%;
	background: #f9f9f9;
	outline: none;
}

#template p {
	width: 97%;
}

#templateside {
	float: right;
	width: 190px;
	word-wrap: break-word;
}

#templateside h3,
#postcustomstuff p.submit {
	margin: 0;
}

#templateside h4 {
	margin: 1em 0 0;
}

#templateside ol,
#templateside ul {
	margin: .5em;
	padding: 0;
}

#templateside li {
	margin: 4px 0;
}

#templateside ul li a span.highlight {
	display:block;
}

.nonessential {
	font-size: 11px;
	font-style: italic;
	padding-left: 12px;
}

.highlight {
	padding: 3px 3px 3px 12px;
	margin-left: -12px;
	font-weight: bold;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

div.tablenav {
	margin-right: 210px;
}

#documentation {
	margin-top: 10px;
}
#documentation label {
	line-height: 22px;
	vertical-align: top;
	font-weight: bold;
}

.fileedit-sub {
	padding: 10px 0 8px;
	line-height: 180%;
}
