/* 2 column liquid layout */
div.widget-liquid-left-holder {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -310px;
}

div.widget-liquid-left {
	margin-right: 310px;
}

div.widget-liquid-right {
	float: right;
	clear: right;
	width: 300px;
}

/* pasitioning etc. */
form#widgets-filter {
	position: relative;
}

div#available-widgets-filter {
	border-bottom: 1px solid #ccc;
}

p#widget-search {
	position: absolute;
	right: 0;
	top: 0;
	margin: 0;
}

div#widget-content {
	border-bottom: 1px solid #ccc;
}	

ul#widget-list {
	list-style: none;
	margin: 0;
	padding: 0;
}

ul#widget-list li.widget-list-item {
	padding: .7em 1em;
	margin: 0;
	border-bottom: 1px solid #ccc;
	background-color: transparent;
	line-height: 1;
}

ul#widget-list li.widget-list-item h4.widget-title {
	position: relative;
	margin: 0;
	padding: .5em 1em;
	width: 200px;
	float: left;
	background-color: #f0f0f0;
	color: #000;
}

#dragHelper h4.widget-title {
	color: #fff;
	background-color: #2683ae;
	padding: .5em 1em;
	margin: 0;
}

ul#widget-list li.widget-list-item div.widget-description {
	display: block;
	margin: 0 0 0 200px;
	padding: 0 0 0 4em;
}


ul#widget-list li.widget-list-item ul.widget-control-info {
	display: none;
}

div#sidebar-info {
	padding: 0 1em;
	margin-bottom: 1em;
}

ul.widget-control-list {
	list-style: none;
	margin: 0;
	padding: 0 1em;
}

li.widget-list-control-item {
	background-color: #eaf3fa;
	margin: 0 0 1em;
}

li.widget-list-control-item h4, #dragHelper li.widget-list-control-item h4 {
	position: relative;
	margin: 0;
	background-color: #2683ae;
	padding: .5em 1em;
	color: #fff;
}

div.widget-control a.widget-action, div.widget-control a.widget-action:hover {
	padding: .5em 1em;
}

h4.widget-title a {
	position: absolute;
	right: 1em;
	text-decoration: underline;
	border-bottom: none;
}

li.widget-list-control-item h4.widget-title a, li.widget-list-control-item h4.widget-title a:visited {
	color: #fff;
}

li.widget-list-control-item h4.widget-title a:hover {
	color: #fff;
	text-decoration: none;
	border-bottom: none;
}

li.widget-list-control-item div.widget-control {
	display: none;
	margin: 1em;
	padding: 0 10px 0 0; /* Correction for padding, margin, border of inputs */
}

li.widget-list-control-item div.widget-control p {
	margin: 0 0 1em;
	padding: 0;
}

ul.widget-control-list div.widget-control-actions {
	margin-right: -10px; /* Correction for padding, margin, border of inputs */
	padding: 0 0 1em;
}

ul.widget-control-list .sorthelper {
	background-color: #ccf3fa;

}

div#current-widgets {
	padding-top: 1em;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#current-widgets .drop-widget-here {
	background-color: #ffc
}
