html,
body {
	min-width: 950px;
}

/* 2 column liquid layout */
div.widget-liquid-left {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -325px;
}

div#widgets-left {
	margin-left: 5px;
	margin-right: 325px;
}

div#widgets-right {
	width: 285px;
	margin: 0 auto;
}

div.widget-liquid-right {
	float: right;
	clear: right;
	width: 300px;
}

.widget-liquid-right .widget,
#wp_inactive_widgets .widget,
.widget-liquid-right .sidebar-description {
	width: 250px;
	margin: 0 auto 20px;
	overflow: hidden;
}

.widget-liquid-right .sidebar-description {
	margin-bottom: 10px;
}

#wp_inactive_widgets .widget {
	margin: 0 10px 20px;
	float: left;
}

div.sidebar-name h3 {
	margin: 0;
	padding: 5px 12px;
	font-size: 13px;
	height: 19px;
	overflow: hidden;
	white-space: nowrap;
}

div.sidebar-name {
	background-repeat: repeat-x;
	background-position: 0 0;
	cursor: pointer;
	font-size: 13px;
	border-width: 1px;
	border-style: solid;
	-moz-border-radius-topleft: 8px;
	-moz-border-radius-topright: 8px;
	-webkit-border-top-right-radius: 8px;
	-webkit-border-top-left-radius: 8px;
	-khtml-border-top-right-radius: 8px;
	-khtml-border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-top-left-radius: 8px;
}

.js .closed .sidebar-name {
	-moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.widget-liquid-right .widgets-sortables,
#widgets-left .widget-holder {
	border-width: 0 1px 1px;
	border-style: none solid solid;
    -moz-border-radius-bottomleft: 8px;
	-moz-border-radius-bottomright: 8px;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-khtml-border-bottom-right-radius: 8px;
	-khtml-border-bottom-left-radius: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
}

.js .closed .widgets-sortables,
.js .closed .widget-holder {
	display: none;
}

.widget-liquid-right .widgets-sortables {
	padding: 15px 0 0;
}

#available-widgets .widget-holder {
	padding: 7px 5px 0;
}

#wp_inactive_widgets {
	padding: 5px 5px 0;
}

#widget-list .widget {
	width: 250px;
	margin: 0 10px 15px;
	border: 0 none;
	float: left;
}

#widget-list .widget-description {
	padding: 5px 8px;
}

#widget-list .widget-top {
	border-width: 1px;
	border-style: solid;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.widget-placeholder {
	border-width: 1px;
	border-style: dashed;
	margin: 0 auto 20px;
	height: 26px;
	width: 250px;
}

#wp_inactive_widgets .widget-placeholder {
	margin: 0 10px 20px;
	float: left;
}

div.widgets-holder-wrap {
	padding: 0;
	margin: 10px 0 20px;
}

#widgets-left #available-widgets {
	background-color: transparent;
	border: 0 none;
}

ul#widget-list {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 100px;
}

.widget .widget-top {
	font-size: 12px;
	font-weight: bold;
	height: 26px;
	overflow: hidden;
}

.widget-top .widget-title {
	padding: 5px 9px;
}

.widget-top .widget-title-action {
	float: right;
}

a.widget-action {
	display: block;
	width: 24px;
	height: 26px;
}

#available-widgets a.widget-action {
	display: none;
}

.widget-top a.widget-action {
	background: url("../images/menu-bits.gif") no-repeat scroll 0 -110px;
}

.widget .widget-inside,
.widget .widget-description {
	padding: 12px 12px 10px;
	font-size: 11px;
	line-height: 16px;
}

.widget-inside,
.widget-description {
	display: none;
}

#available-widgets .widget-description {
	display: block;
}

.widget .widget-inside p {
	margin: 0 0 1em;
	padding: 0;
}

.widget-title h4 {
	margin: 0;
	line-height: 1.3;
	overflow: hidden;
	white-space: nowrap;
}

.widgets-sortables {
	min-height: 90px;
}

.widget-control-actions {
	margin-top: 8px;
}

.widget-control-actions a {
	text-decoration: none;
}

.widget-control-actions a:hover {
	text-decoration: underline;
}

.widget-control-actions .ajax-feedback {
	padding-bottom: 3px;
}

.widget-control-actions div.alignleft {
	margin-top: 6px;
}

div#sidebar-info {
	padding: 0 1em;
	margin-bottom: 1em;
	font-size: 11px;
}

.widget-title a,
.widget-title a:hover {
	text-decoration: none;
	border-bottom: none;
}

.widget-control-edit {
	display: block;
	font-size: 11px;
	font-weight: normal;
	line-height: 26px;
	padding: 0 8px 0 0;
}

a.widget-control-edit {
	text-decoration: none;
}

.widget-control-edit .add,
.widget-control-edit .edit {
	display: none;
}

#available-widgets .widget-control-edit .add,
#widgets-right .widget-control-edit .edit,
#wp_inactive_widgets .widget-control-edit .edit {
	display: inline;
}

.editwidget {
	margin: 0 auto 15px;
}

.editwidget .widget-inside {
	display: block;
	border-width: 1px;
	border-style: solid;
	padding: 10px;
	-moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

.inactive p.description {
	margin: 5px 15px 8px;
}

#available-widgets p.description {
	margin: 0 12px 12px;
}

.widget-position {
	margin-top: 8px;
}

.inactive {
	padding-top: 2px;
}

.sidebar-name-arrow {
	float: right;
	height: 29px;
	width: 26px;
}

.widget-title .in-widget-title {
	font-size: 11px;
	white-space: nowrap;
}

#removing-widget {
	display: none;
	font-weight: normal;
	padding-left: 15px;
	font-size: 12px;
}

.widget-control-noform,
#access-off,
.widgets_access .widget-action,
.widgets_access .sidebar-name-arrow,
.widgets_access #access-on,
.widgets_access .widget-holder .description {
	display: none;
}

.widgets_access .widget-holder,
.widgets_access #widget-list {
	padding-top: 10px;
}

.widgets_access #access-off {
	display: inline;
}

.widgets_access #wpbody-content .widget-title-action,
.widgets_access #wpbody-content .widget-control-edit,
.widgets_access .closed .widgets-sortables,
.widgets_access .closed .widget-holder {
	display: block;
}

.widgets_access .closed .sidebar-name {
	-moz-border-radius-bottomleft: 0;
	-moz-border-radius-bottomright: 0;
	-webkit-border-bottom-right-radius: 0;
	-webkit-border-bottom-left-radius: 0;
	-khtml-border-bottom-right-radius: 0;
	-khtml-border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}

.widgets_access .sidebar-name,
.widgets_access .widget .widget-top {
	cursor: default;
}

