/* 2 column liquid layout */
div.widget-liquid-left {
	float: left;
	clear: left;
	width: 100%;
	margin-right: -325px;
}

div#widgets-left {
	margin-right: 335px;
}

div.widget-liquid-right {
	float: right;
	clear: right;
	width: 320px;
}

.widgets-sortables li {
	width: 300px;
	margin: 15px 0 18px;
}

#widgets-left .widgets-sortables li,
#widgets-left #widget-list li {
	float: left;
	margin: 0 15px 18px 3px;
	width: 300px;
}

.widget-placeholder {
	border-width: 1px;
	border-style: dashed;
	margin-bottom: 20px;
	height: 25px;
	width: 298px;
}

div.widgets-holder-wrap {
    padding: 8px 8px 0;
    margin: 12px 0;
	border-width: 1px;
	border-style: solid;
    -moz-border-radius: 6px;
	-khtml-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

#widgets-left #available-widgets {
    background-color: transparent;
    border: 0 none;
}

div#available-widgets-filter {
	border-bottom-width: 1px;
	border-bottom-style: solid;
}

ul#widget-list {
	list-style: none;
	margin: 0;
	padding: 0;
	min-height: 100px;
}

.widget .widget-top {
	font-size: 12px;
	font-weight: bold;
	line-height: 1;
}

.widget-top .widget-title {
	margin-right: 30px;
	padding: 7px 9px;
}

.widget-top .widget-title-action {
	float: right;
}

.widget-title-action a {
    display: block;
    width: 24px;
    height: 26px;
}

.widget-top:hover .widget-title-action a {
    background: url("../images/menu-bits.gif") no-repeat scroll 0 -110px;
}

.widget .widget-inside {
	margin: 15px;
	font-size: 11px;
	display: none;
}

.widget-control, 
.widget-description {
	display: none;
}

#available-widgets .widget-description,
.widget-liquid-right .widget-control,
#wp_inactive_widgets .widget-control {
	display: block;
}

.widget .widget-control p {
	margin: 0 0 1em;
	padding: 0;
}

.widget-title h4 {
	margin: 0;
	line-height: 1;
}

.sidebar-name {
    margin: 0 0 12px;
    padding: 6px;
    cursor: pointer;
}

.widgets-sortables {
    min-height: 50px;
}

.widget-control-actions {
    margin-top: 8px;
}

.widget-control-actions a {
	text-decoration: none;
}

div#sidebar-info {
	padding: 0 1em;
	margin-bottom: 1em;
	font-size: 11px;
}

.widget-title a,
.widget-title a:hover {
	text-decoration: none;
	border-bottom: none;
}

.widget-control-edit {
	font-size: 10px;
	font-weight: normal;
}


