#wphead {
	margin: 5px;
	background-image: url(http://wordpress.org/images/wp-small.png);
	background-repeat: no-repeat;
	height: 42px;
	border-bottom: 4px solid #333;
}
#wphead a {
	display: block;
	height: 30px;
}
#wphead a span {
	display: none;
}

#adminmenu {
	list-style: none outside;
	padding: 0;
	margin: 5px 0 0 0;
	margin-left: 40px;
	height: 100%;
}

#adminmenu li {
	text-align: center;
	display: block;
	float: left; 
	padding: 4px;
	border-right: 1px solid #ccc;
}
#adminmenu #last {
	border-right: none;
}
#adminmenu a {
	padding: 3px 8px 3px 7px;
	color: #333;
	text-decoration: none;
	border: 1px solid white;
}
#adminmenu a:hover {
	background-color: #e9e9e9;
	color: #333;
	border: 1px solid gray;
}

body	{
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
    background-color: #FFFFFF}
body, td {
	color: #000000; 
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 10pt;
}
a {
	color: #00019b;
	font-weight: bold;
}
a:visited {
	color: #006;
}
a:hover {
	color: #069;
}

.panelbody {
	/* empty style - for you to customize it.
	   this style applies to b2's interface, the part where the sections are displayed */
}
.table {
	color: #000000; 
	font-size: 10pt;
}
.tabletoprow {
	background-color: #ffffff;
	color: #000000; 
	font-size: 12px;
	font-style: italic;
}

.quicktags, .search {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 12px;
	color: #000000;
	background-color: #cccccc;
}

.menutop {
	color: #999999;
	font-size: 10px;
	background-color: #DDEEFF;
}
a.menutop {
	background-color: transparent;
	color: #3366CC; 
	font-weight: normal;
	border-width: 0px;
}
a.menutop:hover {
	color: #FF9900;
	text-decoration: underline;
	font-weight: normal;
}

.menutoptitle {
	color: #BBCCDD;
	font-size: 14px;
	font-weight: bold;
	}

.b2menutop { 
	color: #333333; 
	font-size: 10px;
}
a.b2menutop {
	background-color: transparent;
	color: #0066ff; 
	font-weight: lighter;
}
a.b2menutop:hover {
	color: #ff9900; 
	font-weight: bold;
	text-decoration: none;
}
xmp { /* Just in case */
	font-size: 10pt;
}
.wrap {
	width: 85%;
	border: 1px solid #ccc;
	margin: 20px auto 10px auto;
	padding: 10px;
}
form { margin: 0; padding: 0; } /* thanks #mozilla */