$scheme-name: "modern";
$base-color: #1e1e1e;
$highlight-color: #3858e9;
$menu-submenu-focus-text: #33f078;
$notification-color: $highlight-color;

$link: $highlight-color;
$link-focus: darken($highlight-color, 10%);

$dashboard-accent-1: #3858e9;
$dashboard-accent-2: #1b8362;
$dashboard-icon-background: #1d2327;

@import "../_admin.scss";
