@use "sass:color";

$scheme-name: "modern";
$base-color: #1e1e1e;
$highlight-color: #3858e9;
$menu-submenu-focus-text: #33f078;
$notification-color: $highlight-color;

$link: $highlight-color;
$link-focus: color.adjust($highlight-color, $lightness: -10%);

$custom-welcome-panel: "false";

@import "../_admin.scss";
