.block-editor-block-list__block[data-type="core/more"]{
  margin-bottom:28px;
  margin-top:28px;
  max-width:100%;
  text-align:center;
}

.wp-block-more{
  display:block;
  text-align:center;
  white-space:nowrap;
}
.wp-block-more input[type=text]{
  background:#fff;
  border:none;
  border-radius:4px;
  box-shadow:none;
  color:#757575;
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size:13px;
  font-weight:600;
  height:24px;
  margin:0;
  max-width:100%;
  padding:6px 8px;
  position:relative;
  text-align:center;
  text-transform:uppercase;
  white-space:nowrap;
}
.wp-block-more input[type=text]:focus{
  box-shadow:none;
}
.wp-block-more:before{
  border-top:3px dashed #ccc;
  content:"";
  left:0;
  position:absolute;
  right:0;
  top:50%;
}