.block-editor-block-list__block[data-type="core/more"]{
  margin-bottom:28px;
  margin-top:28px;
  max-width:100%;
  text-align:center;
}

.wp-block-more{
  display:block;
  text-align:center;
  white-space:nowrap;
}
.wp-block-more .rich-text{
  background:#fff;
  color:#757575;
  display:inline-flex;
  font-family:-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif;
  font-size:13px;
  font-weight:600;
  padding:10px 36px;
  position:relative;
  text-align:center;
  text-transform:uppercase;
  white-space:nowrap;
}
.wp-block-more:before{
  border-top:3px dashed #ccc;
  content:"";
  left:0;
  position:absolute;
  right:0;
  top:50%;
}