.wp-block-navigation .wp-block-page-list,.wp-block-navigation .wp-block-page-list>div{
  background-color:inherit;
}
.wp-block-navigation.items-justified-space-between .wp-block-page-list,.wp-block-navigation.items-justified-space-between .wp-block-page-list>div{
  display:contents;
  flex:1;
}
.wp-block-navigation.items-justified-space-between.has-child-selected .wp-block-page-list,.wp-block-navigation.items-justified-space-between.has-child-selected .wp-block-page-list>div,.wp-block-navigation.items-justified-space-between.is-selected .wp-block-page-list,.wp-block-navigation.items-justified-space-between.is-selected .wp-block-page-list>div{
  flex:inherit;
}

.wp-block-navigation .wp-block-navigation__submenu-container>.wp-block-page-list{
  display:block;
}

.wp-block-pages-list__item__link{
  pointer-events:none;
}

@media (min-width:600px){
  .wp-block-page-list-modal{
    max-width:480px;
  }
}

.wp-block-page-list-modal-buttons{
  display:flex;
  gap:12px;
  justify-content:flex-end;
}

.wp-block-page-list .open-on-click:focus-within>.wp-block-navigation__submenu-container{
  height:auto;
  min-width:200px;
  opacity:1;
  visibility:visible;
  width:auto;
}

.wp-block-page-list__loading-indicator-container{
  padding:8px 12px;
}