/* Reset */
.wp_themeSkin table, .wp_themeSkin tbody, .wp_themeSkin a, .wp_themeSkin img, .wp_themeSkin tr, .wp_themeSkin div, .wp_themeSkin td, .wp_themeSkin iframe, .wp_themeSkin span, .wp_themeSkin *, .wp_themeSkin .mceText {
border:0; margin:0; padding:0; background:transparent; white-space:nowrap; text-decoration:none; font-weight:normal; cursor:default; color:#000; vertical-align:baseline; width:auto; border-collapse:separate;
}
.wp_themeSkin a:hover, .wp_themeSkin a:link, .wp_themeSkin a:visited, .wp_themeSkin a:active {text-decoration:none; font-weight:normal; cursor:default; color:#000}
.wp_themeSkin table td {vertical-align:middle}

/* Containers */
.wp_themeSkin table {background:#83B4D5}
.wp_themeSkin iframe {display:block; background:#FFF}
.wp_themeSkin .mceToolbar {padding: 2px;}

/* External */
.wp_themeSkin .mceExternalToolbar {position:absolute; border:1px solid #ddd; border-bottom:0; display:none}
.wp_themeSkin .mceExternalToolbar td.mceToolbar {padding-right:13px;}
.wp_themeSkin .mceExternalClose {position:absolute; top:3px; right:3px; width:7px; height:7px; background:url(../../img/icons.gif) -820px 0}

/* Layout */
.wp_themeSkin table.mceToolbar, .wp_themeSkin tr.mceFirst .mceToolbar tr td, .wp_themeSkin tr.mceLast .mceToolbar tr td {border:0; margin:0; padding:0}
.wp_themeSkin table.mceLayout {border:0;}
.wp_themeSkin .mceIframeContainer {}
.wp_themeSkin .mceStatusbar {display:block; font-family:'MS Sans Serif',sans-serif,Verdana,Arial; font-size:9pt; line-height:16px; overflow:visible; color:#000; height:20px;background-color: #eaf3fa;}
.wp_themeSkin .mceStatusbar div {float:left; padding:2px;}
.wp_themeSkin .mceStatusbar a.mceResize {display:block; float:right; background:url(../../img/icons.gif) -800px 0; width:20px; height:20px; cursor:se-resize}
.wp_themeSkin .mceStatusbar a:hover {text-decoration:underline}
.wp_themeSkin table.mceToolbar {margin: 0 2px 2px;}
.wp_themeSkin #content_toolbar1 {margin-top: 2px;}
/*
.wp_themeSkin .mceToolbar .mceToolbarStart span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px; }
.wp_themeSkin .mceToolbar .mceToolbarEnd span {display:block; background:url(img/button_bg.png) -22px 0; width:1px; height:22px}
*/
.wp_themeSkin .mceToolbar .mceToolbarEndListBox span {display:none}
.wp_themeSkin span.mceIcon, .wp_themeSkin img.mceIcon {display:block; width:20px; height:20px}
.wp_themeSkin .mceIcon {background:url(../../img/icons.gif) no-repeat 20px 20px}

/* Button */
.wp_themeSkin .mceButton {
	display:block; 
	width: 20px; 
	height: 20px; 
	cursor: default; 
	padding: 1px 2px; 
	margin: 1px; 
	background: #e9e8e8 url(img/butt2.png) 2px 1px no-repeat scroll;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #83B4D5;
}
.wp_themeSkin a.mceButton span, .wp_themeSkin a.mceButton img {}
.wp_themeSkin .mceOldBoxModel a.mceButton span, .wp_themeSkin .mceOldBoxModel a.mceButton img {margin:0 0 0 1px}
.wp_themeSkin a.mceButtonEnabled:hover {
	background-color:#d6d8da;
	background-position:0 -20px;
	border: 1px solid #7789ba !important;
}
.wp_themeSkin a.mceButtonActive, .wp_themeSkin a.mceButtonSelected {
	background-color: #d6d8da;
	background-position:0 -20px;
	border: 1px solid #7789ba !important;
}
.wp_themeSkin .mceButtonDisabled .mceIcon {opacity:0.3; filter:alpha(opacity=30);}
.wp_themeSkin .mceButtonDisabled {border-color:#83B4D5;}

/* Separator */
.wp_themeSkin .mceSeparator { 
	height: 24px; 
	width: 1px;
	display: block;
	background: transparent;
	overflow: hidden; 
	margin: 0 2px; 
}

/* ListBox */
.wp_themeSkin .mceListBox, .wp_themeSkin .mceListBox a {display:block}
.wp_themeSkin .mceListBox .mceText {
	padding: 1px 2px 1px 5px;
	border: 1px solid #83B4D5;
	text-align:left; 
	width:70px; 
	border-right:0; 
	background: #e9e8e8 url(img/butt2.png) 1px 1px repeat-x scroll;
	font-family: Tahoma,Verdana,Arial,Helvetica; 
	font-size: 11px; 
	height: 20px; 
	line-height: 20px; 
	overflow: hidden;
}
.wp_themeSkin .mceListBox {
	margin: 1px;
	direction: ltr;
}
.wp_themeSkin .mceListBox .mceOpen {
	width:14px;
	height:20px; 
	border-collapse:separate;
	background: #e9e8e8 url(img/butt2.png) 1px 1px repeat-x scroll;
	padding: 1px;
	border: 1px solid #83B4D5;
}
.wp_themeSkin .mceListBox .mceOpen span {
	display: block;
	width:14px;
	height:20px;
	background:url(img/down_arrow.gif) 2px 1px no-repeat;
}
.wp_themeSkin table.mceListBoxEnabled:hover .mceText, 
.wp_themeSkin .mceListBoxHover .mceText, 
.wp_themeSkin .mceListBoxSelected .mceText {
	background:#eae8ea;
	border-collapse:separate;
	border: 1px solid #7789ba !important;
	border-right: 0 none !important;
}
.wp_themeSkin table.mceListBoxEnabled:hover .mceOpen, 
.wp_themeSkin .mceListBoxHover .mceOpen, 
.wp_themeSkin .mceListBoxSelected .mceOpen {
	background-color:#d6d8da;
	border: 1px solid #7789ba !important;
}
.wp_themeSkin .mceListBoxDisabled .mceText {color:gray}
.wp_themeSkin .mceListBoxMenu {overflow:auto; overflow-x:hidden}
.wp_themeSkin .mceOldBoxModel .mceListBox .mceText {height:22px}
.wp_themeSkin select.mceListBox {font-family:Tahoma,Verdana,Arial,Helvetica; font-size:12px; border:1px solid #b3c7e1; background:#FFF;}

/* SplitButton */
.wp_themeSkin .mceSplitButton a, .wp_themeSkin .mceSplitButton span {display:block; height:20px}
.wp_themeSkin .mceSplitButton { 
	display:block;
	margin: 1px;
	direction: ltr;
}
.wp_themeSkin table.mceSplitButton td {
	padding: 2px;
}
.wp_themeSkin .mceSplitButton a.mceAction {
	height:20px;
	width:20px;
	background: #e9e8e8 url(img/butt2.png) 1px 1px repeat-x scroll;
	padding: 1px 2px;
	border: 1px solid #83B4D5;
}
.wp_themeSkin .mceSplitButton span.mceAction {
	background: url(../../img/icons.gif) 20px 20px;
	width:20px; 
}
.wp_themeSkin .mceSplitButton a.mceOpen {
	width:10px;
	height:20px;
	border-collapse:separate;
	background: #e9e8e8 url(img/butt2.png) 1px 1px repeat-x scroll;
	padding: 1px;
	border: 1px solid #83B4D5;
	border-left: 0 none;
}
.wp_themeSkin .mceSplitButton span.mceOpen {
	width:10px; 
	background:url(img/down_arrow.gif) 0px 1px;
}
.wp_themeSkin .mceSplitButton a.mceOpen:hover,
.wp_themeSkin .mceSplitButtonSelected a.mceOpen {
	background:#d6d8da;
	border-collapse:separate;
	border: 1px solid #7789ba !important;
	border-left: 0 none !important;
} 
.wp_themeSkin table.mceSplitButtonEnabled:hover a.mceAction {
	background:#d6d8da;
	border: 1px solid #7789ba !important;
}
.wp_themeSkin .mceSplitButton a.mceAction:hover {
	background:#d6d8da;
	border-collapse:separate;
	border: 1px solid #7789ba !important;
}
.wp_themeSkin table.mceSplitButtonEnabled:hover span.mceOpen, 
.wp_themeSkin .mceSplitButtonHover span.mceOpen, 
.wp_themeSkin .mceSplitButtonSelected span.mceOpen {
}
.wp_themeSkin .mceSplitButtonDisabled .mceAction {
	opacity:0.3; filter:alpha(opacity=30)
}
.wp_themeSkin .mceSplitButtonActive {
	background: #d6d8da;
}
.wp_themeSkin .mceListBox a.mceText, .wp_themeSkin .mceSplitButton a.mceAction {
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	-khtml-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	-khtml-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
}
.wp_themeSkin .mceSplitButton a.mceOpen, .wp_themeSkin .mceListBox a.mceOpen {
	-moz-border-radius-bottomright: 3px;
	-webkit-border-bottom-right-radius: 3px;
	-khtml-border-bottom-right-radius: 3px;
	border-bottom-right-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	-khtml-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
}

/* ColorSplitButton */
.wp_themeSkin div.mceColorSplitMenu table {background:#ebeaeb; border:1px solid gray}
.wp_themeSkin .mceColorSplitMenu td {padding:2px}
.wp_themeSkin .mceColorSplitMenu a {display:block; width:9px; height:9px; overflow:hidden; border:1px solid #808080}
.wp_themeSkin .mceColorSplitMenu td.mceMoreColors {padding:1px 3px 1px 1px}
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors {width:100%; height:auto; text-align:center; font-family:Tahoma,Verdana,Arial,Helvetica; font-size:11px; line-height:20px; border:1px solid #FFF}
.wp_themeSkin .mceColorSplitMenu a.mceMoreColors:hover {border:1px solid #0A246A; background-color:#B6BDD2}
.wp_themeSkin a.mceMoreColors:hover {border:1px solid #0A246A}
.wp_themeSkin .mceColorPreview {position:absolute; top:15px; left:2px; width:16px; height:4px; overflow:hidden}

/* Menu */
.wp_themeSkin .mceMenu {position:absolute; left:0; top:0; z-index:1000; border:1px solid #ddd}
.wp_themeSkin .mceNoIcons span.mceIcon {width:0;}
.wp_themeSkin .mceNoIcons a .mceText {padding-left:10px}
.wp_themeSkin .mceMenu table {background:#ebeaeb}
.wp_themeSkin .mceMenu a, .wp_themeSkin .mceMenu span, .wp_themeSkin .mceMenu {display:block}
.wp_themeSkin .mceMenu td {height:20px}
.wp_themeSkin .mceMenu a {position:relative;padding:3px 0 4px 0}
.wp_themeSkin .mceMenu .mceText {
	position:relative; 
	display:block; 
	font-family:Tahoma,Verdana,Arial,Helvetica; 
	color:#000; 
	cursor:default; 
	margin:0; 
	padding:0 25px 0 25px; 
}
.wp_themeSkin .mceMenu span.mceText, .wp_themeSkin .mceMenu .mcePreview {font-size:11px}
.wp_themeSkin .mceMenu pre.mceText {font-family:Monospace}
.wp_themeSkin .mceMenu .mceIcon {position:absolute; top:0; left:0; width:22px;}
.wp_themeSkin .mceMenu .mceMenuItemEnabled a:hover, 
.wp_themeSkin .mceMenu .mceMenuItemActive {
	background-color: #83B4D5;
}
.wp_themeSkin td.mceMenuItemSeparator {background:#aaa; height:1px}
.wp_themeSkin .mceMenuItemTitle a {
	border:0; 
	background:#ccc; 
	border-bottom:1px solid #aaa;
}
.wp_themeSkin .mceMenuItemTitle span.mceText {color:#000; font-weight:bold; padding-left:4px}
.wp_themeSkin .mceMenuItemDisabled .mceText {color:#888}
.wp_themeSkin .mceMenuItemSelected .mceIcon {background:url(../default/img/menu_check.gif)}
.wp_themeSkin .mceNoIcons .mceMenuItemSelected a {background:url(../default/img/menu_arrow.gif) no-repeat -6px center}
.wp_themeSkin .mceMenu span.mceMenuLine {display:none}
.wp_themeSkin .mceMenuItemSub a {background:url(../default/img/menu_arrow.gif) no-repeat top right;}

/* Progress,Resize */
.wp_themeSkin .mceBlocker {position:absolute; left:0; top:0; z-index:1000; opacity:0.5; filter:alpha(opacity=50); background:#FFF}
.wp_themeSkin .mceProgress {position:absolute; left:0; top:0; z-index:1001; background:url(../default/img/progress.gif) no-repeat; width:32px; height:32px; margin:-16px 0 0 -16px}
.wp_themeSkin .mcePlaceHolder {border:1px dotted gray}

/* Theme */
.wp_themeSkin span.mce_bold {background-position:0 0}
.wp_themeSkin span.mce_italic {background-position:-60px 0}
.wp_themeSkin span.mce_underline {background-position:-140px 0}
.wp_themeSkin span.mce_strikethrough {background-position:-120px 0}
.wp_themeSkin span.mce_undo {background-position:-160px 0}
.wp_themeSkin span.mce_redo {background-position:-100px 0}
.wp_themeSkin span.mce_cleanup {background-position:-40px 0}
.wp_themeSkin span.mce_bullist {background-position:-20px 0}
.wp_themeSkin span.mce_numlist {background-position:-80px 0}
.wp_themeSkin span.mce_justifyleft {background-position:-460px 0}
.wp_themeSkin span.mce_justifyright {background-position:-480px 0}
.wp_themeSkin span.mce_justifycenter {background-position:-420px 0}
.wp_themeSkin span.mce_justifyfull {background-position:-440px 0}
.wp_themeSkin span.mce_anchor {background-position:-200px 0}
.wp_themeSkin span.mce_indent {background-position:-400px 0}
.wp_themeSkin span.mce_outdent {background-position:-540px 0}
.wp_themeSkin span.mce_link {background-position:-500px 0}
.wp_themeSkin span.mce_unlink {background-position:-640px 0}
.wp_themeSkin span.mce_sub {background-position:-600px 0}
.wp_themeSkin span.mce_sup {background-position:-620px 0}
.wp_themeSkin span.mce_removeformat {background-position:-580px 0}
.wp_themeSkin span.mce_newdocument {background-position:-520px 0}
.wp_themeSkin span.mce_image {background-position:-380px 0}
.wp_themeSkin span.mce_help {background-position:-340px 0}
.wp_themeSkin span.mce_code {background-position:-260px 0}
.wp_themeSkin span.mce_hr {background-position:-360px 0}
.wp_themeSkin span.mce_visualaid {background-position:-660px 0}
.wp_themeSkin span.mce_charmap {background-position:-240px 0}
.wp_themeSkin span.mce_paste {background-position:-560px 0}
.wp_themeSkin span.mce_copy {background-position:-700px 0}
.wp_themeSkin span.mce_cut {background-position:-680px 0}
.wp_themeSkin span.mce_blockquote {background-position:-220px 0}
.wp_themeSkin .mce_forecolor span.mceAction {background-position:-720px 0}
.wp_themeSkin .mce_backcolor span.mceAction {background-position:-760px 0}
.wp_themeSkin .mce_forecolorpicker {background-position:-720px 0}
.wp_themeSkin .mce_backcolorpicker {background-position:-760px 0}

/* Plugins */
.wp_themeSkin span.mce_advhr {background-position:-0px -20px}
.wp_themeSkin span.mce_ltr {background-position:-20px -20px}
.wp_themeSkin span.mce_rtl {background-position:-40px -20px}
.wp_themeSkin span.mce_emotions {background-position:-60px -20px}
.wp_themeSkin span.mce_fullpage {background-position:-80px -20px}
.wp_themeSkin span.mce_fullscreen {background-position:-100px -20px}
.wp_themeSkin span.mce_iespell {background-position:-120px -20px}
.wp_themeSkin span.mce_insertdate {background-position:-140px -20px}
.wp_themeSkin span.mce_inserttime {background-position:-160px -20px}
.wp_themeSkin span.mce_absolute {background-position:-180px -20px}
.wp_themeSkin span.mce_backward {background-position:-200px -20px}
.wp_themeSkin span.mce_forward {background-position:-220px -20px}
.wp_themeSkin span.mce_insert_layer {background-position:-240px -20px}
.wp_themeSkin span.mce_insertlayer {background-position:-260px -20px}
.wp_themeSkin span.mce_movebackward {background-position:-280px -20px}
.wp_themeSkin span.mce_moveforward {background-position:-300px -20px}
.wp_themeSkin span.mce_media {background-position:-320px -20px}
.wp_themeSkin span.mce_nonbreaking {background-position:-340px -20px}
.wp_themeSkin span.mce_pastetext {background-position:-360px -20px}
.wp_themeSkin span.mce_pasteword {background-position:-380px -20px}
.wp_themeSkin span.mce_selectall {background-position:-400px -20px}
.wp_themeSkin span.mce_preview {background-position:-420px -20px}
.wp_themeSkin span.mce_print {background-position:-440px -20px}
.wp_themeSkin span.mce_cancel {background-position:-460px -20px}
.wp_themeSkin span.mce_save {background-position:-480px -20px}
.wp_themeSkin span.mce_replace {background-position:-500px -20px}
.wp_themeSkin span.mce_search {background-position:-520px -20px}
.wp_themeSkin span.mce_styleprops {background-position:-560px -20px}
.wp_themeSkin span.mce_table {background-position:-580px -20px}
.wp_themeSkin span.mce_cell_props {background-position:-600px -20px}
.wp_themeSkin span.mce_delete_table {background-position:-620px -20px}
.wp_themeSkin span.mce_delete_col {background-position:-640px -20px}
.wp_themeSkin span.mce_delete_row {background-position:-660px -20px}
.wp_themeSkin span.mce_col_after {background-position:-680px -20px}
.wp_themeSkin span.mce_col_before {background-position:-700px -20px}
.wp_themeSkin span.mce_row_after {background-position:-720px -20px}
.wp_themeSkin span.mce_row_before {background-position:-740px -20px}
.wp_themeSkin span.mce_merge_cells {background-position:-760px -20px}
.wp_themeSkin span.mce_table_props {background-position:-980px -20px}
.wp_themeSkin span.mce_row_props {background-position:-780px -20px}
.wp_themeSkin span.mce_split_cells {background-position:-800px -20px}
.wp_themeSkin span.mce_template {background-position:-820px -20px}
.wp_themeSkin span.mce_visualchars {background-position:-840px -20px}
.wp_themeSkin span.mce_abbr {background-position:-860px -20px}
.wp_themeSkin span.mce_acronym {background-position:-880px -20px}
.wp_themeSkin span.mce_attribs {background-position:-900px -20px}
.wp_themeSkin span.mce_cite {background-position:-920px -20px}
.wp_themeSkin span.mce_del {background-position:-940px -20px}
.wp_themeSkin span.mce_ins {background-position:-960px -20px}
.wp_themeSkin span.mce_pagebreak {background-position:0 -40px}
.wp_themeSkin .mce_spellchecker span.mceAction {background-position:-540px -20px}
