.mejs-container, .mejs-embed, .mejs-embed body {
	background: #000;
}

.mejs-controls .mejs-time-rail .mejs-time-loaded {
	background: #21759b;
}

.mejs-controls .mejs-time-rail .mejs-time-current {
	background: #d54e21;
}

.me-cannotplay {
	width: auto !important;
}

.media-embed-details .wp-audio-shortcode {
	display: inline-block;
	max-width: 400px;
}

.media-embed-details .embed-media-settings .setting span {
	max-width: 400px;
	width: auto;
}

.media-embed-details .embed-media-settings {
	padding-top: 0;
	top: 28px;
}

.media-embed-details .instructions {
	padding: 16px 0;
	max-width: 600px;
}

.media-embed-details .setting p,
.media-embed-details .setting a {
	color: #a00;
	font-size: 10px;
	text-transform: uppercase;
}

.media-embed-details .setting a:hover {
	color: #f00;
}

.media-embed-details .embed-media-settings .checkbox-setting {
	width: 100px;
	clear: none;
}

.video-details .wp-video-holder {
	width: 100%;
	max-width: 640px;
}

.wp-playlist {
	border: 1px solid #ccc;
	padding: 10px;
	margin: 12px 0 18px;
	font-size: 85%;
	line-height: 160%;
}

.wp-playlist audio,
.wp-playlist video {
	display: inline-block;
	max-width: 100%;
}

.wp-playlist .mejs-container {
	margin: 0;
	width: 100%;
}

.wp-playlist .mejs-controls .mejs-button button {
	outline: 0;
}

.wp-playlist-light {
	background: #fff;
}

.wp-playlist-dark {
	color: #fff;
	background: #000;
}

.wp-playlist-caption {
	max-width: 85%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wp-caption-meta {
	display: block;
}

.wp-caption-title {
	font-size: 100%;
}

.wp-caption-album {
	font-style: italic;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wp-caption-artist {
	font-size: 85%;
	text-transform: uppercase;
}

.wp-caption-by {
	font-size: 65%;
	font-weight: bold;
}

.wp-playlist-item-length {
	position: absolute;
	right: 3px;
	top: 0;
}

.wp-playlist-tracks {
	margin-top: 10px;
	border-top: 1px solid #ccc;
}

.wp-playlist-item {
	position: relative;
	cursor: pointer;
	padding: 0 3px;
	border-bottom: 1px solid #ccc;
}

.wp-playlist-dark .wp-playlist-item {
	color: #dedede;
}

.wp-playlist-playing {
	font-weight: bold;
	background: #f7f7f7;
}

.wp-playlist-dark .wp-playlist-playing {
	background: #000;
	color: #fff;
}

.wp-playlist-current-item {
	overflow: hidden;
	margin-bottom: 10px;
	height: 60px;
}

.wp-playlist-current-item img {
	float: left;
	max-width: 60px;
	height: auto;
	margin-right: 10px;
}

.wp-playlist-current-item .wp-caption-title,
.wp-playlist-current-item .wp-caption-artist {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}