/* Japanese Stylesheet */
/* http://stackoverflow.com/questions/14563064/japanese-standard-web-fonts */

.font-primary,
body,
input,
textarea,
.label-checkbox,
.label-radio,
.required,
#site-description,
#reply-title small { 
	font-family: 'Droid Serif', 'Lora', Georgia, "ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro W3", "HG明朝E", "HG Mincho E", "ＭＳ Ｐ明朝", "MS PMincho", serif;
	line-height: 1.7;
}

.font-secondary,
dt,
th,
legend,
label,
input[type="submit"],
input[type="reset"], 
input[type="button"],
button,
select,
option,
.wp-caption-text,
.gallery-caption,
.mejs-controls,
.entry-byline,
.entry-footer,
.chat-author cite,
.chat-author,
.comment-meta,
.menu,
.breadcrumb-trail,
.media-info .prep,
.comment-reply-link,
.comment-reply-login,
.clean-my-archives .day,
.whistle-title {
	font-family: 'Open Sans', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.font-headlines,
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans', "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}