<!-- wp:template-part {"slug":"header","theme":"bagberry"} /-->

<!-- wp:group -->
<div class="wp-block-group"><!-- wp:spacer {"height":"13vh"} -->
    <div style="height:13vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|50"}},"layout":{"inherit":false,"contentSize":"540px","type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|40"}},"layout":{"type":"flex","orientation":"vertical","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"large"} -->
    <h1 class="has-text-align-center has-large-font-size">Page not found</h1>
    <!-- /wp:heading -->
    
    <!-- wp:group {"layout":{"contentSize":"450px","type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:paragraph {"align":"center","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size">It looks like nothing was found at this location. Try a search or check the links below.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:search {"label":"Search","showLabel":false,"placeholder":"Search products…","buttonText":"Search","buttonPosition":"button-inside","buttonUseIcon":true,"query":{"post_type":"product"}} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"5px"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"center"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
    <p>Go back to </p>
    <!-- /wp:paragraph -->
    
    <!-- wp:site-title {"level":0} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"13vh"} -->
    <div style="height:13vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"8vh"} -->
    <div style="height:8vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:separator {"backgroundColor":"accent-border","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-text-color has-accent-border-color has-alpha-channel-opacity has-accent-border-background-color has-background is-style-wide"/>
    <!-- /wp:separator --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"8vh"} -->
    <div style="height:8vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"align":"wide","style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group alignwide"><!-- wp:heading {"level":3} -->
    <h3>Bestselling bags</h3>
    <!-- /wp:heading --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"25px"} -->
    <div style="height:25px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:woocommerce/product-best-sellers {"columns":5,"rows":1,"align":"wide"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"8vh"} -->
    <div style="height:8vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:template-part {"slug":"footer-additional","theme":"bagberry"} /-->