<!-- wp:template-part {"slug":"header","theme":"bagberry"} /-->

<!-- wp:group {"style":{"spacing":{"margin":{"top":"var:preset|spacing|40"}}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group" style="margin-top:var(--wp--preset--spacing--40)"><!-- wp:columns {"style":{"spacing":{"blockGap":{"top":"0","left":"0"},"padding":{"top":"0","right":"0","bottom":"0","left":"0"},"margin":{"bottom":"0"}},"color":{"background":"#ebece3"}}} -->
    <div class="wp-block-columns has-background" style="background-color:#ebece3;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0"><!-- wp:column {"verticalAlignment":"center","style":{"spacing":{"padding":{"top":"var:preset|spacing|30","right":"var:preset|spacing|30","bottom":"var:preset|spacing|30","left":"var:preset|spacing|30"}}}} -->
    <div class="wp-block-column is-vertically-aligned-center" style="padding-top:var(--wp--preset--spacing--30);padding-right:var(--wp--preset--spacing--30);padding-bottom:var(--wp--preset--spacing--30);padding-left:var(--wp--preset--spacing--30)"><!-- wp:group {"style":{"spacing":{"blockGap":"var:preset|spacing|30"}},"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"textAlign":"center","level":1,"fontSize":"large"} -->
    <h1 class="has-text-align-center has-large-font-size">Build your lifestyle.</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"align":"center","fontSize":"large"} -->
    <p class="has-text-align-center has-large-font-size">Explore our wide range of bag collections</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:column -->
    
    <!-- wp:column -->
    <div class="wp-block-column"><!-- wp:image {"id":479,"sizeSlug":"large","linkDestination":"none"} -->
    <figure class="wp-block-image size-large"><img src="https://storage.googleapis.com/agni_patterns_bucket/bagberry/shop-banner-1024x564.png" alt="" class="wp-image-479"/></figure>
    <!-- /wp:image --></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"6vh"} -->
    <div style="height:6vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":1,"align":"wide"} -->
    <h1 class="alignwide">All products</h1>
    <!-- /wp:heading -->
    
    <!-- wp:spacer {"height":"24px"} -->
    <div style="height:24px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
    <div class="wp-block-group alignwide"><!-- wp:template-part {"slug":"products-filter","theme":"bagberry","align":"wide"} /-->
    
    <!-- wp:separator {"backgroundColor":"accent-border","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-text-color has-accent-border-color has-alpha-channel-opacity has-accent-border-background-color has-background is-style-wide"/>
    <!-- /wp:separator -->
    
    <!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"8vh"} -->
    <div style="height:8vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:template-part {"slug":"footer-additional","theme":"bagberry"} /-->