<!-- wp:template-part {"slug":"header-additional","theme":"bagberry","area":"header"} /-->

<!-- wp:cover {"overlayColor":"accent-background","isDark":false,"align":"full"} -->
<div class="wp-block-cover alignfull is-light"><span aria-hidden="true" class="wp-block-cover__background has-accent-background-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained","contentSize":"1024px","justifyContent":"left"}} -->
    <div class="wp-block-group"><!-- wp:heading {"level":1,"fontSize":"large"} -->
    <h1 class="has-large-font-size">Our Blog</h1>
    <!-- /wp:heading -->
    
    <!-- wp:paragraph {"fontSize":"large"} -->
    <p class="has-large-font-size">We keen to provide our insider thoughts &amp; editors information to you.</p>
    <!-- /wp:paragraph --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:spacer {"height":"7vh"} -->
    <div style="height:7vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:query {"queryId":7,"query":{"perPage":"6","pages":0,"offset":0,"postType":"post","order":"desc","orderBy":"date","author":"","search":"","exclude":[],"sticky":"","inherit":false},"displayLayout":{"type":"flex","columns":2},"layout":{"type":"constrained"}} -->
    <div class="wp-block-query"><!-- wp:post-template -->
    <!-- wp:post-featured-image {"isLink":true} /-->
    
    <!-- wp:post-date /-->
    
    <!-- wp:post-title {"level":3,"isLink":true} /-->
    
    <!-- wp:read-more {"content":"Continue reading","style":{"typography":{"textDecoration":"underline"}}} /-->
    
    <!-- wp:spacer {"height":"40px"} -->
    <div style="height:40px" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:separator {"backgroundColor":"accent-border","className":"is-style-wide"} -->
    <hr class="wp-block-separator has-text-color has-accent-border-color has-alpha-channel-opacity has-accent-border-background-color has-background is-style-wide"/>
    <!-- /wp:separator -->
    <!-- /wp:post-template -->
    
    <!-- wp:spacer {"height":"4vh"} -->
    <div style="height:4vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:query-pagination {"layout":{"type":"flex","justifyContent":"center"}} -->
    <!-- wp:query-pagination-previous /-->
    
    <!-- wp:query-pagination-numbers /-->
    
    <!-- wp:query-pagination-next /-->
    <!-- /wp:query-pagination -->
    
    <!-- wp:query-no-results -->
    <!-- wp:paragraph {"placeholder":"Add text or blocks that will display when a query returns no results."} -->
    <p></p>
    <!-- /wp:paragraph -->
    <!-- /wp:query-no-results -->
    
    <!-- wp:spacer {"height":"4vh"} -->
    <div style="height:4vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer --></div>
    <!-- /wp:query -->
    
    <!-- wp:spacer {"height":"7vh"} -->
    <div style="height:7vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:template-part {"slug":"footer-accent","theme":"bagberry"} /-->