<!-- wp:template-part {"slug":"header","theme":"bagberry"} /-->

<!-- wp:group {"className":"has-woocommerce-product-gallery-slider","layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group has-woocommerce-product-gallery-slider"><!-- wp:woocommerce/legacy-template {"template":"single-product"} /--></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"8vh"} -->
<div style="height:8vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer-additional","theme":"bagberry"} /-->