<!-- wp:template-part {"slug":"header-additional","theme":"bagberry"} /-->

<!-- wp:cover {"overlayColor":"accent-background","minHeight":350,"minHeightUnit":"px","isDark":false,"style":{"spacing":{"padding":{"top":"0","right":"0","bottom":"0","left":"0"}}}} -->
<div class="wp-block-cover is-light" style="padding-top:0;padding-right:0;padding-bottom:0;padding-left:0;min-height:350px"><span aria-hidden="true" class="wp-block-cover__background has-accent-background-background-color has-background-dim-100 has-background-dim"></span><div class="wp-block-cover__inner-container"><!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:group {"layout":{"type":"constrained","contentSize":"1020px","justifyContent":"left"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"textAlign":"left","level":1,"fontSize":"large"} /-->
    
    <!-- wp:group {"style":{"spacing":{"blockGap":"20px"},"typography":{"fontStyle":"normal","fontWeight":"500","letterSpacing":"0em"}},"layout":{"type":"flex","flexWrap":"nowrap","justifyContent":"left"}} -->
    <div class="wp-block-group" style="font-style:normal;font-weight:500;letter-spacing:0em"><!-- wp:group {"style":{"spacing":{"blockGap":"10px"}},"layout":{"type":"flex","flexWrap":"nowrap"}} -->
    <div class="wp-block-group"><!-- wp:paragraph -->
    <p>By</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-author {"showBio":false,"style":{"typography":{"fontStyle":"normal","fontWeight":"500","letterSpacing":"0em"}},"fontSize":"medium"} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:paragraph -->
    <p>.</p>
    <!-- /wp:paragraph -->
    
    <!-- wp:post-date {"format":"M j, Y","fontSize":"medium"} /--></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div>
    <!-- /wp:group --></div></div>
    <!-- /wp:cover -->
    
    <!-- wp:spacer {"height":"5vh"} -->
    <div style="height:5vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-featured-image {"style":{"spacing":{"margin":{"bottom":"var:preset|spacing|50"}}}} /--></div>
    <!-- /wp:group -->
    
    <!-- wp:post-content {"layout":{"type":"constrained","contentSize":"1020px"},"fontSize":"large"} /-->
    
    <!-- wp:group {"layout":{"inherit":true,"type":"constrained","contentSize":"1020px"}} -->
    <div class="wp-block-group"><!-- wp:comments {"className":"wp-block-comments-query-loop "} -->
    <div class="wp-block-comments wp-block-comments-query-loop"><!-- wp:comments-title {"level":4,"style":{"spacing":{"margin":{"top":"20px"},"padding":{"top":"60px"}}}} /-->
    
    <!-- wp:comment-template -->
    <!-- wp:columns {"style":{"spacing":{"blockGap":"15px"}}} -->
    <div class="wp-block-columns"><!-- wp:column {"width":"40px"} -->
    <div class="wp-block-column" style="flex-basis:40px"><!-- wp:avatar {"size":40,"style":{"border":{"radius":"20px"}}} /--></div>
    <!-- /wp:column -->
    
    <!-- wp:column {"style":{"spacing":{"padding":{"top":"30px","right":"30px","bottom":"30px","left":"30px"}}},"backgroundColor":"accent-background"} -->
    <div class="wp-block-column has-accent-background-background-color has-background" style="padding-top:30px;padding-right:30px;padding-bottom:30px;padding-left:30px"><!-- wp:comment-author-name {"style":{"spacing":{"padding":{"bottom":"5px"}},"typography":{"fontStyle":"normal","fontWeight":"500","letterSpacing":"0em"}}} /-->
    
    <!-- wp:group {"style":{"spacing":{"margin":{"top":"0px","bottom":"0px"},"blockGap":"15px"}},"layout":{"type":"flex"}} -->
    <div class="wp-block-group" style="margin-top:0px;margin-bottom:0px"><!-- wp:comment-date /-->
    
    <!-- wp:comment-edit-link /--></div>
    <!-- /wp:group -->
    
    <!-- wp:comment-content /-->
    
    <!-- wp:comment-reply-link /--></div>
    <!-- /wp:column --></div>
    <!-- /wp:columns -->
    <!-- /wp:comment-template -->
    
    <!-- wp:comments-pagination -->
    <!-- wp:comments-pagination-previous /-->
    
    <!-- wp:comments-pagination-numbers /-->
    
    <!-- wp:comments-pagination-next /-->
    <!-- /wp:comments-pagination -->
    
    <!-- wp:post-comments-form /--></div>
    <!-- /wp:comments --></div>
    <!-- /wp:group -->
    
    <!-- wp:spacer {"height":"7vh"} -->
    <div style="height:7vh" aria-hidden="true" class="wp-block-spacer"></div>
    <!-- /wp:spacer -->
    
    <!-- wp:template-part {"slug":"footer-accent","theme":"bagberry"} /-->