<!-- wp:template-part {"slug":"header","theme":"bagberry"} /-->

<!-- wp:spacer {"height":"6vh"} -->
<div style="height:6vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:group {"layout":{"inherit":true,"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:group {"style":{"spacing":{}},"layout":{"type":"constrained"}} -->
<div class="wp-block-group"><!-- wp:query-title {"type":"archive","textAlign":"left","showPrefix":false,"style":{"spacing":{"margin":{"bottom":"40px"}}},"fontSize":"medium"} /-->

<!-- wp:term-description {"textAlign":"left","fontSize":"large"} /--></div>
<!-- /wp:group -->

<!-- wp:group {"align":"wide","layout":{"type":"constrained"}} -->
<div class="wp-block-group alignwide"><!-- wp:template-part {"slug":"products-filter","theme":"bagberry","align":"wide"} /-->

<!-- wp:separator {"backgroundColor":"accent-border","className":"is-style-wide"} -->
<hr class="wp-block-separator has-text-color has-accent-border-color has-alpha-channel-opacity has-accent-border-background-color has-background is-style-wide"/>
<!-- /wp:separator -->

<!-- wp:woocommerce/legacy-template {"template":"archive-product"} /--></div>
<!-- /wp:group --></div>
<!-- /wp:group -->

<!-- wp:spacer {"height":"10vh"} -->
<div style="height:10vh" aria-hidden="true" class="wp-block-spacer"></div>
<!-- /wp:spacer -->

<!-- wp:template-part {"slug":"footer-additional","theme":"bagberry"} /-->