.edit-post-visual-editor .block-library-block__reusable-block-container .is-root-container{
  padding-left:0;
  padding-right:0;
}
.edit-post-visual-editor .block-library-block__reusable-block-container .block-editor-writing-flow{
  display:block;
}
.edit-post-visual-editor .block-library-block__reusable-block-container .components-disabled .block-list-appender{
  display:none;
}

.edit-post-visual-editor .block-editor-block-list__block:not(.remove-outline).is-reusable.is-highlighted,.edit-post-visual-editor .block-editor-block-list__block:not(.remove-outline).is-reusable.is-selected{
  box-shadow:inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-block-synced-color);
}
.edit-post-visual-editor .block-editor-block-list__block:not(.remove-outline).is-reusable.block-editor-block-list__block:not([contenteditable]):focus:after{
  box-shadow:0 0 0 var(--wp-admin-border-width-focus) var(--wp-block-synced-color);
}
.is-dark-theme .edit-post-visual-editor .block-editor-block-list__block:not(.remove-outline).is-reusable.block-editor-block-list__block:not([contenteditable]):focus:after{
  box-shadow:0 0 0 var(--wp-admin-border-width-focus) #fff;
}