/* Colorpicker dialog specific CSS */

#preview {
	float: right;
	width: 50px;
	height: 14px;
	line-height: 1px;
	border: 1px solid black;
	margin-left: 5px;
}

#colorpicker {
	float: left;
	cursor: crosshair;
}

#light {
	border: 1px solid gray;
	margin-left: 5px;
	float: left;
	width: 15px;
	cursor: crosshair;
}

#light div {
	overflow: hidden;
}

#previewblock {
	float: right;
	padding-left: 10px;
	height: 20px;
}

.panel_wrapper div.current {
	height: 175px;
}

#namedcolors {
	width: 150px;
}

#namedcolors a {
	display: block;
	float: left;
	width: 10px; height: 10px;
	margin: 1px 1px 0 0;
	overflow: hidden;
}

#colornamecontainer {
	margin-top: 5px;
}