/**
 * Colors
 */
/**
 * Breakpoints & Media Queries
 */
/**
 * SCSS Variables.
 *
 * Please use variables from this sheet to ensure consistency across the UI.
 * Don't add to this sheet unless you're pretty sure the value will be reused in many places.
 * For example, don't add rules to this sheet that affect block visuals. It's purely for UI.
 */
/**
 * Colors
 */
/**
 * Fonts & basic variables.
 */
/**
 * Grid System.
 * https://make.wordpress.org/design/2019/10/31/proposal-a-consistent-spacing-system-for-wordpress/
 */
/**
 * Dimensions.
 */
/**
 * Shadows.
 */
/**
 * Editor widths.
 */
/**
 * Block & Editor UI.
 */
/**
 * Block paddings.
 */
/**
 * React Native specific.
 * These variables do not appear to be used anywhere else.
 */
/**
 * Breakpoint mixins
 */
/**
 * Long content fade mixin
 *
 * Creates a fading overlay to signify that the content is longer
 * than the space allows.
 */
/**
 * Focus styles.
 */
/**
 * Applies editor left position to the selector passed as argument
 */
/**
 * Styles that are reused verbatim in a few places
 */
/**
 * Allows users to opt-out of animations via OS-level preferences.
 */
/**
 * Reset default styles for JavaScript UI based pages.
 * This is a WP-admin agnostic reset
 */
/**
 * Reset the WP Admin page styles for Gutenberg-like pages.
 */
.wp-block-buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 0.5em;
  /* stylelint-disable indentation */
}
.wp-block-buttons.is-vertical {
  flex-direction: column;
}
.wp-block-buttons.is-vertical > .wp-block-button {
  /*rtl:ignore*/
  margin-right: 0;
}
.wp-block-buttons.is-vertical > .wp-block-button:last-child {
  margin-bottom: 0;
}
.wp-block-buttons > .wp-block-button {
  display: inline-block;
  /*rtl:ignore*/
  margin-left: 0;
  /*rtl:ignore*/
  margin-right: 0.5em;
  margin-bottom: 0.5em;
}
.wp-block-buttons > .wp-block-button:last-child {
  /*rtl:ignore*/
  margin-right: 0;
}
.wp-block-buttons.is-content-justification-left {
  justify-content: flex-start;
}
.wp-block-buttons.is-content-justification-left.is-vertical {
  align-items: flex-start;
}
.wp-block-buttons.is-content-justification-center {
  justify-content: center;
}
.wp-block-buttons.is-content-justification-center.is-vertical {
  align-items: center;
}
.wp-block-buttons.is-content-justification-right {
  justify-content: flex-end;
}
.wp-block-buttons.is-content-justification-right > .wp-block-button {
  /*rtl:ignore*/
  margin-left: 0.5em;
  /*rtl:ignore*/
  margin-right: 0;
}
.wp-block-buttons.is-content-justification-right > .wp-block-button:first-child {
  /*rtl:ignore*/
  margin-left: 0;
}
.wp-block-buttons.is-content-justification-right.is-vertical {
  align-items: flex-end;
}
.wp-block-buttons.is-content-justification-space-between {
  justify-content: space-between;
}
.wp-block-buttons.aligncenter {
  text-align: center;
}
.wp-block-buttons.alignleft .wp-block-button {
  /*rtl:ignore*/
  margin-left: 0;
  /*rtl:ignore*/
  margin-right: 0.5em;
}
.wp-block-buttons.alignleft .wp-block-button:last-child {
  /*rtl:ignore*/
  margin-right: 0;
}
.wp-block-buttons.alignright .wp-block-button {
  /*rtl:ignore*/
  margin-right: 0;
  /*rtl:ignore*/
  margin-left: 0.5em;
}
.wp-block-buttons.alignright .wp-block-button:first-child {
  /*rtl:ignore*/
  margin-left: 0;
}
.wp-block-buttons:not(.is-content-justification-space-between,
.is-content-justification-right,
.is-content-justification-left,
.is-content-justification-center) .wp-block-button.aligncenter {
  /* stylelint-enable indentation */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0.5em;
  width: 100%;
}

.wp-block-button.aligncenter {
  text-align: center;
}