.editor-styles-wrapper,.entry-content{
  counter-reset:footnotes;
}

[data-fn].fn{
  counter-increment:footnotes;
  display:inline-block;
  font-size:smaller;
  text-indent:-9999999px;
  vertical-align:super;
}

[data-fn].fn:after{
  content:"[" counter(footnotes) "]";
  float:right;
  text-indent:0;
}